[2021-01-08 07:21] DhairyaBahl opened #1 "Add Padding in the messages"
All the messages looks very messy. There should be padding ( space between messages and border ) .

- Add padding of 10-20 px in the messages.

[2021-01-08 07:24] DhairyaBahl opened #2 "Messages must be shown from the bottom of the page."
Screen shows messages from top by default. It should show the messages from the bottom when the page refreshes. So that we don't have to go to the bottom of the page manually like we do now.

- Add new feature so it refreshes at the bottom of the page by default.

[2021-01-08 10:50] DhairyaBahl opened #3 "Wrong Alignment in Desktop View"
This App is created by keeping the phone view in mind and because of that some features broke in the desktop view.

- [ ] "Messenger" heading and its logo should be in center
- [ ] dark mode icon should be in the right corner.

For Reference look at the android view of the app.

[2021-01-08 10:59] DhairyaBahl opened #4 "Proper Authentication"
Currently the app takes name in the beginning to verify the user. devise a way to add some sort of phone or google authentication.

[2021-01-08 11:40] DhairyaBahl opened #5 "Better UI colors"
Current colors of the app not look very professional. Suggestion Open for better UI colors.

[2021-01-10 17:34] Jwright707 commented on #1
Hi @DhairyaBahl , I would like to work on this. 👍

[2021-01-10 17:47] DhairyaBahl commented on #1
@Jwright707 .  Go ahead and tell me if you need any help. 👍

[2021-01-10 20:04] #1 closed

[2021-01-11 06:49] DhairyaBahl opened #7 "Delete Message"
I think there should be a delete feature for individual messages so that user can delete the message they don't want. It should be a deletion from database or just from the client side that's the question !!

Suggestions Open !! :smile:

[2021-01-11 06:54] DhairyaBahl opened #8 "Mobile Support for the application"
There should be android support for the application. Suggested to use react native because this is a react messenger application but suggestions open for other android development tools i.e. flutter , etc

[2021-01-12 07:15] DhairyaBahl opened #9 "Dark Mode New Features"
New features should be added to the dark mode to enhance the effectiveness of that mode. Following is the list of the features to be added. Suggestions open for more features for the dark mode.

- [ ] Change Background image to [this](https://i.pinimg.com/originals/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg) on toggling dark mode
- [ ] If new image makes the text invisible, then choose the new

[2021-01-13 16:02] DhairyaBahl commented on #4
Google authentication might be the best option or we can also use phone number authentication using firebase if that is an option.

[2021-01-21 14:51] #9 closed

[2021-01-21 15:17] DhairyaBahl opened #11 "White Border in Dark Theme"
### ISSUE

There should be a white border in the dark mode at the bottom of the header and at the top of the footer. This is because we are unable to differentiate header and footer in the dark mode due to dark background.

### Picture of the issue

![issue-11](https://user-images.githubusercontent.com/71627983/105370327-7d44af80-5c29-11eb-9814-f6636699af8b.png)

### How This Can Be Resolved ?

-

[2021-01-21 15:23] DhairyaBahl opened #12 "Responsive Or Not ??"
The message box should be responsive or not i.e. it's size should vary according to the message length or box should have a static size ??

Suggestions Open !!

[2021-01-21 20:52] paveldarii opened #13 "When I send a message, it should appear on the top of the footer."
Can I start to work on this issue?

[2021-01-22 09:17] DhairyaBahl commented on #13
@paveldarii Are you trying to say that on every new message the page should automatically scroll to the bottom ? If yes, then I can assign you to the issue #2 . Otherwise, kindly explain what are you trying to say !

Thank You for having interest in my project ❤️

[2021-01-25 02:22] paveldarii commented on #13
Yes @DhairyaBahl, I will try to fix this.

[2021-01-25 08:57] DhairyaBahl commented on #13
@paveldarii Assigned !! Go Ahead.

[2021-01-25 11:10] DhairyaBahl opened #14 "Uploading something else"
Currently we can just send messages to the database. There should be a way through which we can upload something else like images or documents.

Devise a feature or method through which we can upload something else than just the text messages. either it should be shown or it should be downloadable.

[2021-02-08 09:03] DhairyaBahl opened #15 "Someone is typing"
**Show "xyz" is typing**

When someone is typing then it should show that xyz person is typing. This "xyz" is the name which the user will enter in the prompt at the time of opening the website. Also suggest alignment to show this message. Discussion open for the issue.

[2021-02-08 09:08] DhairyaBahl opened #16 "Timestamps ( Time only )"
### Description

Devise a method to show the timestamps.

### Suggestion

They should be at the right bottom of the box. which should contain only the time the message was sent ( not the day and date )

### Related Images

As we can see in this whatsapp example. There are timestamps at the end of messages. :thinking:

![whatsapp](https://user-images.githubusercontent.com/71627983/107198987-d54a270

[2021-02-08 11:57] wandering-sage commented on #16
Instead of timestamping the exact time in that msg, it would be better to have how old that certain msg was.
For eg.
the msg box will say 3 hrs ago or 4 days ago
like in youtube comments
![Capture](https://user-images.githubusercontent.com/61676848/107216283-907dba80-6a32-11eb-98e4-08fb5d93a7a8.PNG)

[2021-02-08 12:14] DhairyaBahl commented on #16
@wandering-sage Well ! That's a great Idea :thinking: :fire: . Thanks for the suggestion :heart: .

[2021-02-08 12:30] DhairyaBahl opened #17 "Better Logo and a Better Name"
### Description

This project is currently using "Facebook messenger logo" and having name just "messenger" .

**Suggestions Open for new name and logo**

[2021-02-08 12:49] wandering-sage commented on #16
do you have discord or some other way of contact?
I have made some changes to your project
There were 2 errors, removed them

![Capture1](https://user-images.githubusercontent.com/61676848/107221730-06395480-6a3a-11eb-9810-8f6aecc894d7.PNG)

[2021-02-08 12:58] DhairyaBahl commented on #16
@wandering-sage My discord username and tag is TSMentMUI#2973 . You can add me as friend :smile: .

[2021-02-08 13:16] DhairyaBahl opened #18 "Text is overflowing"
### Description

Text overflows out of the box on writing long text .

![1212](https://user-images.githubusercontent.com/71627983/107225178-7ea21480-6a3e-11eb-8924-637d0c6d5132.PNG)

### Tips to solve

Box should be responsive.

[2021-02-08 16:23] #18 closed

[2021-02-08 16:25] #16 closed

[2021-02-09 10:54] DhairyaBahl opened #20 "Responsive width of message Box"
### Description

We are currently having fixed width of Message Box although height is varying . Fixed width was done so that It will look neater. But now we are having timestamps, so how about the responsive width also. I mean If a certain width is crossed then, increase its height. I am not totally sure about this idea.

So suggestions open !!

I am adding picture of current status of the web-ap

[2021-02-09 10:58] DhairyaBahl opened #21 "Bolder Messages"
### Description

Currently messages are looking very light so it would be great to increase the font-weight of the messages.

### Current Status

![SS](https://user-images.githubusercontent.com/71627983/107353961-a1423500-6af3-11eb-9c0e-4524f67817c7.png)

### Don't Forget

After fixing the issue or making a pull request for the issue. don't forget to add a ScreenShot of the new look.

[2021-02-11 09:38] #21 closed

[2021-02-11 09:46] sagrawal9689 commented on #20
Can I try this.

[2021-02-11 09:50] DhairyaBahl commented on #20
@sagrawal9689 Of course !! Go Ahead :smile:

[2021-02-11 13:17] #20 closed

[2021-02-12 07:11] sagrawal9689 commented on #15
Hey @DhairyaBahl I was thinking on how to do this. Can we do it like this, whenever the input state is changed we can push the name of the user in a collection (firebase collection that stores names of people typing). And remove the name in just 0.1 or 0.2 seconds. We can show the names of people typing at the end messages as we did for messages.
what do u say :confused:

[2021-02-12 08:12] DhairyaBahl commented on #15
@sagrawal9689 I think you are in a right direction but

1.  I don't get your point to remove the name in just 0.1 seconds. Why are we doing that ?

2. We have two options: first is we should just show the name of one person who is typing randomly like in whatsapp. second option is we should show names of every person who is typing like in discord. Either way will be perfect.

3. If you intend to w

[2021-02-12 11:55] sagrawal9689 commented on #15
@DhairyaBahl yeah 0.1 is too small.

I meant that once input state is changed we display that the user is typing, but we need to know weather user has stopped typing or not.
For doing this whenever input state is changed we check weather this user is present in Typing list or not, If it is already present we do nothing , if it is not present we insert the username in the list and set timer to remo

[2021-02-12 12:04] DhairyaBahl commented on #15
@sagrawal9689 It sounds perfect to me. Go ahead :fire:

[2021-02-19 10:59] #2 closed

[2021-02-22 05:49] DhairyaBahl opened #25 "Read More"
### Description

Currently this app shows full messages, it doesn't matter how long they are, chat will show full message. How about read more kind of a thing which will be great for the app.

### Example Picture

![readmore](https://user-images.githubusercontent.com/71627983/108667775-e3aa3f80-74ff-11eb-92a3-0a0641b7bf73.jpg)

[2021-03-01 14:48] vieee commented on #11
Hi @DhairyaBahl, I would like to work on this as a GSSoC participant, could I proceed with it ?

[2021-03-01 15:06] DhairyaBahl commented on #11
@vieee Go Ahead ! Ping me if you need any help or want to discuss something, I would love to help !

[2021-03-03 11:43] Karan-29 commented on #17
Hello. I would like to suggest a name for this app. I think its a great project and i would like to contribute. Please guide me through the steps to make my first contribution. Thank you

[2021-03-03 14:49] DhairyaBahl commented on #17
@Karan-29 Hello 😄

1. Go Ahead Think of a name for the app and if that name seems to be good then I will definitely take that in consideration.

2. Secondly, to get you started with the code base you must fork the repo and find an issue if you can solve it. Otherwise, you can tell me about your tech stack so that we can get you started.

Happy Learning 🙌🔥

[2021-03-04 16:25] Shwetang550 commented on #11
Is this issue resolved ?
I can also help in this issue :)

[2021-03-04 16:27] Shwetang550 commented on #5
As a GSSoC'21 participant I'ld love to contribute to this part of the project 😄

[2021-03-04 16:31] Shwetang550 commented on #7
We can add a delete Icon to each message so the user can delete only his/her text... And deletion I guess deletion from database will be work good as through this the privacy of the user is maintained

[2021-03-05 08:15] DhairyaBahl commented on #7
@Shwetang550 Exactly ! That was the feature I imagined. You can work on this issue if you want. Kindly tell me if I should assign this to you or not 😄

[2021-03-05 08:17] DhairyaBahl commented on #5
@Shwetang550 I would highly recommend that you should work on one issue at a time but you can always give suggestions for better UI colors. I will see them and If they look good then you can create a PR for that !

[2021-03-05 08:18] DhairyaBahl commented on #11
@Shwetang550 Sorry but this issue is being resolved by @vieee right now ! kindly take a look at some other issue.

[2021-03-05 08:19] DhairyaBahl commented on #11
@vieee What is the status ? any doubts ? Kindly interact with me as much as possible so that I will be able to guide you in a better way ! 🔥

[2021-03-05 09:43] Shwetang550 commented on #5
Okay :)

[2021-03-05 09:48] Shwetang550 commented on #7
It would be my pleasure to work on this issue :)

but I can only place a PR when the coding period of GSSoC'21 start, i.e, on or after 8th of March... will that be fine ?

[2021-03-05 09:56] DhairyaBahl commented on #7
@Shwetang550 I understand ! You can start working on the issue after 8th of march 😄 👍

[2021-03-05 09:59] Shwetang550 commented on #7
Thanks 😄
Then please assign this issue to me

[2021-03-05 10:01] DhairyaBahl commented on #7
@Shwetang550 Assigned !

[2021-03-05 11:08] Subhangini commented on #12
It should be responsive  It will make it more user friendly

[2021-03-05 11:16] DhairyaBahl commented on #12
@Subhangini Do share the changes that you made in your local system. If they look good then I will definitely merge those changes in the codebase.

Happy Learning 🔥

[2021-03-05 12:12] Subhangini commented on #12
I had not made any .I thought its only for discussion and i was giving my views.

[2021-03-05 12:50] DhairyaBahl commented on #12
@Subhangini Thank you for the suggestion ! 🔥 You can create a PR for it if you want that what I am saying 😄

[2021-03-05 13:49] Subhangini commented on #12
OK  :thumbsup:

[2021-03-06 22:26] vieee commented on #11
Hi @DhairyaBahl, just submitted a PR for the issue.

[2021-03-06 22:30] vieee commented on #12
Hello @DhairyaBahl, could I work on this issue ?

[2021-03-07 04:43] DhairyaBahl commented on #12
@vieee I can't assign anyone to this as this is suggestion type issue. You can give your suggestions for this and make a pr if you want to support your answer. Best suggestion will be taken in consideration.

Hope you guys can understand 🔥 😄

[2021-03-07 14:27] vieee commented on #3
Hey @DhairyaBahl, I would like to work on this issue, could I ?

[2021-03-08 03:08] Aniket1103 opened #29 "Fix Background image scrolling issue"
Currently, when we scroll the messages the background image too gets scrolled along with the messages. I was thinking this app should have a fixed background image. i.e. Background image shouldn't get scrolled along with the messages (like for example in WhatsApp), also later we can add a feature of providing an option to the user to change the background image.

[2021-03-08 03:09] Aniket1103 commented on #29
I will like to fix this issue as a part of GSsoc21, please assign it to me.

[2021-03-08 03:15] DhairyaBahl commented on #3
@vieee Assigned ! Go ahead and make a PR 😄

[2021-03-08 03:26] DhairyaBahl commented on #29
@Aniket1103 Thanks for noticing it. Kindly fix that !  🔥 😄

[2021-03-08 06:12] Aniket1103 commented on #29
I fixed it, now should I create a pull request?
Kindly guide me a bit coz I am contributing for the first time

[2021-03-08 08:55] shreyanshi16 commented on #25
Hey @DhairyaBahl, I would like to work on this issue, could I?

[2021-03-08 13:06] DhairyaBahl commented on #25
@shreyanshi16 Assigned ! Go Ahead and make a PR 😄 👍

[2021-03-08 15:30] robin025 opened #31 "Feature for adding authentication and creating different chat groups for users"
hey I am GSSoC 21 participant and would like to add a new feature to this app like adding an authentication system with an option for creating personal chat channels which will be fully secured

I would like to work on this new feature
thanking you
looking forward to your reply

[2021-03-08 15:47] GuptaTanisha commented on #14
Can I work on this?

[2021-03-08 16:00] Himanshu16Singh opened #32 "favicon and App Title"
Can I make PR for favicon and app title ?

[2021-03-08 16:44] DhairyaBahl commented on #31
@robin025 That would be pretty awesome for the app ! Go Ahead ! 😄 🔥

[2021-03-08 16:45] DhairyaBahl commented on #14
@GuptaTanisha Ofcourse ! Go Ahead 😄 👍

[2021-03-08 16:46] DhairyaBahl commented on #32
@Himanshu16Singh

Feel free to make a PR ! I will definitely review your changes ! Don't forget to add some screenshots of the changes you make !

Thanks 😄

[2021-03-08 17:12] SanskritiKushik5 commented on #5
Can I suggest a better UI (colors)?!
As a GSSOC'21 participant, I would really love to do that!

[2021-03-08 17:19] DhairyaBahl commented on #5
@SanskritiKushik5 this is a discuss labelled issue so you can definitely give your suggestions. If they look good for the app then I will definitely merge them in the codebase. 😄 👍

[2021-03-08 17:40] Arshanshagarwal opened #33 "improving the text message bar"
Currently, the "write your message" bar does not look that appealing, it can be improved.

[2021-03-08 17:41] Arshanshagarwal commented on #33
I will like to fix this issue as a part of GSsoc21, please assign it to me.

[2021-03-08 17:42] DhairyaBahl commented on #33
@Arshanshagarwal Yes ! that's a great idea . You can work on this issue 😄

[2021-03-08 18:06] Himanshu16Singh commented on #32
Okay

[2021-03-08 19:28] dhananjaysahu79 commented on #17
I would like to suggest some name:
1. Abstract
2. RogerThat
3. DogeChat :)
4. Okiedoke
5. ReConvo

[2021-03-09 04:05] DhairyaBahl commented on #17
@dhananjaysahu79 Thank you for all the suggestions ! I will check them out !

[2021-03-09 06:22] SanskritiKushik5 commented on #5
1. We can use glass morphism for chats which will really look classic.
2. We can round up the border of the text input box, and lighten the color of the placeholder.
3. In the light mode, the input box isn't properly visible(or eye-catching), so we can change the color contrast for better visibility.
4. The color of the Header and Footer can be a bit darkened in light mode.. which can make the app

[2021-03-09 06:25] DhairyaBahl commented on #5
@SanskritiKushik5 You wrote in the perfect way 😄. I think you can work on this issue and I am assigning this to you. Feel free to ask if you have any more doubts. All of your ideas seems great to me. Go Ahead and make a PR and don't forget to add the screenshots of the changes that you make.

All the best 👍

[2021-03-09 06:26] SanskritiKushik5 commented on #5
Thank you Sir!

[2021-03-09 07:14] #4 closed

[2021-03-09 07:15] DhairyaBahl commented on #29
@Aniket1103 You did everything perfectly. Thanks for contributing 😄

[2021-03-09 07:15] #29 closed

[2021-03-09 14:20] feni-katharotiya commented on #32
@Himanshu16Singh Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:23] feni-katharotiya commented on #17
@DhairyaBahl  Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:26] feni-katharotiya commented on #14
@DhairyaBahl . Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:35] feni-katharotiya commented on #12
the massage box's  length should be dynamic and it is made-up by dynamic algorithm ..
and  it is also useful memory management

[2021-03-09 14:38] feni-katharotiya commented on #8
@DhairyaBahl Hello, I am gssoc participant and would like to work on this issue.

[2021-03-09 14:44] DhairyaBahl commented on #17
@feni-katharotiya This is a suggestion type issue. So suggestions open but this issue can't be assigned to anyone.

Hope You Understand 😄 👍

[2021-03-09 14:45] DhairyaBahl commented on #14
@GuptaTanisha is already working on this issue.

[2021-03-09 14:54] DhairyaBahl commented on #8
@feni-katharotiya You can definitely work on this issue. Kindly tell me the tech stack which you will be using for this issue.

[2021-03-09 15:26] riddhisiddarkar opened #38 "Improving the header"
Hey! I feel the header can be improved a bit by changing the alignment and the fonts.

I'm a GSSO'21 participant could you assign this to me.

Looking forward to your response. Thank you!

[2021-03-09 16:11] DhairyaBahl commented on #38
@riddhisiddarkar No issues !

[2021-03-09 16:15] lopeselio opened #39 "Can we setup the boilerplate for the react native app, since it has been mentioned in the GSSoC description?"
I wanted to setup the mobile app for the same app

[2021-03-09 17:22] riddhisiddarkar opened #40 "Improving the look of messages"
The messages block could be changed to get a better feel of text messages as shown in the picture below.

![image](https://user-images.githubusercontent.com/59356132/110510933-b5487900-8129-11eb-8436-26fd4fb02b6e.png)

It would be great if you could let me know any feedback on this.

I'm a participant of GSSOC'21. Can you please assign me this issue.

Thank you. Waiting to hear from you.

[2021-03-09 18:22] AakankshaKamal opened #42 "Emoji picker+Additional Themes"
We can add an emoji picker in this chat app. Besides light and dark theme we could add multicolor themes based on users choice to this.I would like to work on this issue as a GSSOC 21 participant.Please assign me this.

[2021-03-09 20:24] Sanchit-Soni opened #44 "Redesign UI and Improvements"
1.The colour combination of the page can be improved a lot.
2.The Name and logo can also be changed and also the styles of the message can also be improved a lot.
3.Choosing the matching font.
4.Firebase Authentication can also be added.

[2021-03-09 20:26] Sanchit-Soni commented on #44
I can work on this issue.

[2021-03-10 07:34] DhairyaBahl commented on #42
@AakankshaKamal Assigned ! Thanks for the suggestion . Feel free to ping me if you have any doubt related to the issue.

All the best 😄

[2021-03-10 07:37] AakankshaKamal commented on #42
Thanks for assigning me this, looking forward to work upon it. I would like to ask do we have any separate group for this project discussion?

[2021-03-10 07:42] DhairyaBahl commented on #42
@AakankshaKamal I will look into it and I will add the gssoc label soon to this issue.

[2021-03-10 08:07] DhairyaBahl commented on #44
@Sanchit-Soni all of these issues are already being solved by someone and issue means a single issue not a group of issues. So try to find an unassigned issue or create new one on which nobody is working on right now !

Thanks :)

[2021-03-10 10:36] Sanchit-Soni commented on #44
okay!

[2021-03-10 10:36] #44 closed

[2021-03-10 12:43] DhairyaBahl commented on #39
@lopeselio Someone is already working on this issue and creating the native app for the same. Do check out some other issues or create your own like this.

Happy Learning 😄

[2021-03-10 12:43] #39 closed

[2021-03-10 12:53] lopeselio commented on #39
Can I have the link to the same repo? So that I can contribute to it as well.

[2021-03-10 12:55] DhairyaBahl commented on #39
That repo is not the part of the GSSOC 2021. So sorry ! But if you want then I can talk to the gssoc organisers about that !

[2021-03-10 12:58] lopeselio commented on #39
Tbh, this was the only react/react native project for gssoc I guess. That's why I asked.

[2021-03-10 13:48] DhairyaBahl commented on #40
@riddhisiddarkar Someone is already working to improve the UI of the App. Why don't you choose some other issue ? or you can always create new issues like this ! I don't have any problem with that.

Thanks for having interest in my project 😄

[2021-03-10 13:59] #32 closed

[2021-03-10 17:20] bhubesh757 opened #45 "Adding a Onboarding Screen To the App"
If We install the App , we See some Onboarding Screen , I will Design it using and Code in React Native , the thing is it Comes only once after install ing the app

You can Check my Samples from here
https://github.com/bhubesh757/React-Native-Tuts/tree/main/socialapp/onboardingreactnative

[2021-03-10 17:40] dig9074vijay opened #46 "Placement of theme button in the navbar"
Hey @DhairyaBahl !
I just noticed that the button to change the theme is not aligned properly in the navbar.
I would like to align it with the messenger logo. [GSSOC`21 participant]
<img width="1439" alt="Screenshot 2021-03-10 at 11 10 13 PM" src="https://user-images.githubusercontent.com/55308273/110672569-c6f75280-81f5-11eb-94c2-b758fde54b71.png">

[2021-03-10 17:44] DhairyaBahl commented on #46
@dig9074vijay I am sorry but someone is already working on this same issue.

[2021-03-10 17:44] #46 closed

[2021-03-10 17:46] dig9074vijay opened #48 "Change default site title and favicon"
Hey @DhairyaBahl !
I just noticed that we are still using the default the site title and favicon provided with the React boilerplate code.
I think we should change it to something matching our site's objective. [GSSOC`21 participant]
<img width="203" alt="Screenshot 2021-03-10 at 11 16 22 PM" src="https://user-images.githubusercontent.com/55308273/110673313-a1b71400-81f6-11eb-8f48-e3fe9b573dd2.png

[2021-03-10 17:48] dig9074vijay commented on #46
Oh got it!

[2021-03-10 17:48] DhairyaBahl commented on #48
@dig9074vijay You can change the favicon because title is already fixed ! Thanks :)

[2021-03-10 17:58] dig9074vijay commented on #48
@DhairyaBahl I just went through the issues . This issue existed before and has been fixed already.

[2021-03-10 18:20] ankita-04 opened #49 "Enhancement of the footer component"
![image](https://user-images.githubusercontent.com/45062304/110674760-39693200-81f8-11eb-9ce8-274dd8701f0d.png)

 Here, I want to modify the text input field and send button at the footer. Please assign me these issues. I am a GSSOC'21 participant.

[2021-03-11 02:41] DhairyaBahl commented on #48
@dig9074vijay You are absolutely right ! and I just deployed all the changes to the website but still favicon is not changed. You can check it out that  what exactly the error is ! and why favicon is not showing up !

[2021-03-11 05:04] dig9074vijay commented on #48
Yeah! Thanks @DhairyaBahl I would like to look into it.😁

[2021-03-11 05:08] DhairyaBahl commented on #48
@dig9074vijay Then I will assign you this issue.

[2021-03-11 06:13] abhijeet007rocks8 opened #50 "Tagging a Previous Message"
In order to reply to or use previous message as reference.
Need to add feature to tag the Message.

[2021-03-11 07:02] dig9074vijay opened #51 "Messenger logo is distorted in Safari"
### **In Safari:**
<img width="1440" alt="Screenshot 2021-03-11 at 12 27 33 PM" src="https://user-images.githubusercontent.com/55308273/110748063-3e17ff80-8265-11eb-96f3-9be9d3477971.png">

### **In Chrome:**

<img width="1440" alt="Screenshot 2021-03-11 at 12 29 58 PM" src="https://user-images.githubusercontent.com/55308273/110748290-86cfb880-8265-11eb-97b6-640d36d43b3d.png">

@DhairyaBahl I woul

[2021-03-11 07:04] DhairyaBahl commented on #51
@dig9074vijay Go Ahead !

[2021-03-11 08:51] #5 closed

[2021-03-11 08:52] DhairyaBahl commented on #5
@SanskritiKushik5 Thanks for solving this issue.

[2021-03-11 08:53] SanskritiKushik5 commented on #5
Welcome!

[2021-03-11 08:55] abhijeet007rocks8 opened #53 "Profile Picture of sender beside messages"
The profile pic of the sender should be beside the message he/she sends.
As in facebook messenger

[2021-03-11 09:02] DhairyaBahl commented on #49
@ankita-04 Sorry but UI of the app is completely changed. Kindly recheck the website and suggestions are still open. For the time being i am closing this issue. Feel free to open another if you want to suggest something.

Happy Learning 😄

[2021-03-11 09:02] #49 closed

[2021-03-11 09:39] abhijeet007rocks8 opened #55 "Fix Header title font for mobile devices."
Header title should reduce font size for mobile devices (medium to small screens)
![Screenshot (2415)](https://user-images.githubusercontent.com/64676594/110764183-c05def00-8278-11eb-997b-7cd3f8c9f83f.png)
Currently the Messenger title covers up the entire header

[2021-03-11 11:01] ankita-04 opened #59 "Fix the styling of footer component."
![image](https://user-images.githubusercontent.com/45062304/110776719-649a6280-8286-11eb-8d97-c8cbef064027.png)

Hey @DhairyaBahl, the text input field along with the color combination in the footer looks really dull. Please, assign me to fix these issues.

[2021-03-11 11:03] DhairyaBahl commented on #59
@ankita-04 If you have better color combination than these then I will definitely merge them.

All the best 🙂🔥

[2021-03-11 11:14] AnshMishra2001 commented on #53
Can I work pn this issue?

[2021-03-11 11:30] DhairyaBahl commented on #53
@AnshMishra2001 Ofcourse ! Go Ahead :)

[2021-03-11 13:03] satyabhagavan commented on #17
![logo](https://user-images.githubusercontent.com/66621211/110791287-0c6c5c00-8298-11eb-98fb-74733a3b787e.png)

look at this logo just tried 😅.

[2021-03-11 13:05] DhairyaBahl commented on #17
@abhijeet007rocks8 What do you say about this logo ?

[2021-03-11 13:46] abhijeet007rocks8 commented on #17
Is the name also changing ??
The idea is quite nice, just the width of arrows are different.

[2021-03-11 14:54] Ritu7683 opened #60 "Adding Search Option to search for a word/message - It's same as whatsapp search option"
Hii @DhairyaBahl I want to work on this issue .Kindly assign this to me

[2021-03-11 14:55] dhananjaysahu79 commented on #17
I would suggest you to first decide the name and then work on logo accordingly :)

[2021-03-11 15:00] DhairyaBahl commented on #60
@Ritu7683 Nice Idea 🔥 Go Ahead ! I will assign this issue to you.

[2021-03-11 15:01] DhairyaBahl commented on #17
The name of the project is very generic and It can't be changed as per the GSSoC guidelines. but we can always think of a better logo 🔥

[2021-03-11 15:06] Ritu7683 commented on #60
@DhairyaBahl Thank You

[2021-03-11 15:09] Himika-Mishra opened #61 "fixing the size of the message sent duration"
Hi @DhairyaBahl ,
I think the font size of the updated time while sending the message is too big as its distracting while reading the messages .
I think u got my point. If you will assign me I will start working on it and will communicate too if I get Stuck somewhere.
Thanks

[2021-03-11 15:10] DhairyaBahl commented on #61
@Himika-Mishra Yes! you can work on this issue :)

[2021-03-11 15:52] Himika-Mishra commented on #61
Thanx a lot!! And will fix the font style too to look more realistic .
Working on it!!

[2021-03-11 16:24] DhairyaBahl commented on #61
@Himika-Mishra All the best 🔥

[2021-03-11 16:46] Ritu7683 opened #62 "Building a sign in and sign up Page/Window"
I would like to work on this issue. Kindly assign this to me @DhairyaBahl

[2021-03-11 16:47] abhijeet007rocks8 commented on #17
The project name remains same just need to change the title in header and then we can proceed for logo which reflects the name.
what you say @DhairyaBahl

[2021-03-11 16:51] DhairyaBahl commented on #62
Are you talking about authentication in this issue ? @Ritu7683

[2021-03-11 16:53] DhairyaBahl commented on #17
@abhijeet007rocks8 If a good name comes up, then only we will change that.

[2021-03-11 17:04] Ritu7683 commented on #62
Yes ....Okay that's totally fine @DhairyaBahl

[2021-03-11 17:06] Ritu7683 commented on #62
@DhairyaBahl  Shall i delete this issue then ?

[2021-03-11 17:07] DhairyaBahl commented on #62
@Ritu7683 Yes you should ! sorry for inconvenience caused. Do checkout some other issues.

[2021-03-11 17:12] Ritu7683 commented on #62
@DhairyaBahl  I don't have the permission to delete this. Can you **delete** it?

[2021-03-11 17:13] DhairyaBahl commented on #62
@Ritu7683 No issues !

[2021-03-11 17:13] #62 closed

[2021-03-11 17:27] DhrutikPatel commented on #55
@abhijeet007rocks8  Can I work on it?

[2021-03-11 17:41] DhairyaBahl commented on #55
@DhrutikPatel Yes ofcourse ! go ahead 🔥

[2021-03-11 21:12] Himika-Mishra commented on #61
Hi , I forked this app in my repository through codesandbox..... 2 hrs
earlier I was able to see the messages and now i m not .
can u plz help me out.

thanks

On Thu, Mar 11, 2021 at 9:54 PM DhairyaBahl ***@***.***>
wrote:

[2021-03-11 21:25] Himika-Mishra commented on #61
Hi, the app link is not working too please check it out once.

On Fri, Mar 12, 2021 at 2:42 AM Himika Mishra ***@***.***>
wrote:

[2021-03-12 04:09] DhairyaBahl opened #63 "Shift from firebase to some other DB"
@abhijeet007rocks8 Kindly lead this issue.

[2021-03-12 04:10] DhairyaBahl commented on #31
@robin025 Are you still working on this issue ? this seems to be inactive to me ! Kindly reply because this issue needs to be resolved ASAP.

[2021-03-12 04:11] DhairyaBahl commented on #31
@abhijeet007rocks8 Kindly look into this issue as well !

[2021-03-12 04:12] robin025 commented on #31
Yes,I'm working on this

[2021-03-12 10:57] AnjaliPatle opened #64 "Add a dialog box for name input"
Hey! Currently we use a simple browser prompt to ask the user for their name. I would like to add a dialog box in place of the default prompt. I'll be using Material UI for this. Please let me know if I can work on this issue. I'm a GSSOC'21 participant.

[2021-03-12 11:03] robin025 commented on #31
@DhairyaBahl  i think you have to enable google authentication from firebase website so that i can implement auth functionality

[2021-03-12 11:07] AnjaliPatle opened #65 "Removing Text Overflow"
Hey! I noticed that the text inside the message box overflows in case of long messages. I'd like to work on this issue and remove the overflow. I'm a GSSOC'21 participant.

![image](https://user-images.githubusercontent.com/50516607/110932214-2fa71200-8351-11eb-90ef-1b442799faca.png)

[2021-03-12 12:03] DhairyaBahl commented on #64
@AnjaliPatle Ofcourse ! Go Ahead ! That would be pretty awesome

[2021-03-12 12:05] DhairyaBahl commented on #31
@robin025 I've now enabled the google authentication. Sorry for inconvenience.

[2021-03-12 12:07] DhairyaBahl commented on #65
@AnjaliPatle Yes you can start working on the issue.

[2021-03-12 12:23] DhairyaBahl opened #66 "Broken mobile Layout"
Android layout of this app must be fixed as soon as possible.

![WhatsApp Image 2021-03-12 at 5 51 19 PM](https://user-images.githubusercontent.com/71627983/110939617-b234cf00-835b-11eb-873e-7ac39146cbfd.jpeg)

[2021-03-12 12:56] Himika-Mishra opened #68 "Adding some text-boxes enhancements"
Hi,
@DhairyaBahl I want to make some changes to the textboxes while hovering onto them to make them look trendy.
It will become somewhat different from all the other messaging apps.
I think u got my point .
Kindly assign me this issue so that I can work on it ASAP.
thanks,
Himika Mishra

[2021-03-12 13:32] DhairyaBahl commented on #68
@Himika-Mishra I am assigning this issue to you but first try to merge the PR for your first issue. That way you will also not get confused between multiple issues. Hope you got my point.

All the best 🔥

[2021-03-12 13:54] robin025 commented on #31
Hey @DhairyaBahl I think there is some issue with the documents of the database because I have developed this app with the help of my firestorm so now i think that because the document structures and names in both the firestore are different, so it would be great if you can provide me the document structure of your firestore or just reset and delete all the documents from your firestore

[2021-03-12 14:09] rohank2502 opened #69 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:11] DhairyaBahl commented on #69
@rohank2502 Ofcourse ! Go Ahead .

[2021-03-12 14:31] rohank2502 commented on #69
Thanks !!

[2021-03-12 16:50] DhairyaBahl commented on #61
Thanks for solving this issue @Himika-Mishra . Do checkout other issues as well.

[2021-03-12 17:06] #25 closed

[2021-03-12 17:10] #51 closed

[2021-03-12 17:15] Hamza3226 commented on #15
Hello, I am a GSSOC'21 participant and would like to contribute to this project.

[2021-03-12 17:17] DhairyaBahl commented on #15
@Hamza3226 Someone is already assigned to this issue let me confirm from him if he is working on the issue or not ! if he is not working on this currently then I will definitely assign this to you.

@sagrawal9689 Are you still working on the issue ?

[2021-03-12 17:55] Himika-Mishra commented on #61
Thank you so much. yes I will checkout other issues too.

[2021-03-12 17:55] #61 closed

[2021-03-12 18:54] kunal-j10 commented on #50
Hey, @abhijeet007rocks8 @DhairyaBahl @JatinAgrawal94 @Jwright707 I am a gssoc'21 participant and would like to work on this issue, can you assign it to me

[2021-03-12 18:56] DhairyaBahl commented on #50
Assigned !

[2021-03-12 20:02] DhrutikPatel commented on #66
@DhairyaBahl can I work on it?

[2021-03-13 04:41] DhairyaBahl commented on #65
@AnjaliPatle What is the status ? Kindly keep me updated !

[2021-03-13 04:43] DhairyaBahl opened #74 "Better Background Image"
### Description

Currently the app is using whatsapp background images In light mode and also in the dark mode . Suggestions Open for background image for this App.

[2021-03-13 06:32] AnjaliPatle commented on #65
I've created a PR for this issue. Kindly checkout PR #75 .

[2021-03-13 09:47] AnjaliPatle commented on #74
What do you think about using similar kind of patterns for background? I have attached an example below.

![image](https://user-images.githubusercontent.com/50516607/111026178-077de880-840f-11eb-8147-e015b28667da.png)

![image](https://user-images.githubusercontent.com/50516607/111026165-f59c4580-840e-11eb-9a8b-30522f62924d.png)

[2021-03-13 09:54] DhairyaBahl commented on #74
@AnjaliPatle Images are pretty good but I think that it becomes a bit distracting in light mode ! what do you say ? Still I am waiting for few more suggestions.

[2021-03-13 11:52] #69 closed

[2021-03-13 13:16] SanjayDevTech commented on #74
Can u assign this to me?

[2021-03-13 13:34] abhijeet007rocks8 opened #77 "Native App Issue : Firebase Integration"
Create Firebase connection and login/signup feature.

1- Create a functional authentication feature.
2- Login screen will have 2 input fields namely email and password as
3- Sign up screen will have 3 fields email, password and image (for now)

(do not focus on css too much try to make functional)
Design the layout and update so that we can test with firebase connection.

[2021-03-13 14:00] abhijeet007rocks8 opened #78 "Native App Issue: Messages send and display component"
This component will render on successful login.
The layout will be similar to that of the web version-:  Refer <a href="mui-message.firebaseapp.com">Website</a>
Additional Feature-: the sender profile pic will be visible beside the message.

(Do not Focus on CSS too much in earlier phases)

[2021-03-13 14:48] divanshurox commented on #77
I would like to work on this.

[2021-03-13 14:49] abhijeet007rocks8 commented on #77
Go ahead @divanshurox

[2021-03-13 15:03] kunal-j10 commented on #77
@abhijeet007rocks8 I would like to work as a gssoc'21 participant

[2021-03-13 15:11] abhijeet007rocks8 commented on #77
This is assigned to @divanshurox
@kunal-j10  can work on the other issue for message

[2021-03-13 15:32] kunal-j10 commented on #78
@abhijeet007rocks8 I am open to working on this.

[2021-03-13 15:46] abhijeet007rocks8 commented on #78
Go Ahead @kunal-j10
Fork the Native-Branch and push updates to it

[2021-03-13 17:53] divanshurox commented on #77
@abhijeet007rocks8  please check the video that I have attached below, auth with image uploads works from my side.Should i put a PR?

https://drive.google.com/file/d/1inj8HmvKEPkgIoDHih_n4f7EgOv1qW4b/view?usp=sharing

[2021-03-13 19:00] abhijeet007rocks8 commented on #77
@divanshurox Great Work
Can you show the respective uploaded profile image on welcome screen along with email on the welcome screen??

[2021-03-13 19:03] divanshurox commented on #77
Sure. I will.

[2021-03-14 03:05] DhairyaBahl commented on #66
@DhrutikPatel Yes ! Go ahead

[2021-03-14 03:20] DhairyaBahl commented on #74
@SanjayDevTech Feel free to  give your suggestions but due to some reasons this issue can't be assigned to anyone. Although if your suggestion is chosen then this issue will be definitely assigned to you.

[2021-03-14 08:54] Himika-Mishra commented on #68
Okay thanx. I have done that and it got merged too.
Now will be working on this issue.

[2021-03-14 08:57] Himika-Mishra opened #81 "Change the Text box sizes"
Since in the current one the size of the textboxes are very big. so it is becoming for user to chat .
Please assign me to change it so that I start working on it. @DhairyaBahl

Thanks
Himika Mishra

[2021-03-14 08:59] Himika-Mishra opened #82 "enchance the text box colors"
I want to change the text box colors to somewhat glossy as to make it trendy and new.

Please assign this task to me so that I start working on it. @DhairyaBahl Please assign it to me.

Thanks
Himika Mishra

[2021-03-14 09:51] DhairyaBahl commented on #81
@Himika-Mishra Would love to have you working on the issue. All the best

[2021-03-14 09:51] DhairyaBahl commented on #82
@Himika-Mishra Assigned ! All the best 🔥

[2021-03-14 10:09] ShivamTyagi12345 opened #83 "Add emoji in text tab"
Hello@Mentor.

I would like to add an emoji button in text tab area.Preview attached.Plz assign under gssoc21, if interests u.
Thanks

![Screenshot (154)](https://user-images.githubusercontent.com/60812924/111064620-116d1d80-84db-11eb-9f87-1829cbaae281.png)

[2021-03-14 10:13] DhairyaBahl commented on #83
@ShivamTyagi12345 All the best !

[2021-03-14 12:51] khareyash05 opened #84 "update contributing.md"
Hey! I would like to add the following in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
It will mention all with steps so that even a beginner in open-source can

[2021-03-14 12:52] divanshurox commented on #77
@abhijeet007rocks8 I think we can close this issue if its completed?

[2021-03-14 12:58] abhijeet007rocks8 commented on #77
Closed with PR #80 by @divanshurox

[2021-03-14 12:58] #77 closed

[2021-03-14 13:06] abhijeet007rocks8 opened #85 "Native App : On the Home page add pop-up menu option"
On the welcome page after successful login add a header with logo and the three menu dots
On clicking the three dots a menu pops-up having options to
---change username
---change profile pic
---logout

for this issue work on Native-App branch

[2021-03-14 14:10] Himika-Mishra commented on #82
Thanx a lott!!

[2021-03-14 14:11] Himika-Mishra commented on #81
Thanx a lot @DhairyaBahl .

[2021-03-14 14:24] DhairyaBahl commented on #84
@khareyash05 Ok ! Go Ahead

[2021-03-15 09:29] Himika-Mishra opened #90 "text overflow should be resolved"
Hi @DhairyaBahl ,

I have seen that the text overflow has not been resolved until now.

Please assign this task to me so that I start working on it. @DhairyaBahl Please assign it to me.

I will resolve it ASAP.

Thanks
Himika Mishra

[2021-03-15 10:16] DhairyaBahl commented on #90
@Himika-Mishra I think it is resolved ! Do confirm it once and if you can send some SS to confirm that then that will be pretty awesome. This is because PR for the same was merged today morning.

[2021-03-15 13:32] AnjaliPatle commented on #64
@DhairyaBahl I have implemented this. I'm attaching a screenshot below. Please let me know your opinions and if it seems fine to you then I'll create a PR!

![image](https://user-images.githubusercontent.com/50516607/111161217-e6f59000-85c0-11eb-9790-7068f782b0e2.png)

[2021-03-15 14:28] Himika-Mishra commented on #90
Okay yaa sure.

[2021-03-15 14:36] Himika-Mishra commented on #90
Hi Dhairya,

I have just reviewed the site once more and I have found that the text
overflow was not resolved.
I am providing you with an ss.

Please assign me this task and I will sort it out today itself.

Thanks
Himika Mishra

On Mon, Mar 15, 2021 at 3:47 PM DhairyaBahl ***@***.***>
wrote:

[2021-03-15 14:36] Himika-Mishra commented on #90
Hi @DhairyaBahl,
Please see the above message.

Thanks
Himika Mishra

[2021-03-15 15:11] abhijeet007rocks8 commented on #90
Go Ahead @Himika-Mishra
During PR  do submit the before after screenshot it helps us to review.

[2021-03-15 15:14] Himika-Mishra commented on #90
Okay I will do this.

Thanx a lot

On Mon, Mar 15, 2021 at 8:42 PM Abhijeet Chatterjee <
***@***.***> wrote:

[2021-03-15 15:30] DhairyaBahl commented on #64
@AnjaliPatle This seems to be perfect. Great Job 🔥 Looking forward to PR for the same.

[2021-03-15 15:44] AnjaliPatle commented on #90
Hey @abhijeet007rocks8  and @Himika-Mishra . I was assigned the issue to resolve text-overflow previously and I made the required changes. However I think that the contributor for PR #87 commented the previous styles and added new styles without accounting for updates in the previous css code. Please look into it and I think that should resolve this issue!

[2021-03-15 15:46] AnjaliPatle commented on #64
@DhairyaBahl  Thanks!

[2021-03-15 16:03] abhijeet007rocks8 opened #93 "UI Improvement"
Design a better UI for the web Messenger
Please provide a layout example like made on like Figma or any other platform.

[2021-03-15 17:12] abhijeet007rocks8 commented on #90
Thank You for bringing this to our notice. We will see to the issue.

[2021-03-15 17:13] abhijeet007rocks8 commented on #65
Merged with PR #75

[2021-03-15 17:13] #65 closed

[2021-03-15 17:14] abhijeet007rocks8 commented on #90
@Himika-Mishra can you send the screenshots??

[2021-03-15 17:33] DhairyaBahl opened #95 "The App seems to be slow !!"
### Description
App is working very slowly. It would be great if it can be a bit faster.

@abhijeet007rocks8 I have deployed all the changes ! Kindly confirm if it is slow only at my end or you also feel it is laggy ! Kindly lead this issue.

[2021-03-15 17:37] abhijeet007rocks8 commented on #95
it just takes a little bit more time due to sheer volume of messages

[2021-03-15 17:37] abhijeet007rocks8 commented on #95
Still ill take a look if i can make it faster somehow

[2021-03-15 17:50] DhairyaBahl commented on #95
@abhijeet007rocks8 Thank You 😄

[2021-03-15 17:55] Yukti-1 commented on #85
May I be assigned this task ?

[2021-03-16 02:01] khareyash05 commented on #84
@DhairyaBahl Created a PR Have  a look!

[2021-03-16 06:11] #64 closed

[2021-03-16 06:14] DhairyaBahl opened #96 "Read More Improvements"
Currently the readmore feature is fully functional but there are some problems with that.

1. we can't differentiate it from the rest of the text due to same color.
2. on hovering cursor over that it doesn't changes color
3. on hovering cursor over it, cursor type doesn't change.

[2021-03-16 06:27] abhijeet007rocks8 commented on #85
@Yukti-1 Sure you can go ahead work on the Native-App branch
and if you face any issue feel free to contact

[2021-03-16 12:08] AnjaliPatle commented on #96
I would like to work on this issue @DhairyaBahl
Kindly assign it to me!

[2021-03-16 12:12] AnjaliPatle commented on #95
@abhijeet007rocks8 I think we don't have a loading element in this app right now. I think we can put a simple loading element while the messages load to make the wait-time less frustrating for users. If you would like to include this feature then please let me know as I'd like to work on it by creating an issue for it!

[2021-03-16 13:03] abhijeet007rocks8 commented on #95
@AnjaliPatle Nice idea go ahead and make the issue

[2021-03-16 13:39] AnjaliPatle opened #97 "Creating a Loading component"
I would like to create a loading component using Material UI. This component will be rendered while messages are fetched form the database. Kindly assign this issue to me under GSSOC'21!

[2021-03-16 15:36] DhairyaBahl commented on #90
@abhijeet007rocks8 @Himika-Mishra This issue is already resolved ! I have deployed all the changes. You can checkout on the website. Thanks for cooperation.

[2021-03-16 15:36] #90 closed

[2021-03-16 16:41] #84 closed

[2021-03-16 18:51] AshuKV commented on #96
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 21:25] garvitgupta13 opened #99 "Disable empty messages"
Currently, we can send empty messages in this app.  We need to disable it
![image](https://user-images.githubusercontent.com/70805691/111381773-265cd300-86cc-11eb-8331-44979eca2119.png)

[2021-03-16 21:25] garvitgupta13 commented on #99
Please assign this issue to me under gssoc21

[2021-03-16 21:26] garvitgupta13 commented on #96
Please assign this issue to me under gssoc21

[2021-03-16 21:40] garvitgupta13 opened #100 "Add a delete button"
Add a delete button to delete the message.
If you want to add this feature please assign me under gssoc21

[2021-03-17 02:56] DhairyaBahl commented on #99
@garvitgupta13 Assigned ! All the best 🔥

[2021-03-17 02:57] DhairyaBahl commented on #96
@garvitgupta13 and @AshuKV , every issue is assigned on first come first serve basis.

[2021-03-17 02:59] DhairyaBahl commented on #100
@garvitgupta13 where exactly are you going to add the delete button ? currently the app is not authenticated and then anybody will be able to delete messages of others. If you are trying to implement the functionality of deleting your own messages , then we can definitely try that ! kindly confirm.

[2021-03-17 04:57] abhijeet007rocks8 commented on #97
@AnjaliPatle Go ahead

[2021-03-17 13:46] abhijeet007rocks8 commented on #78
@kunal-j10 any updates??

[2021-03-17 14:43] #96 closed

[2021-03-18 05:51] ShivamTyagi12345 commented on #83
I have successfully created a "1 tap for emoji options"   button, but I am unable to position the icon in the Lowermost text tab and somehow  it just sits on the top of the page.

@mentor ,can u please help.

Current Preview:
![Screenshot (156)](https://user-images.githubusercontent.com/60812924/111579149-7bd3d580-87db-11eb-835c-2a98f5174779.png)

[2021-03-18 10:17] DhairyaBahl opened #103 "Range-Error ! Invalid array length"
This error must be resolved ASAP which is visible in the current version of the app ! I am unable to deploy the same so kindly fix the same asap.

![Screenshot (1)](https://user-images.githubusercontent.com/71627983/111610315-39bd8a80-8801-11eb-89a7-ea22a769e5eb.png)

[2021-03-18 11:10] #99 closed

[2021-03-18 11:13] DhairyaBahl commented on #103
@AdityaTeltia I've assigned this issue to you ! This is because this issue must be solved immediately so that I can deploy the website right away !

I am also assigning the other collaborators as well. Do specify who wants to work on the same ! Feel free to assign anyone if you guys want to just get this issue solved !

Thanks and regards :)

[2021-03-18 11:14] AdityaTeltia commented on #103
Yes I am looking into this ! @DhairyaBahl

[2021-03-18 11:18] DhairyaBahl commented on #103
@AdityaTeltia Thanks a lot !

[2021-03-18 11:24] AdityaTeltia commented on #103
@DhairyaBahl  Seems to me like the recent commit you made with commit message `adding some changes` has crashed the app.

[2021-03-18 11:30] DhairyaBahl commented on #103
@AdityaTeltia In that commit, I just added proper indentation ! Feel free to experiment with the commits in your local system ! after rectifying do add the screenshots and then push the commit ! I will review it and then we will merge it in the codebase.

[2021-03-18 11:34] AdityaTeltia commented on #103
@DhairyaBahl So was it working back then after those changes !

[2021-03-18 11:36] DhairyaBahl commented on #103
@AdityaTeltia It was showing other errors before that and I kept on rectifying them !

[2021-03-18 11:37] AdityaTeltia commented on #103
Yeah I am trying ! It would help if you could assign it to @abhijeet007rocks8 @dilemmawalker also . So that the app can get back on track asap
Thankyou

[2021-03-18 11:38] DhairyaBahl commented on #103
@AdityaTeltia No issues ! I am assigning them on this again !

[2021-03-18 13:52] garvitgupta13 commented on #103
I have fixed the issue
I found out that someone has deleted `FormControl`, `but` and `SendIcon` from the repo

[2021-03-18 13:53] DhairyaBahl commented on #103
@garvitgupta13 Kindly create a PR for the same ! and do add the screenshots :)

Thank You

[2021-03-18 13:53] garvitgupta13 commented on #103
Hey, @DhairyaBahl  can I create a PR for this. This was urgent so I started fixing this issue without being assigned

[2021-03-18 14:00] #103 closed

[2021-03-18 16:01] AmrutaKoshe opened #105 "Send message with the enter key"
Currently in the app, your message is sent only when you click on the arrow button. We can keep a feature where the message is sent even after pressing the enter key in your keyboard (like other messaging apps)
I would like to try this out under GSSOC'21 !

[2021-03-18 16:04] DhairyaBahl commented on #105
@AmrutaKoshe I am assigning this issue to you ! All the best :)

[2021-03-18 17:29] Alenjojo opened #106 "Adding Smooth scrolling"
It would look much pretty when smooth scrolling is added.

[2021-03-18 17:36] DhairyaBahl commented on #106
@Alenjojo Scrolling is already smooth ! What exactly are you suggesting ? Kindly explain the issue.

[2021-03-18 18:10] robin025 commented on #31
@DhairyaBahl  can you send me firestore structure of your firestore, because i have completed all the tasks related to this issue now i only need firstore documents structure (database schema)

[2021-03-18 22:34] Jaagrav commented on #93
I look forward to working with this, you'll be provided with Figma design and I'll also make a PR to change the UI

[2021-03-18 22:37] Jaagrav commented on #95
I can fix this, we can simply implement React-Virtualized lists in order to make the app load faster. Due to an enormous amount of messages, the first paint of the app takes quite long to load. You can look into the docs of [React-Virtualized](https://bvaughn.github.io/react-virtualized/)

[2021-03-18 22:38] Jaagrav commented on #105
Can you please assign me as well for this issue or is the seat's already taken?

[2021-03-19 02:30] DhairyaBahl commented on #31
@robin025 I've deleted all the previous messages ! This should do the task i guess ! Keep me posted ! All the best :)

[2021-03-19 02:32] DhairyaBahl commented on #31
@robin025 just to mention the format of the firestore is

document =>messages =>{message,timestamp,username}

all the best !

[2021-03-19 02:34] DhairyaBahl commented on #95
@Jaagrav I think someone is already assigned to this issue.

@abhijeet007rocks8 If no-one is working on this issue right now, then kindly assign him.

[2021-03-19 02:35] DhairyaBahl commented on #93
@Jaagrav All the best for the issue. Although the PR for the same will be merged only when new layout looks better than the previous one. Hope you got my point.

[2021-03-19 02:36] DhairyaBahl commented on #105
@Jaagrav All the issues are assigned on the first come first serve basis and @AmrutaKoshe is already working on the issue. Kindly check out other issues.

All the best :)

[2021-03-19 09:14] abhijeet007rocks8 commented on #100
Till then you can add a down arrow button (at top right corner of  every message) and clicking on that opens dropdown menu with options:
edit
reply
delete

[2021-03-19 09:16] abhijeet007rocks8 commented on #95
@Jaagrav other participant is working on lading component you can work on improving loading time of the app.

[2021-03-19 09:17] abhijeet007rocks8 commented on #85
@Yukti-1 Updates regarding the issue??

[2021-03-19 10:37] Yukti-1 commented on #85
Yes, I am working on it.

[2021-03-19 12:28] yokesh004 commented on #74
What about these linear gradients:
for light mode:
1.
![image](https://user-images.githubusercontent.com/59578892/111779066-aad17080-88db-11eb-99cd-1ea85f2d7247.png)

(or)

2.
![image](https://user-images.githubusercontent.com/59578892/111779636-609cbf00-88dc-11eb-9a05-3a70bf723c94.png)

For dark mode:
1.
![image](https://user-images.githubusercontent.com/59578892/111779120-ba50b980-88db-11eb-9fef

[2021-03-19 12:46] DhairyaBahl commented on #74
@yokesh004 The last one is good ! But everything looks very empty ! It would be great if there is some design in the background !

[2021-03-19 16:52] #97 closed

[2021-03-19 16:57] Alenjojo commented on #106
Its not the usual ones that is been there as default. Its kinda static type. We can add functions so that it will work as in of iMessage.

[2021-03-19 17:02] DhairyaBahl commented on #106
@Alenjojo Can you describe what you are saying through a video or gif ?

[2021-03-20 06:18] abhijeet007rocks8 commented on #106
@Alenjojo can you provide a reference to what you are implying like some sort of  website where it is implemented.

[2021-03-21 06:14] akshay1027 opened #109 "Message Button should be disabled if user doesn't enter his/her name."
Without entering name, one should not be allowed to send a message and the send/enter button should be disabled.

[2021-03-21 06:17] akshay1027 opened #110 "The Type a message section, can be made bigger."
Maybe its Z index can be increased as well for better visuals.

[2021-03-21 06:22] DhairyaBahl commented on #109
@akshay1027 How about the idea that without entering the message, user will not be able to see any messages ! What he will see is a warning or a note that "try again but this time enter your name"

What do you say ?

[2021-03-21 06:23] DhairyaBahl commented on #110
@akshay1027 Feel free to make suggestions. If your suggestions are accepted in the codebase, then I will definitely treat it as a level 2 issue ^_^

[2021-03-21 08:20] akshay1027 commented on #110
sure! Please assign me this issue

[2021-03-21 08:21] akshay1027 commented on #109
This great as well! maybe we can send a toast message and redirect them to write their name again.

[2021-03-21 09:58] DhairyaBahl commented on #109
@akshay1027 That will also be great ! Feel free to make changes in the codebase. If they look good, then I will definitely take them in consideration.

All the best ^_^

[2021-03-21 12:42] akshay1027 opened #111 "there is another input field below the "Type a message""
shall I remove that?  @DhairyaBahl

![2021-03-21 (3)](https://user-images.githubusercontent.com/65683151/111905303-f1a49f00-8a70-11eb-939a-1e43f485e08d.png)

[2021-03-21 15:02] akshay1027 opened #113 "Change frontend Architecture to a component-based one!"
Change frontend Architecture to a component-based one instead of everything in a single file! In this way, it would easier to find bugs and divide components to individual contributors!

[2021-03-21 16:54] DhairyaBahl commented on #111
@akshay1027 That shouldn't be there ! Ofcourse ! Remove that. Thanks for noticing the same :)

[2021-03-21 16:55] DhairyaBahl commented on #113
@akshay1027 That would be pretty awesome for the app ! All the best :)

[2021-03-22 06:21] anshika208 commented on #78
hey! @abhijeet007rocks8 if the issue is still open and there are no updates from assignee then may i work on this issue?

[2021-03-22 11:28] AakankshaKamal commented on #42
![Screenshot 2021-03-22 165534](https://user-images.githubusercontent.com/58944717/111982979-9dacbf80-8b2f-11eb-90df-8ade97a28c5b.png)

I am thinking to add and modify more to it like this .Any suggestion on it?

[2021-03-22 12:58] DhairyaBahl commented on #42
@AakankshaKamal How about we improve the layout of the app in a better way ! Like include the dark mode and the light mode of the app in that box that you created which will be set to light mode by default.

Second thing is rather than just creating a box like this, I think we should create some type of drop box for the same. but then question arises that where should we place that dropbox !

No i

[2021-03-22 12:59] DhairyaBahl commented on #42
@AdityaTeltia Kindly guide her with the Additional theme box ! Thanks ^_^

[2021-03-22 13:11] AakankshaKamal commented on #42
Ok Sure .Love the ideas

[2021-03-22 13:25] DhairyaBahl commented on #42
@abhijeet007rocks8 @dilemmawalker If anyone of you wants to lead this then feel free to do so. Just assign yourself first to the same.

All the best ^_^

[2021-03-22 13:39] abhijeet007rocks8 commented on #78
@kunal-j10 Please respond if you are still working on the issue.
By the time @anshika208 you can start working on this issue.
Advice-: you would have to use your personal firebase keys while development.

[2021-03-25 06:16] bishakhne0gi commented on #60
Can I work on this? @DhairyaBahl

[2021-03-25 06:17] bishakhne0gi commented on #81
Can I work on this? @abhijeet007rocks8

[2021-03-25 06:24] Himika-Mishra commented on #81
I had already been assigned and PR has already been merged .

On Thu, Mar 25, 2021, 11:48 AM Bishakh Neogi ***@***.***>
wrote:

[2021-03-25 06:37] DhairyaBahl commented on #81
@Himika-Mishra Are you still working on some issues of this project ?

[2021-03-25 06:37] #81 closed

[2021-03-25 06:38] Himika-Mishra commented on #81
Nopes. ilIt got solved previously only

On Thu, Mar 25, 2021, 12:07 PM DhairyaBahl ***@***.***> wrote:

[2021-03-25 07:30] lopeselio commented on #85
Is the issue still open ?

[2021-03-25 07:32] lopeselio commented on #85
Are there anymore issues open for the native app. I wanna contribute to react native projects for GSSOC21

[2021-03-25 17:03] DhairyaBahl opened #115 "Testing of the app"

[2021-03-25 17:03] #115 closed

[2021-03-26 14:36] abhijeet007rocks8 commented on #85
@lopeselio yes I am creating one for you. Comment one it will be assigned to you.
@Yukti-1 can tell me the status of the issue please.

[2021-03-26 14:36] abhijeet007rocks8 commented on #78
@anshika208 any updates on the issue??

[2021-03-26 15:12] muthuannamalai12 opened #116 "Add github action to auto label issues"
Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21.

[2021-03-26 15:13] muthuannamalai12 opened #117 "Create Code of Conduct"
I would like to add a code of conduct file as the code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-03-26 15:19] lopeselio commented on #85
One

[2021-03-26 16:19] DhairyaBahl commented on #116
@muthuannamalai12 You can work on this issue but keep me posted on what you are doing ^_^

All the best :)

[2021-03-26 16:20] DhairyaBahl commented on #117
@muthuannamalai12 That would be great ^_^ . You can work on the issue.

[2021-03-26 16:50] riya3000 commented on #74
How about sunrise/day sky for light mode
1 ![fuyu-yeo-jN329Z_wEYQ-unsplash](https://user-images.githubusercontent.com/72564975/112663760-32405600-8e7f-11eb-8131-d8c8accf605c.jpg)
or 2 ![s-o-c-i-a-l-c-u-t-pIwrG4NhxXI-unsplash](https://user-images.githubusercontent.com/72564975/112664111-9b27ce00-8e7f-11eb-957f-3add5deca3dc.jpg)

and sunset/night sky for dark mode
1 ![oli-Cw3mOeWufOA-unsplash](https

[2021-03-26 17:55] muthuannamalai12 commented on #116
@DhairyaBahl Could you please add the gssoc21 label and level label??

[2021-03-26 17:55] muthuannamalai12 commented on #117
@DhairyaBahl Could you please add the gssoc21 label and level label??

[2021-03-26 23:16] akshay1027 opened #119 "refactor code in the app.js file into component based one"

[2021-03-27 03:03] DhairyaBahl commented on #116
@muthuannamalai12 Labels Added ! Sorry, I didn't know that you are a gssoc student ! All the best ^_^

[2021-03-27 20:27] abhijeet007rocks8 commented on #119
Issue #113 refers to same issue I guess !!
Please check

[2021-03-27 20:30] abhijeet007rocks8 opened #120 "Native App: Add DarkTheme and Light Theme feature for the App."
The colour scheme should toggle between light and theme designs and option for it will be in menu option.

[2021-03-27 20:32] abhijeet007rocks8 commented on #85
@lopeselio issue #120  is created with label Native App comment there so that I can assign it you

[2021-03-28 03:42] lopeselio commented on #120
Thank you I will take this up

[2021-03-28 05:34] anshika208 commented on #78
Yes i m still working but most probably will make a pr till tomorrow

[2021-03-28 07:35] RituCs commented on #11
Hello , I would like to contribute on this issue.If no one is working on this then please assign me.

[2021-03-28 13:42] akshay1027 opened #124 "Reduce distance between messages and input box in dark mode"
Reduce the distance between messages and input box in dark mode to Improve UI.

![2021-03-28_LI](https://user-images.githubusercontent.com/65683151/112754361-59229780-8ff9-11eb-9e4a-0bddfc84bdba.jpg)

[2021-03-28 13:53] akshay1027 opened #125 "No send feature in mobile version and improvements in mobile version"
No, send feature in mobile or responsive version.

![2021-03-28 (5)_LI](https://user-images.githubusercontent.com/65683151/112754744-13ff6500-8ffb-11eb-9bca-08664e22b88b.jpg)

[2021-03-28 14:01] DhairyaBahl commented on #124
@akshay1027 Go Ahead ! Do add the Screenshots for your changes ^_^

[2021-03-28 14:02] DhairyaBahl commented on #119
@akshay1027 Abhijeet is right ! #113 has the same purpose !

[2021-03-28 14:02] #119 closed

[2021-03-28 14:03] DhairyaBahl commented on #125
@akshay1027 Yes , You can work on this issue ! and I think that mobile layout is also broken so do check that out too.

[2021-03-28 18:13] Shwetang550 commented on #7
Sorry @DhairyaBahl but I can't complete this issue... Please assign this task to someone else...
Thanks :)

[2021-03-29 17:59] joelerego opened #126 "Enable socket connection between two users using Socket.IO"
1. Currently, there is a TCP/IP connection between the client application and firebase.
2. It seems like all the chat messages come from a document in firebase. Every user can read this document in real-time as the document changes since firebase is a real-time database.
3. Initially, we could just use Socket.IO to broadcast messages. This would require two things -
    - Integrating `socket.io-cl

[2021-03-29 18:00] joelerego commented on #126
I would like to undertake this. Please do assign it to me.

[2021-03-31 18:46] AakankshaKamal commented on #42
![Screenshot 2021-04-01 001230](https://user-images.githubusercontent.com/58944717/113194891-44573580-927f-11eb-85b9-486d55ec6225.png)
![Screenshot 2021-04-01 001359](https://user-images.githubusercontent.com/58944717/113194896-45886280-927f-11eb-944d-f1ecda7ba0a8.png)

How about this type of button to display the available themes  and toggling of dark button.The UI and styles can be enhanced furt

[2021-03-31 18:56] dilemmawalker commented on #42
It's looking nice, but instead of green box, let's add a black as to get a pure black & white theme, would look great I guess.
Also the earlier msg regarding dropbox sounds great at the top right corner.

[2021-03-31 19:26] #111 closed

[2021-04-01 04:37] AakankshaKamal commented on #42
The black and white theme is available ,the other color boxes are added in extra to it so to give different color choices to user for the background.

[2021-04-01 05:28] akshay1027 commented on #124
yea sure @dilemmawalker , even i thought the same! will be happy to do it! Should I start a new issue or do it in this PR itself

[2021-04-01 07:53] dilemmawalker commented on #124
I guess it could be done in same PR.

[2021-04-01 09:37] Ashishkubehera commented on #74
![sunset-404072](https://user-images.githubusercontent.com/74497927/113274908-d43ac500-92fb-11eb-8a30-2aac8640f82b.jpg)
If you like this image then please assign me the issue.
I'm a gssoc participant.

[2021-04-01 09:46] Ashishkubehera commented on #74
![tropical-1651423_1920](https://user-images.githubusercontent.com/74497927/113276157-2e885580-92fd-11eb-9ea3-339d66807ab6.jpg)

[2021-04-01 13:30] akshay1027 commented on #124
sure!

[2021-04-01 20:01] DhairyaBahl commented on #74
@riya3000 Would you still like to work on this issue ? I am asking because you commented first ? Tell me , otherwise I will assign this issue to @Ashishkubehera .

[2021-04-01 20:02] DhairyaBahl commented on #74
Sorry for delay from my side ! I am bit busy these days !

[2021-04-01 20:04] DhairyaBahl commented on #42
@dilemmawalker Kindly lead this issue.

NOTE : Don't merge any PR related to UI without my approval.

[2021-04-02 05:05] lopeselio commented on #120
Will take a while to do but I am on it.

[2021-04-02 05:14] riya3000 commented on #74
Yes, of course I still want to work on this issue. Let me know which of the above 2 images you like for both light and dark mode. Please assign me to this issue Thank you @DhairyaBahl

[2021-04-02 07:46] DhairyaBahl commented on #74
@riya3000 I am assigning this issue to you. Send the screenshots of all the images as example in background. That way I will be able to choose more easily that which one suits the best to the app.

@Ashishkubehera Sorry, for late reply, do check out other issues. If you can't find any issues, create one that you want an issue to work on and tag me and other collaborators as well and we will get yo

[2021-04-02 22:59] dilemmawalker commented on #42
Sure @DhairyaBahl

[2021-04-03 07:10] riya3000 commented on #74
I have uploaded the screenshot of all images and some new images on this link. Please take a look
[Background Themes](https://www.figma.com/file/s11WEczRgegUwbA4qp3vLO/Background-img?node-id=0%3A1)
Let me know which one you like or do you want me to look up some more images. Thank you @DhairyaBahl

[2021-04-03 07:30] DhairyaBahl commented on #74
@riya3000  I've seen all the images ! first of all, really appreciate the effort ! Well Done and thank you !

Secondly , first 4 images are designs, we should use monochromatic shades like in the rest 4 which will make the app look more modern and stylish.

Out of the rest 4 , all of them seems to be good to me ! So, how about we create a menu for the same, and in that menu, user can choose which

[2021-04-03 09:10] riya3000 commented on #74
Ok I get your point. Creating a drop down menu bar with options like background image, font style, font size, and other things will be a good idea. I will definitely work on it. Then what should I do for this issue, should I make a pr changing the background img to
![Messenger - Google Chrome 03-04-2021 11_34_49 (2)](https://user-images.githubusercontent.com/72564975/113473763-370d9700-9489-11eb-8

[2021-04-03 09:23] DhairyaBahl commented on #74
@riya3000 What I am suggesting is, this issue will be a sub issue for the menu bar issue then you can work on the whole menubar which will solve >2 issues because each and every feature will be counted as one issue. So that would be my approach.

But for the time being, you can set the background image of light mode to your suggested one and create a pr for the same. Don't make any changes in the

[2021-04-03 14:23] AakankshaKamal commented on #42
![Screenshot 2021-04-03 194547](https://user-images.githubusercontent.com/58944717/113481174-aac59900-94b5-11eb-8848-cc5c9a92fe06.png)
![Screenshot 2021-04-03 194627](https://user-images.githubusercontent.com/58944717/113481175-abf6c600-94b5-11eb-860f-55f8b20483b8.png)
![Screenshot 2021-04-03 194841](https://user-images.githubusercontent.com/58944717/113481176-ac8f5c80-94b5-11eb-9303-4ae558540d5c.

[2021-04-03 18:30] DhairyaBahl commented on #42
@AakankshaKamal How about we change the name of the button from click to something else ?

[2021-04-04 04:22] AakankshaKamal commented on #42
Ya sure

[2021-04-04 07:13] #113 closed

[2021-04-04 07:15] DhairyaBahl commented on #42
@AakankshaKamal Do that and create a PR for the same ! If PR already exists, push the appropriate changes with final screenshots which will help the team to merge the changes faster.

Thanks :)

[2021-04-04 17:52] dilemmawalker commented on #42
@AakankshaKamal try to add a pattern background as in light & dark themes, rather than a simple plain one, the color combo is nice, just add pattern for same color, would look great then.

[2021-04-04 21:17] akshay1027 opened #132 "about us page!"
Add about us page in the application!

[2021-04-05 06:58] AakankshaKamal commented on #42
Ok I ll work on it.

[2021-04-05 11:49] AakankshaKamal commented on #42
![Screenshot 2021-04-05 171805](https://user-images.githubusercontent.com/58944717/113570922-f18ccd80-9632-11eb-89bb-4af077c290c1.png)
 @dilemmawalker  Did u mean these type of patterns in the background?

[2021-04-05 18:02] dilemmawalker commented on #42
@AakankshaKamal yes this kind, but try a little  more attractive.

[2021-04-05 18:28] DhairyaBahl commented on #132
@akshay1027 What exactly do you want to add in the about us page ? Kindly explain the issue.

[2021-04-05 18:31] DhairyaBahl commented on #117
#121 This has been merged ! So closing this issue.

[2021-04-05 18:31] #117 closed

[2021-04-05 18:36] akshay1027 commented on #132
We can add why we created this website, contact links, link to GitHub source code and stuff like that, is what I thought, let me know what you think @DhairyaBahl

[2021-04-05 18:46] DhairyaBahl commented on #132
@akshay1027 Okay ! Got your point. We can definitely do this ! We can also add some contributing guidelines or that kind of stuff over there. and we can use [ i ] icon in the header which will take us to that page or simple about us will also do the task.

But problem is , day by day the app is getting quite messy due to features that are being added. so do ask me about the position for that butto

[2021-04-05 19:25] cherau opened #133 "Limiting messages"
Currently there is no restriction in the number of messages displayed on the main page. Limiting the number of messages or letting the users explicitly click a button to load the messages would help avoid long scrolling and make the chat app look clean.

[2021-04-05 19:30] cherau opened #134 "Google authentication"
Adding a Google authentication would help reduce unnecessary spams and also facilitate the use of profile pictures of users.

[2021-04-06 11:09] #105 closed

[2021-04-06 11:11] #82 closed

[2021-04-06 11:11] #68 closed

[2021-04-06 11:11] DhairyaBahl commented on #68
Resolved

[2021-04-06 11:12] DhairyaBahl commented on #134
@cherau Someone is already working on the google authentication part in the issue #31

[2021-04-06 11:12] #134 closed

[2021-04-06 11:12] DhairyaBahl commented on #31
@robin025 What is the status of the issue ! You made a PR earlier i guess ! What is the status of that now ?

[2021-04-06 11:13] DhairyaBahl commented on #133
Not sure about this issue ! @dilemmawalker @abhijeet007rocks8 What do you say about this ?

[2021-04-06 11:14] DhairyaBahl commented on #106
@Alenjojo Will you be able to describe the issue in a proper manner ? Otherwise I will have to close this issue.

[2021-04-06 11:15] robin025 commented on #31
Actually I have having my exams which will end in second week of April
But what I was thinking is that can you  merge this PR and I will open another issue which will be solving the issues of date and time?

[2021-04-06 11:16] DhairyaBahl commented on #106
@Alenjojo Will you be able to explain this issue to us ? Otherwise, I will close this issue. Kindly confirm it once.

[2021-04-06 11:16] robin025 commented on #31
@DhairyaBahl  really sorry for the inconvenience

[2021-04-06 11:18] DhairyaBahl commented on #100
@garvitgupta13 What is the status of the issue ? Are you still working on this ? Kindly confirm it once. Otherwise I will close this issue.

[2021-04-06 11:26] DhairyaBahl commented on #31
@robin025 No need to say sorry ! I really understand your point ! I will review that PR again and if everything works out fine except the date and time, then I will merge that.

Already looking forward to assign you to the issue of date and time ^_^ . Happy Learning.

[2021-04-06 12:13] abhijeet007rocks8 commented on #133
Assuming someone has to access previous message then he would have to manually load the message chunks that isn't user-friendly.
1. We can add message tagging feature
2. a button in the bottom right to make the user reach the last message.

[2021-04-06 12:22] abhijeet007rocks8 commented on #85
@Yukti-1 any updates??
if you are facing any issue feel free to discuss with mentors.

[2021-04-06 12:25] abhijeet007rocks8 commented on #78
@anshika208 Any updates on the issue??
If you are facing any issue feel free to discuss it with mentors

[2021-04-06 15:25] garvitgupta13 commented on #100
Currently I am busy with my institute exams, If anyone wants to work on this issue then please go ahead

[2021-04-06 15:57] robin025 commented on #31
Thanks a lot @DhairyaBahl

[2021-04-06 17:20] Yukti-1 commented on #85
@abhijeet007rocks8 Ok

[2021-04-07 07:51] dilemmawalker opened #135 "Message is not sending using enter key."
Messages are not being sent using enter key, if anyone is interested on working out this issue feel free to drop a message, I will assign you the same.

[2021-04-07 08:07] dilemmawalker commented on #133
There is already another issue open to search for a particular message like the feature we have in whatsapp,
I guess that would be a better option & @cherau you can work on that issue as it still hasn't been resolved & would kinda like cover your point too.

[2021-04-07 08:10] dilemmawalker commented on #124
Yes it is actually looking a lot better now.

[2021-04-07 08:10] #124 closed

[2021-04-07 08:49] cherau commented on #135
Interested

[2021-04-07 08:50] dilemmawalker commented on #83
@ShivamTyagi12345  make sure your code is placed correctly.
It should be in classname "footer" , inside "input" tag & just below placeholder="Type a message".
If the problem still persists, feel free to contact me.

[2021-04-07 11:00] dilemmawalker commented on #135
@cherau I have assigned you the issue, you can start working now.

[2021-04-07 11:44] DhairyaBahl commented on #42
@AakankshaKamal @dilemmawalker and also less glossy. something that doesn't put strain on the eyes and is comfortable to watch.

[2021-04-07 11:54] DhairyaBahl commented on #133
@dilemmawalker @abhijeet007rocks8 Thanks for looking in this matter. Feel free to close this issue if needed !

[2021-04-07 12:16] DhairyaBahl opened #136 "Automatic Scrolling to the newest message"
### Description

Earlier the app used to scroll down automatically to the latest message but now the feature seems to be broken. It was using endref react hook earlier for the same. Feel free to suggest better method than that or you can also fix that only.

[2021-04-07 16:05] AakankshaKamal commented on #42
![Screenshot 2021-04-07 212246](https://user-images.githubusercontent.com/58944717/113897145-3ad24e00-97e8-11eb-9ffc-4d218d5f3f0a.png)
![Screenshot 2021-04-07 212317](https://user-images.githubusercontent.com/58944717/113897153-3c9c1180-97e8-11eb-861f-fe4d650863a8.png)
![Screenshot 2021-04-07 212335](https://user-images.githubusercontent.com/58944717/113897155-3dcd3e80-97e8-11eb-9cb9-21a981b861b4.

[2021-04-07 20:15] Sristi27 opened #137 "Footer Enhancement"
The footer can be fixed to the bottom of the screen.Now,it is a bit up from the bottom.

[2021-04-07 20:33] dilemmawalker commented on #42
I really don't think so @AakankshaKamal , these patterns are straining the eyes too much.
Try something soothing, have a look at canva templates, other messaging apps maybe that should help.

[2021-04-07 20:44] abhijeet007rocks8 commented on #42
Also there is a suggestion that
1- theme-store button on click opens a dropdown with option in the menu coz currently the navbar just kinda carmmed.
2- You can use some medium themed images for background and add a option to add images for background.

[2021-04-07 20:54] abhijeet007rocks8 opened #138 "Native App Issue: custom background"
Provide a theme drop option where user can choose from either preset backgrounds or uploads his custom to background image and set it as background

[2021-04-07 21:01] abhijeet007rocks8 commented on #137
Can you provide scshot of the issue for reference

[2021-04-07 21:02] abhijeet007rocks8 commented on #133
@cherau any other suggestion or we can close this issue??

[2021-04-08 02:24] DhairyaBahl commented on #137
@Sristi27 Yes, you are right ! Footer is bit up from the screen and it looks weird. Same is the case with dark mode i.e. footer looks weird.

Do add the screenshots for the same so that we can refer to that image in the issue. Thanks ^_^

[2021-04-08 05:18] AdityaTeltia commented on #53
@AnshMishra2001  what is the status of this issue ?

[2021-04-08 07:10] cherau commented on #133
@abhijeet007rocks8 I am currently working on the issue #135 so I guess you can close this issue.

[2021-04-08 07:10] #133 closed

[2021-04-08 07:20] cherau commented on #135
Hey, I think the return key is working now.

[2021-04-08 07:57] cherau commented on #136
I have fixed the issue now

[2021-04-08 10:48] dilemmawalker commented on #135
Yeah you are right. I am closing the issue then.

[2021-04-08 10:48] #135 closed

[2021-04-08 11:34] anjali1102 commented on #138
Hey Taking up this issue !

[2021-04-08 14:03] anjali1102 commented on #138
Assign me please

[2021-04-08 14:52] DhairyaBahl commented on #136
@cherau That's great ! But from next time, do ask someone to assign you to a issue. Because the worst thing that could happen is duplication of PRs and we hate wasting someone's time. I am assigning you to this issue now but from next time, keep this in mind ^_^

[2021-04-08 15:26] Castella1313 commented on #137
@DhairyaBahl @abhijeet007rocks8

![Screenshot 2021-04-08 at 8 55 56 PM](https://user-images.githubusercontent.com/53293156/114053787-e1802280-98ac-11eb-9e63-186d68ca726a.png)
![Screenshot 2021-04-08 at 8 56 05 PM](https://user-images.githubusercontent.com/53293156/114053800-e5ac4000-98ac-11eb-8058-83a81e96a5bc.png)

[2021-04-08 15:33] Sristi27 commented on #137
![Screenshot 2021-04-08 at 9 02 39 PM](https://user-images.githubusercontent.com/53037053/114054815-ce218700-98ad-11eb-9999-9dc40c6db170.png)

As we can see here,the input bar looks very weird due to the spacing.

[2021-04-08 15:34] abhijeet007rocks8 commented on #138
Go Ahead @anjali1102
Fork the Native-Branch and push updates to it
Please keep that in mind.

[2021-04-08 15:37] abhijeet007rocks8 commented on #137
@Sristi27 Please go ahead and fix the issue.
Also try to reduce the input bar size and align it in middle it looks too long.

[2021-04-08 15:41] abhijeet007rocks8 commented on #106
I am closing this issue.

[2021-04-08 15:41] #106 closed

[2021-04-08 15:44] abhijeet007rocks8 commented on #95
We can see about lazy loading in which the content is loaded when you scroll to that part.
Refer This https://www.geeksforgeeks.org/what-is-lazy-loading/

[2021-04-09 17:12] Sristi27 commented on #137
Okay will finish it by tomorrow and inform !

[2021-04-10 14:56] #125 closed

[2021-04-10 17:38] akshay1027 opened #141 "Card/Messages design can be changed"
Card/Messages design can be changed
1) colour
2) box-shadow effect

@abhijeet007rocks8 @DhairyaBahl

[2021-04-10 17:43] Shivangi-ch commented on #141
Please Assign this to me.

[2021-04-10 18:01] akshay1027 commented on #141
Hey I want to work on this issue, hence created it :)

[2021-04-10 22:17] akshay1027 commented on #132
can you please tell me where we create the place the about us link in navbar! I also thought we can maybe make it as a separate website itself in a different folder in the same repo so that the app is light, maybe it won't make much off a difference but i thought it would be the best option. let me know your opinion! thank you so much! @abhijeet007rocks8 @DhairyaBahl

[2021-04-11 08:09] Sristi27 commented on #137
Previous:
![Screenshot 2021-04-11 at 1 38 51 PM](https://user-images.githubusercontent.com/53037053/114296906-516bf400-9acb-11eb-8e65-ee28a1e5370f.png)
![Screenshot 2021-04-11 at 1 38 39 PM](https://user-images.githubusercontent.com/53037053/114296912-57fa6b80-9acb-11eb-9a5f-bddb8b3a72de.png)

After modification:
![Screenshot 2021-04-11 at 1 36 21 PM](https://user-images.githubusercontent.com/5303

[2021-04-11 08:12] Sristi27 commented on #137
@DhairyaBahl Kindly review this.

[2021-04-11 09:55] DhairyaBahl commented on #137
@Sristi27 Well Done !! But tell me about that color change on hovering over the message box. Is it still doing it ? I mean does the message gets highlighted when we hovers over it ? Confirm it once.

If yes, create a PR for the same and I will merge it right away , otherwise make sure that hovering feature is still there and then create PR.

Great Job ^_^ All the best

[2021-04-11 09:57] Sristi27 commented on #137
Well, I haven't checked it as of now..Will check and confirm.
Thank you!

[2021-04-11 09:59] DhairyaBahl commented on #132
@akshay1027 Yes we can create a folder for the same in this repo without any issues. @abhijeet007rocks8 Kindly help him out with the location for about us page in the navbar !

Although I would highly recommend that we should make a menu bar under the header which will be enabled with a toggle button in the header ! And all the features that are currently present in the header will then be sent in

[2021-04-11 10:05] akshay1027 commented on #132
Yes so I will divide these tasks into few separate tasks as this is a big task all as a whole! First I will try to make the responsive navbar with toggle @DhairyaBahl @abhijeet007rocks8

[2021-04-11 10:12] abhijeet007rocks8 commented on #132
@akshay1027 @DhairyaBahl  What I would suggest is to make a hamburger menu for both desktop and mobile version which contains options for all the additional feature like theme changer about us page and can add future features there too.

[2021-04-11 10:17] akshay1027 commented on #132
Okay so first I will do this 🙌🏻

[2021-04-11 10:21] akshay1027 commented on #132
How I am planning to work:
1) hamburger navbar
2) about us new project setup, simple layout, content
3) Footer for this
4) contact us form
5) backend for the same
6) showcasing contributors in about us page

All these I have in mind now, so I will make seperate PR for them as every task is a level2 or level3 on its own and will take time. I will start with hamburger menu

[2021-04-11 10:27] abhijeet007rocks8 commented on #132
cannot we create a separate folder for about us and use router to go to that page from main page

[2021-04-11 10:37] akshay1027 commented on #132
Yea we definitely can but are you guys okay with that ? I thought we will use express js mongo db as backend, anything is fine for me @abhijeet007rocks8. Let me know what you think

[2021-04-11 14:35] Sristi27 commented on #137
![Screenshot 2021-04-11 at 8 03 50 PM](https://user-images.githubusercontent.com/53037053/114308317-0cfb4b00-9b01-11eb-8d53-8ba3a494bfe3.png)

Is this the hover effect you are talking about?

[2021-04-12 20:52] dig9074vijay commented on #51
Hey @DhairyaBahl! My contribution wasn't counted in GSSOC, I think you need to add the labels in the PR I created.

[2021-04-13 10:30] DhairyaBahl commented on #137
@Sristi27 Yes ! I am talking about that !

[2021-04-13 10:31] DhairyaBahl commented on #51
@dig9074vijay Okay no issues, I will check that out and will add appropriate labels.

[2021-04-13 12:12] Sristi27 commented on #137
That works fine.I have created a pull request.Please review it @DhairyaBahl

[2021-04-13 16:41] #137 closed

[2021-04-15 03:25] akshay1027 opened #144 "in light mode inout bar is not visible"
in light mode inout bar is not visible, we can change the colour to light grey so that it will be visible! @DhairyaBahl @abhijeet007rocks8

[2021-04-15 03:25] akshay1027 commented on #144
i would like to work on this!

[2021-04-15 05:17] abhijeet007rocks8 commented on #144
Please share a schot explaining the issue??

[2021-04-15 12:04] akshay1027 commented on #132
We will also add an FAQ section on the about us page? @DhairyaBahl @abhijeet007rocks8, I think it would be nice.

[2021-04-15 18:05] akshay1027 commented on #144
Check this out @abhijeet007rocks8

![16185098418013427994867719796309](https://user-images.githubusercontent.com/65683151/114917024-1e1ac380-9e43-11eb-891e-6da0cb320fb4.jpg)

[2021-04-15 18:08] akshay1027 commented on #95
Why not switch to next js ? That would be boost performance like crazy as it.uses SRR @abhijeet007rocks8 @DhairyaBahl . But it would be quite hectic to change I guess

[2021-04-15 18:25] abhijeet007rocks8 commented on #95
Yes I surely agree, I personally work using nextJS and styled-components/Scss its superfast but migrating entire project to NextJS is like making a completely new project.

[2021-04-15 18:27] akshay1027 commented on #95
Agreed 🙌🏻

[2021-04-16 21:46] sardonicankita commented on #66
Is this issue still open. Can I work on this?

[2021-04-17 12:58] rakshitnayak opened #147 "Improve ui and responsiveness of category page."
The ui is very poor compared to landing page of category page. And also the page is not responsiveness. I am a gssoc participant can i work on this??

![image](https://user-images.githubusercontent.com/62886278/115113973-846e2600-9faa-11eb-942d-13e5bf77e89d.png)

[2021-04-17 13:07] #147 closed

[2021-04-17 13:26] DhairyaBahl commented on #66
@sardonicankita Sorry ! But this issue is resolved now !

[2021-04-17 13:26] #66 closed

[2021-04-17 13:27] DhairyaBahl commented on #144
@akshay1027 I think we should add some sort of border around the input box ! what will you suggest @abhijeet007rocks8 ?

[2021-04-18 18:06] Shivangi-ch opened #148 "Light/Dark theme button not working for about us page."
![Screenshot from 2021-04-18 23-32-13](https://user-images.githubusercontent.com/57783826/115155633-82858f00-a09e-11eb-8205-9c6588ea8f42.png)

There should light theme for this page too.
I would like to work on this.

[2021-04-18 19:15] DhairyaBahl commented on #148
Okay Go Ahead ! You  Can Work on the issue ! Thank You for noticing the issue ^_^

[2021-04-19 07:55] Shivangi-ch commented on #148
Please Review!

[2021-04-19 08:00] DhairyaBahl commented on #148
#150 Merged and successfully resolved this issue !

[2021-04-19 08:00] #148 closed

[2021-04-20 14:04] garvitgupta13 opened #151 "Empty name should not be allowed"
Currenlty if a person with name "    " can enter, but we must avoid it and throw a error for such username.
The message "hello" is send by user with name " ".
![image](https://user-images.githubusercontent.com/70805691/115409316-41f95300-a20f-11eb-8c3f-1c4aa9eb3d03.png)
Please assign this issue to me under `gssoc21`

[2021-04-20 14:14] DhairyaBahl commented on #151
@garvitgupta13 Assigned !

[2021-04-21 06:19] Ankita297 commented on #116
Can i work on this @DhairyaBahl ?

[2021-04-21 07:03] DhairyaBahl commented on #116
@Ankita297 This issue is already resolved ig ! ```gssoc'21``` label is added when someone uses the word gssoc21

[2021-04-21 07:04] DhairyaBahl opened #153 "Testing Issue"
```gssoc21 ``

[2021-04-21 07:04] #153 closed

[2021-04-22 05:25] #151 closed

[2021-04-22 18:12] Shivangi-ch opened #155 "Add feature to send emojis."
I would like to add an emoji picker so that user will be able to send emojis .
Please assign this to me.

[2021-04-23 00:13] vivek80801 opened #156 ".eslintcache should be in .gitignore"
[**.eslintcache**](https://github.com/DhairyaBahl/React-Messenger-App/blob/master/.eslintcache)  is exposing contributors file system. you can see it is exposing [this contributor](https://github.com/Shivangi-ch) file system. I can easily tell this contributor have **Linux OS** . This project is in home dirctory on his/her local device. This issue can easily be fixed by just adding one line to **.

[2021-04-23 00:14] vivek80801 opened #157 "add eslint and prettier"
Can I add eslint and prettier to this project ?

[2021-04-23 07:01] DhairyaBahl commented on #156
would you like to work on this issue ?

[2021-04-23 07:27] vivek80801 commented on #156
@DhairyaBahl sure.

Thanks for assigning this issue to me.

[2021-04-23 08:11] #156 closed

[2021-04-23 11:56] Shivangi-ch commented on #155
@DhairyaBahl please assign this to me.

[2021-04-23 13:43] akshay1027 opened #159 "Input box not responsive after re design"
Input box not responsive after re design, would like to make it responsive! @abhijeet007rocks8 @DhairyaBahl

![2021-04-23](https://user-images.githubusercontent.com/65683151/115880005-e1b11e00-a467-11eb-9495-a255262ce39c.png)

[2021-04-23 13:44] akshay1027 commented on #144
or changing colour slightly will do, let me know! @DhairyaBahl @abhijeet007rocks8

[2021-04-23 13:46] abhijeet007rocks8 commented on #138
@anjali1102 any updates on the issue??

[2021-04-23 13:47] abhijeet007rocks8 commented on #141
@akshay1027 go ahead

[2021-04-23 13:49] akshay1027 opened #160 "toast message when visited to about us page!"
A welcoming toast message when visited to the about us page would be awesome! @DhairyaBahl @abhijeet007rocks8

[2021-04-23 13:49] abhijeet007rocks8 commented on #144
add some dark color border and change the internal color to something light

[2021-04-23 13:51] akshay1027 commented on #160
would like to work on this! check this for example:
https://github.com/avinashkranjan/Recess/pull/169

[2021-04-23 13:56] abhijeet007rocks8 commented on #160
It would be better if firstly we implement login signup as then it would be better to show a welcome message

[2021-04-23 14:01] akshay1027 commented on #160
Sure I would like to do that, but for now shall we keep a small message? Let me know

[2021-04-23 14:02] abhijeet007rocks8 commented on #155
@Shivangi-ch this feature is already available

[2021-04-23 14:04] abhijeet007rocks8 commented on #160
@akshay1027 signup login is much priority feature, if you are willing to do that do open the issue i'll assign it to you

[2021-04-23 14:38] akshay1027 opened #161 "Sign in and sign up"
@abhijeet007rocks8 I would like to do this. Give some idea so that I can do it! What tech stack etc.

[2021-04-23 14:55] abhijeet007rocks8 commented on #161
Techstack will be reactjs and db will be firebase.
Try to make basic login screen
Login screen parameters -: email and password signin button and redirection to signup
Signup screen parameters -: email password and profile image and signup button and redirection to signin page

[2021-04-23 14:55] abhijeet007rocks8 commented on #161
Later we will use the names from the profile and display profile images beside messages.

[2021-04-23 15:43] Shivangi-ch commented on #155
@abhijeet007rocks8 you can send emojis from from phone using the google keyboard(which has its own emoji picker), but you can not send it from the desktop site(i.e. if you are using a laptop/desktop).
So, I think we should add an emoji picker!
![emoji](https://user-images.githubusercontent.com/57783826/115895920-8dfb0080-a478-11eb-9dc7-43fc61845d96.png)

[2021-04-23 16:02] anjali1102 commented on #138
Will give PR by today. Had little fever from past days so sorry for that

[2021-04-23 16:32] akshay1027 commented on #132
@abhijeet007rocks8 for contact us form, how do you guys want me to do the backend? I think it would be best if we use email.js, what say?

[2021-04-23 16:40] Shivangi-ch opened #162 "Message can't be send by pressing enter key."
I think message should be send by pressing the enter key while using the desktop site.

[2021-04-23 17:05] DhairyaBahl commented on #162
@Shivangi-ch Would you like to work on this issue ?

[2021-04-23 17:19] Shivangi-ch commented on #162
Yes. Please assign this to me.@DhairyaBahl

[2021-04-23 22:16] akshay1027 opened #163 "Footer not visible in website!"
We have to add footer component in the website using react router, would be happy to do that! @DhairyaBahl @abhijeet007rocks8

[2021-04-24 05:16] abhijeet007rocks8 commented on #155
I think there is an issue already present for this refer to #83

[2021-04-24 12:04] DhairyaBahl commented on #159
@akshay1027 Okayy ! Go Ahead ^_^

[2021-04-24 22:00] Shivangi-ch commented on #83
Please Assign this to me .@abhijeet007rocks8
I had created an issue #155 for this.

[2021-04-24 23:09] akshay1027 opened #167 "The logo can be changed!"
The logo or the text colour can be changed to make them more attractive!

[2021-04-24 23:10] akshay1027 commented on #167
@DhairyaBahl @abhijeet007rocks8

[2021-04-25 07:32] abhijeet007rocks8 commented on #163
what sort of footer can you mention some suggestions??

[2021-04-25 07:48] CIPHERTron opened #168 "build directory is not included in .gitignore"
Someone has pushed the build directory into the master branch 😶

[2021-04-25 08:03] akshay1027 commented on #163
It's the same footer that I made but the routing for that is not done in the frontend..! The footer component I have already made, routing has to be done in app.js file

[2021-04-25 08:04] akshay1027 commented on #163
@abhijeet007rocks8

[2021-04-25 08:17] akshay1027 commented on #167
The yellow colour can be changed to purple, it will be clean and will match the rest of UI!

[2021-04-25 18:20] DhairyaBahl commented on #83
@ShivamTyagi12345 Are you still working on this issue ? if not then I will assign this to @Shivangi-ch .

[2021-04-25 18:23] DhairyaBahl commented on #168
@CIPHERTron Would you like to work on this issue ? or should I assign it to someone else.

[2021-04-25 18:24] #144 closed

[2021-04-25 18:25] DhairyaBahl commented on #155
@Shivangi-ch Lets move the conversation to the issue #83 as mentioned above by abhijeet ! I am closing this issue ^_^

[2021-04-25 18:25] #155 closed

[2021-04-25 21:42] CIPHERTron commented on #168
Naah.....I'm good
I just came across your repo and noticed that the build folder was pushed somehow.
Thus informed! Feel free to assign it to someone else :D

[2021-04-26 04:18] subhangi2731 commented on #93
please assign me this issue

[2021-04-26 08:43] SanskritiKushik5 commented on #100
Can I work on this as a GSSOC'21 Participant?

[2021-04-26 13:08] Shivangi-ch commented on #83
@DhairyaBahl I have already done some work on this, please assign this to me.

[2021-04-26 21:56] DhairyaBahl commented on #167
@akshay1027 feel free to make pr for the same ! If it looks better , then I will definitely merge it .

[2021-04-26 21:56] DhairyaBahl commented on #83
@Shivangi-ch Assigned !

[2021-04-26 21:57] DhairyaBahl commented on #100
@SanskritiKushik5 Yes !! Definitely ! I am assigning this to you ! All the best .

[2021-04-26 21:58] DhairyaBahl commented on #93
@subhangi2731 All the best !

[2021-04-26 21:59] DhairyaBahl commented on #168
@CIPHERTron Okay !! Thanks for creating the issue !

[2021-04-27 18:14] hsnice16 opened #170 "On routing different paths, the tab is reloading."
**Problem**
When we are clicking on the about us or home button on the homepage. The page is getting reload. But as we are using react Js for the frontend. We can prevent it from reloading.

**Expected behavior**
When we click on the about us or home button, only the path should change. And this should happen without reloading the page.

[2021-04-28 06:41] SanskritiKushik5 commented on #100
<img width="658" alt="messenger" src="https://user-images.githubusercontent.com/65829453/116357888-aa04f600-a81a-11eb-8802-c1906ff4abbd.PNG">
Is this okay?
Also, the sender's name isn't visible in dark mode... should I change that too? @DhairyaBahl

[2021-04-28 14:18] Ankita297 commented on #116
https://user-images.githubusercontent.com/67833077/116282864-e861cd00-a7a8-11eb-9a7c-1c1a1661abc6.png

@DhairyaBahl is this okay ?

[2021-04-28 16:26] #159 closed

[2021-04-28 16:32] abhijeet007rocks8 opened #173 "Theme changes on page switch"
When we click on about us page the default theme is not retained in about us page.

Try clicking the theme button on home and then go to about us page. It will still be in light theme whereas home is in dark theme

[2021-04-28 16:33] abhijeet007rocks8 commented on #170
@hsnice16 are you a gssoc participant??

[2021-04-28 16:35] abhijeet007rocks8 commented on #78
@anshika208 any updates??

[2021-04-28 16:35] abhijeet007rocks8 commented on #60
@Ritu7683 any updates regarding the issue??

[2021-04-28 17:47] hsnice16 commented on #170
Yes, I am a gssoc participant.

[2021-04-30 11:52] vivek80801 commented on #168
@DhairyaBahl I will love to work on this issue. if you want.

[2021-04-30 12:06] vivek80801 commented on #170
@abhijeet007rocks8  Can you assign this issue to me?

I am not a gssoc participant. But I love to contribute to open source project

[2021-04-30 12:17] vivek80801 commented on #162
@DhairyaBahl  please close this issue. This issue is already solved

[2021-04-30 12:22] vivek80801 commented on #161
@akshay1027 are you working on it? I also want to work on this issue. Thats why I am asking.

[2021-04-30 12:38] vivek80801 commented on #173
@abhijeet007rocks8  I am working on it

[2021-04-30 12:47] akshay1027 commented on #161
yes, @vivek80801 am working on it!

[2021-04-30 17:22] hsnice16 commented on #170
But, I want to work on it. Please assign it to me.

[2021-05-01 04:36] akshay1027 opened #176 "Image optimization!"
we can reduce the size of the image so that it loads faster! I would like to work on this @abhijeet007rocks8 @DhairyaBahl

[2021-05-02 01:28] N-Shar-ma commented on #168
Could I please be assigned to work on this issue?

[2021-05-02 15:25] DhairyaBahl commented on #168
@N-Shar-ma Go Ahead !

[2021-05-02 15:26] DhairyaBahl commented on #176
@akshay1027 Okay ! Go Ahead !

[2021-05-02 16:07] #168 closed

[2021-05-02 19:44] abhijeet007rocks8 commented on #170
@vivek80801 Thanks for the contribution.

[2021-05-03 06:49] #162 closed

[2021-05-03 06:51] DhairyaBahl commented on #116
@Ankita297 Yes its okay but the label is gssoc21 in lowercase ! So kindly make the required changes and create a PR for the same ^_^

[2021-05-03 09:11] Shivangi-ch opened #180 "Add date to the message when it was send."
I would like to add the date besides time of the the message.
Please assign this  to me.

[2021-05-03 09:14] DhairyaBahl commented on #180
Go Ahead !

[2021-05-03 09:15] Shivangi-ch opened #181 "Add floating animation to the logo in about us page."
I  would like to add floating animation to the logo in about us page.
This will make the page look more atttractive.
Please assign this to me.

[2021-05-03 09:18] Shivangi-ch opened #182 "Navbar UI enhancement."
I think the navigation bar should be made more attractive and user-friendly.
I would like to work on this.
Please assign this to me.

[2021-05-03 09:20] Shivangi-ch opened #183 "Add feature to send images."
I would like to add the feature to send images besides the texts.
Please assign this to me.

[2021-05-03 13:00] abhijeet007rocks8 commented on #100
@SanskritiKushik5 can you adjust the dropdown icon top the top right corner of the box.
And is the dropdown theme sensitive??

[2021-05-03 13:14] #167 closed

[2021-05-03 15:12] SanskritiKushik5 commented on #100
Is this fine now? @abhijeet007rocks8
<img width="545" alt="messenger" src="https://user-images.githubusercontent.com/65829453/116894732-053a4c80-ac50-11eb-8f3a-7dde586e6f5f.PNG">
<img width="547" alt="messenger-dark" src="https://user-images.githubusercontent.com/65829453/116894747-08cdd380-ac50-11eb-9269-bd309812562e.PNG">

[2021-05-03 18:02] N-Shar-ma opened #185 "Major Bug: others' old messages with same username are wrongly shown as current user's messages"
## Description:
If another user has in the past used the same username as the current user, then that other user's messages are shown as the current user's messages (they are given a class of `user` instead of `guest`)

## Solution
I would like to correct this bug by changing the way user and guest class is given to a message. It won't be decided on the basis of username but instead by giving each

[2021-05-03 23:52] #157 closed

[2021-05-04 10:54] Shivangi-ch opened #188 "Contact us form UI enhancement."
I would like to make the contact us form more user friendly.
Please assign this to me.

[2021-05-04 17:27] Shivangi-ch commented on #183
the plus button is not working right now, so i would fix it and then we would be able to send images throught this button!

[2021-05-04 17:36] Shivangi-ch opened #189 "Reduce the size of footer on "about us" page"
The footer on about us page is a bit big(it covers the complete screen size) and  theme does not change in the footer, so i think it would look better if the footer was small in size.

[2021-05-05 09:32] robin025 commented on #31
@DhairyaBahl  really sorry for doing this

[2021-05-05 17:51] abhijeet007rocks8 commented on #188
Can you elaborate a little like what enhancements??

[2021-05-05 17:53] abhijeet007rocks8 commented on #189
Can you add a scshot highlighting the issue???

[2021-05-05 17:59] #180 closed

[2021-05-05 18:00] abhijeet007rocks8 commented on #183
@Shivangi-ch Go Ahead !!

[2021-05-05 18:02] abhijeet007rocks8 commented on #182
@Shivangi-ch  Please provide some exact idea that you would like to work upon

[2021-05-05 18:04] Shivangi-ch commented on #188
Its too big at the moment, so i will decrease the size a bit.
Decrease the size of input fields, and align some of them in a single row to reduce the height of the form.
Change the color to the color gradient of the logo.
Also add some animations on the send button.

[2021-05-05 18:04] abhijeet007rocks8 commented on #132
@akshay1027 is the issue complete

[2021-05-05 18:07] akshay1027 commented on #132
Contributors page and FAQ page is there for me to do @abhijeet007rocks8

[2021-05-05 18:16] Shivangi-ch commented on #189
You can see in the screenshot the footer is too big.
![Screenshot from 2021-05-05 23-35-57](https://user-images.githubusercontent.com/57783826/117188504-c09ee480-adfa-11eb-82b5-af2ec4cbd914.png)
We have less content in the footer, So it can be fitted in a small space.

[2021-05-05 18:40] Shivangi-ch commented on #182
I think the font size and logo size should be reduced.
Border of the buttons should not be there.
Theme toggle button should be  animated.
Hovering effect on the buttons should just be a simple underline of the basic color theme same as that of logo(gradient color).

[2021-05-06 05:39] abhijeet007rocks8 commented on #189
@Shivangi-ch GO ahead

[2021-05-06 05:40] abhijeet007rocks8 commented on #188
@Shivangi-ch GO ahead

[2021-05-06 05:41] abhijeet007rocks8 commented on #185
@N-Shar-ma are you gssoc participant??

[2021-05-06 05:43] abhijeet007rocks8 commented on #182
@Shivangi-ch Go Ahead

[2021-05-06 06:47] N-Shar-ma commented on #185
Yes I am

[2021-05-06 07:06] abhijeet007rocks8 commented on #185
Can you first share the scshot of the issue you mentioned ??
Also from next time do try to get yourself assigned first else it can cause pr confusion

[2021-05-06 09:43] N-Shar-ma commented on #185
Here is a gif which shows that on choosing username as "Test" others' older messages sent from the same username, are shown as sent by the current user:
![](https://i.imgur.com/b9CbPi8.gif)

[2021-05-07 16:34] Shivangi-ch opened #192 "Messages are not loading[Bug]"
Their is a bug in the website - messages are not displayed.
I think this is due to the error that is shown in the console(see screenshot).
I think this has something to do with the the `Readmore` component in messages.js. I would like to try to fix it.
![Screenshot from 2021-05-07 22-00-34](https://user-images.githubusercontent.com/57783826/117481045-0df88e80-af80-11eb-99bb-4a24b8e7a977.png)

[2021-05-07 16:36] Shivangi-ch commented on #192
@abhijeet007rocks8  please assign this!

[2021-05-07 18:01] gargijs commented on #17
I want to work on this issue.

[2021-05-08 19:07] DhairyaBahl commented on #17
@gargijs Ofcourse feel free to make suggestions for the logo for this app ! If your suggestion is good then I will definitely take it in consideration ^_^

[2021-05-08 19:10] DhairyaBahl commented on #189
@Shivangi-ch Make the PR for the same and I will merge it !! ATB ^_^

[2021-05-08 19:12] DhairyaBahl commented on #192
@Shivangi-ch Solve this issue ASAP ! This need to be resolved right away !! ATB !! Thank You !

[2021-05-08 19:15] #185 closed

[2021-05-08 19:18] DhairyaBahl commented on #181
PR is merged for the same ! Thanks @Shivangi-ch for solving this issue ^_^

[2021-05-08 19:18] #181 closed

[2021-05-09 02:40] Shivangi-ch commented on #182
@DhairyaBahl I am working on it.Will make a PR ASAP!

[2021-05-09 06:30] garvitgupta13 commented on #192
Hey @DhairyaBahl I have fixed this bug
Can I create a PR to fix this issue.
![image](https://user-images.githubusercontent.com/70805691/117562651-253d9600-b0be-11eb-8396-79aca99931ab.png)

[2021-05-09 09:59] #192 closed

[2021-05-09 10:04] garvitgupta13 commented on #173
Please assign me this issue

[2021-05-09 10:15] garvitgupta13 opened #194 "Enhance the message box"
In dark theme both the buttons seems to be attached
We need to fix it
![image](https://user-images.githubusercontent.com/70805691/117568390-90e32b80-b0dd-11eb-8249-f63add20d0ff.png)

[2021-05-09 10:23] garvitgupta13 opened #195 "Contact Form Validation"
In the email section one can enter any text or invalid email.

Fix:
Apply email validation so that it will throw error if any invalid email is provided

[2021-05-09 10:26] garvitgupta13 opened #196 "Twitter link is wrong"
The link for twitter in footer does not redirect us to the twitter instead of that it moves us back to home page
![image](https://user-images.githubusercontent.com/70805691/117568640-04d20380-b0df-11eb-9916-f3953b79bd31.png)

[2021-05-09 14:16] garvitgupta13 commented on #196
Hey @DhairyaBahl please assign me this issue

[2021-05-09 14:16] garvitgupta13 commented on #195
Hey @DhairyaBahl please assign me this issue under `gssoc21`

[2021-05-09 14:17] garvitgupta13 commented on #194
Hey @DhairyaBahl please assign me this issue under `gssoc21`

[2021-05-10 19:24] Shivangi-ch opened #200 "Add a landing page"
Add a landing page similar to the one in the screenshot attached!
![Screenshot from 2021-05-11 00-50-31](https://user-images.githubusercontent.com/57783826/117713264-10165380-b1f3-11eb-93cc-c1fb8f16b749.png)
 - Since their is no login/signup functionality in the app, I will replace the login form(bottom left corner) with a button to enter the chat.

[2021-05-10 19:24] Shivangi-ch commented on #200
@abhijeet007rocks8 @DhairyaBahl please assign this to me so that i can start working!

[2021-05-10 19:35] Shivangi-ch opened #201 "Add a message sent tone."
Add a sound that should be played when the user clicks the send button, similar to the ones played in other app like whatsapp, etc.
@abhijeet007rocks8 please assign if you think this feature should be added.

[2021-05-10 19:56] Shivangi-ch opened #202 "Add speech input for <input> field."
Add a mic icon next to the send button. On pressing this mic button, the user can speak and the `<input>` field will be filled by his speech.

[2021-05-10 19:57] Shivangi-ch commented on #202
@abhijeet007rocks8 @DhairyaBahl please assign!

[2021-05-11 07:10] abhijeet007rocks8 commented on #201
@Shivangi-ch Go ahead

[2021-05-11 07:15] #189 closed

[2021-05-11 07:23] abhijeet007rocks8 commented on #138
@anjali1102 any progress on the issue??

[2021-05-11 09:02] N-Shar-ma opened #206 "Bug: Emoji is inputted only at the end of the input, even when the cursor is somewhere else"
## Problem
There is no way a user can insert an emoji, at any position except the last, as it is always appened to the rest of the input. This can cause fustrating UX

## Solution
I would like to fix this bug my making sure that the selected emoji is always inserted at the cursor location in the input

[2021-05-11 17:25] Shivangi-ch opened #208 "Theme in contact us form does not switch.[bug]"
I think the theme change should also be there for the contact us form background.

You can see this in the screenshot below:
![Screenshot from 2021-05-11 22-53-38](https://user-images.githubusercontent.com/57783826/117858788-dc4b3480-b2ab-11eb-97be-9dce1f2c8c36.png)
![Screenshot from 2021-05-11 22-53-41](https://user-images.githubusercontent.com/57783826/117858800-df462500-b2ab-11eb-8aff-ea27bb8ea

[2021-05-11 17:30] Shivangi-ch opened #209 "Theme of the footer does not switch[bug]"
As we have the navbar both in light and dark themes. Footer should also be implemented in both.
![Screenshot from 2021-05-11 22-58-42](https://user-images.githubusercontent.com/57783826/117859438-9e9adb80-b2ac-11eb-873a-9f458bc653f3.png)
![Screenshot from 2021-05-11 22-58-45](https://user-images.githubusercontent.com/57783826/117859445-a0fd3580-b2ac-11eb-90ac-36b4a2bb2566.png)
@abhijeet007rocks8 P

[2021-05-11 17:44] #194 closed

[2021-05-12 03:16] #206 closed

[2021-05-12 06:58] gargijs commented on #17
![logo](https://user-images.githubusercontent.com/63464238/117931983-7b5c4480-b31d-11eb-8120-1002f16c3477.png)

[2021-05-12 06:58] gargijs commented on #17
Please check this.

[2021-05-12 08:09] Shivangi-ch opened #211 "Theme of navbar does not switch properly on mobile view[bug]"
The theme change in navbar does not work for mobile view.
This issue can be seen in gif below.
![xsdfgbh](https://user-images.githubusercontent.com/57783826/117941125-6dabbc80-b327-11eb-8db1-37b489439620.gif)

[2021-05-12 08:10] Shivangi-ch commented on #211
Please assign this issue to me.

[2021-05-12 09:05] N-Shar-ma opened #212 "Add a "Scroll to Bottom" button on Home Page"
## Problem:

Since a user is most likely concerned with the latest messages only, if he/she wants to read messages and not send any, a lot of scrolling will be needed which is bad UX

## Solution:

A button that scrolls to the bottom will make UX much better

## Screenshot
![image](https://user-images.githubusercontent.com/68962290/117951944-84232b00-b2c9-11eb-89d4-df731246257c.png)

[2021-05-12 09:25] abhijeet007rocks8 commented on #100
can you shift the dropdown to little below as it is covering the button which doesnt look nice also there are white lines in dark mode.
Just fix these two minor issues and make a pR

[2021-05-12 09:30] SanskritiKushik5 commented on #100
Okay.

[2021-05-12 13:18] N-Shar-ma commented on #212
Could you please assign this issue to me?

[2021-05-12 13:59] N-Shar-ma opened #215 "Bug: Nav icon (hamburger icon) is invisible in light mode"
## Screenshot:
![image](https://user-images.githubusercontent.com/68962290/117987418-505afc00-b2ef-11eb-97cd-27fed80a30e3.png)

Could you please assign this issue to me?

[2021-05-12 14:25] abhijeet007rocks8 commented on #211
@Shivangi-ch Go Ahead

[2021-05-12 14:32] abhijeet007rocks8 commented on #17
@DhairyaBahl Please review this logo.

[2021-05-12 15:20] Shivangi-ch commented on #215
@N-Shar-ma Already made an issue about problem with theme in navbar(#211), and currently working on it.

[2021-05-12 16:31] N-Shar-ma commented on #215
Oh alright then, I'll close this issue

[2021-05-12 16:31] #215 closed

[2021-05-12 17:29] garvitgupta13 opened #217 "Remove extra comments"
Some pages like [this](https://github.com/DhairyaBahl/React-Messenger-App/blob/master/src/components/contactForm/contactForm.js) consists of extra and unnecessary comments, which makes the code messy.

[2021-05-12 17:55] Shivangi-ch opened #219 "Style issue with buttons."
![Screenshot from 2021-05-12 23-24-09](https://user-images.githubusercontent.com/57783826/118021853-4d0c5280-b379-11eb-9d33-4cb3ef9577cb.png)
![Screenshot from 2021-05-12 23-24-26](https://user-images.githubusercontent.com/57783826/118021871-539aca00-b379-11eb-9fde-445b23319f53.png)

[2021-05-12 17:57] Shivangi-ch commented on #219
@abhijeet007rocks8 Please assign!

[2021-05-12 18:04] Shivangi-ch opened #220 "Clean the code."
- Due to a lot of contributions, the code is messy right now. For example improper indentation, unesseccary spaces/tabs, lack of comments to explain the code and extra commented code.
- All this makes it difficult for beginner contributors to understand the code.

So the code should be cleaned.

[2021-05-12 18:09] Shivangi-ch opened #221 "Add a features page."
We can add a feature page which mentions the features of the app such as emojis, speech to text for sending messages(#218), dark/light theme, etc.
Below are some example screenshots for reference:-
![Screenshot from 2021-05-12 23-37-14](https://user-images.githubusercontent.com/57783826/118023411-24855800-b37b-11eb-93e9-11971c1c260e.png)
![Screenshot from 2021-05-12 23-37-23](https://user-images.g

[2021-05-12 18:10] Shivangi-ch commented on #221
@abhijeet007rocks8  Please assign!

[2021-05-12 18:10] Shivangi-ch commented on #220
@abhijeet007rocks8 Please assign!

[2021-05-13 09:15] abhijeet007rocks8 commented on #221
@Shivangi-ch Go Ahead

[2021-05-13 09:17] abhijeet007rocks8 commented on #217
Try adding meaning full comments too so that it helps other developers

[2021-05-13 09:19] #202 closed

[2021-05-13 09:48] garvitgupta13 commented on #220
This issue was already open in #217
2 people working on the same issue is not correct

[2021-05-13 10:13] #170 closed

[2021-05-13 11:16] garvitgupta13 opened #225 "Enhance the styling of audio button in message box"
In dark theme the audio button and sent button looks together, there must be some gap between them
![image](https://user-images.githubusercontent.com/70805691/118118599-c607ba80-b40a-11eb-894d-7c878edde4ce.png)
Please assign me this issue under `gssoc21`

[2021-05-13 11:41] Shivangi-ch commented on #220
@garvitgupta13 the issue you created is about extra comments, where as I have raised other isuues as well like ` improper indentation, unesseccary spaces/tabs, lack of comments to explain the code`. You can work on removing extra comments and i will work on the remaining ones.

[2021-05-13 11:47] Shivangi-ch opened #226 "Add a "Speak Now" alert when mic is recording."
Currently their is **no way to know if the mic has started listening**(except for a small red dot in the tab title). What we can do is show **a small pop up(near the mic) that says _"Speak Now"_ when the mic is cliked** and disappears when the users stop speaking.
Please assign me this issue under `gssoc21`

[2021-05-13 11:48] Shivangi-ch commented on #226
@abhijeet007rocks8 please assign!

[2021-05-13 13:21] garvitgupta13 commented on #220
In that issue #217, @abhijeet007rocks8 requested me to add extra comments and using prettier I have fixed improper indentation also.

[2021-05-13 13:27] garvitgupta13 opened #229 "All api keys are public"
Currently all the api keys are public, and visible for everyone
We can hide them `.env` file and include it in `.gitignore`

Please assign me this issue under gssoc21

[2021-05-13 13:45] garvitgupta13 commented on #217
Hey @abhijeet007rocks8 @DhairyaBahl it is a request that please merge PR:#224 before any other PR, because on every PR merge, it creates a merge conflict, since this PR involves changes in most of the javascript files

[2021-05-14 08:27] abhijeet007rocks8 commented on #226
@Shivangi-ch  Go Ahead

[2021-05-14 10:15] #221 closed

[2021-05-14 10:15] #211 closed

[2021-05-14 12:11] subhangi2731 opened #237 "Setting up Eslint in the project and making the code prettier"
Linting the code and setting up ESlint in the project

[2021-05-14 12:12] subhangi2731 commented on #237
@DhairyaBahl can u please assign me this

[2021-05-14 12:15] subhangi2731 opened #238 "Change the navbar into sidebar or navigation drawer"
The current navbar is bulky and not very geat looking. I want to change the navbar into a sidebar or more commonly navigation drawer.

[2021-05-14 12:15] subhangi2731 commented on #238
@DhairyaBahl please assign me this issue

[2021-05-14 13:19] #225 closed

[2021-05-14 13:28] #212 closed

[2021-05-14 13:30] #217 closed

[2021-05-14 13:54] N-Shar-ma opened #240 "Bug: Text in buttons of the welcome dialogue box becomes invisible on hovering"
![IMG_20210514_191409](https://user-images.githubusercontent.com/68962290/118280711-17d34200-b4ea-11eb-8a5d-55e170d0aa38.jpg)
I would like to fix this bug by making the text color remain the same even on hovering

[2021-05-14 14:12] Shivangi-ch opened #241 "Theme in the FAQ section does not switch[bug]"
Currently the theme change is not working in the FAQ section of about us page.
I would like to fix it.
![Screenshot from 2021-05-14 19-41-22](https://user-images.githubusercontent.com/57783826/118282911-697ccc00-b4ec-11eb-89c4-1807e4453abc.png)
![Screenshot from 2021-05-14 19-41-24](https://user-images.githubusercontent.com/57783826/118282965-77cae800-b4ec-11eb-85be-b420bd440b70.png)

[2021-05-14 14:12] Shivangi-ch commented on #241
@DhairyaBahl Please assign this to me.

[2021-05-14 14:17] Shivangi-ch opened #242 "Add dark theme support for feature page."
I would like to Add dark theme support for feature page.
Currently the page works ony in light mode.

[2021-05-14 14:17] Shivangi-ch commented on #242
@DhairyaBahl @abhijeet007rocks8 please assign

[2021-05-14 14:26] Shivangi-ch opened #243 "Compilation error: App not working."
![Screenshot from 2021-05-14 19-54-35](https://user-images.githubusercontent.com/57783826/118284780-6a166200-b4ee-11eb-98c8-91540e451d9b.png)
I want to make a PR to fix this issue.
@DhairyaBahl @abhijeet007rocks8 Please assign.

[2021-05-14 14:27] Shivangi-ch commented on #243
This needs to be fixed right away!

[2021-05-15 06:21] akshay1027 opened #248 "Implement route-based code splitting and lazy loading"
Implement route-based code splitting and lazy loading so that what is needed only will be loaded and the rest will be loaded asynchronously in the background.

This will reduce website load time and improve performance tremendously!

[2021-05-15 06:21] akshay1027 commented on #248
I recently learnt this technique and would like to implement this in our website! @DhairyaBahl @abhijeet007rocks8

[2021-05-15 08:51] srishtij2000 commented on #141
Can I work on this issue?

[2021-05-15 10:20] N-Shar-ma commented on #240
Could you please assign this to me? @DhairyaBahl

[2021-05-15 13:05] akshay1027 opened #250 "Controlled dropdown in FAQ page"
Controlled dropdown in FAQ page

[2021-05-15 18:08] garvitgupta13 opened #252 "Compilation Error"
I just pulled the recent commits and on running the app we get a error
![image](https://user-images.githubusercontent.com/70805691/118373845-87bef680-b5d6-11eb-9444-e222cf83f48b.png)

Please assign me this issue `gssoc21`

[2021-05-15 18:58] garvitgupta13 commented on #252
I felt this is an urgent bug so I fixed it without being assigned.
Kindly review my PR

[2021-05-15 20:07] Shivangi-ch opened #254 "Make Navbar into a different component."
Currently Navbar is not a diffrent component .It is in app.js. Every other part of the page is a seperate component.
So I would like to seperate it out and make a different component of it.

[2021-05-15 20:08] Shivangi-ch commented on #254
@abhijeet007rocks8 @DhairyaBahl Please assign.

[2021-05-15 20:11] Shivangi-ch opened #255 "The dropdown arrow(scroll to bottom chat) should be at right-bottom corner of the page."
I would like to fix the position of dropdown arrow(scroll to bottom chat) to right-bottom corner of the page

[2021-05-15 20:11] Shivangi-ch commented on #255
@DhairyaBahl @abhijeet007rocks8 Please assign.

[2021-05-15 20:15] Shivangi-ch opened #256 "Dark theme support for Landing page."
Currently landing page works only in the light mode.
I would like to implement to dark theme in it.
![Screenshot from 2021-05-16 01-44-35](https://user-images.githubusercontent.com/57783826/118376890-50594580-b5e8-11eb-9f2e-5f401544d55b.png)

[2021-05-15 20:15] Shivangi-ch commented on #256
@DhairyaBahl @abhijeet007rocks8 please assign.

[2021-05-16 07:27] Shivangi-ch opened #257 "Add frontend for Login/Signup form."
Their is no auth feature in the app right now.
So to take a step towrads it, I want to add the frontend part i.e., a login/signup page.

[2021-05-16 07:27] Shivangi-ch commented on #257
@abhijeet007rocks8 Please assing!

[2021-05-16 10:11] #252 closed

[2021-05-16 16:51] Saatvik21 opened #259 "Fix Responsiveness in Features Page"
The features page is not responsive below the screen size of 576px. I've attached a screenshot below for the same.
Kindly assign me this issue under GSSoC'21

## Screenshots
![Screenshot_4](https://user-images.githubusercontent.com/61618767/118405302-df239c00-b694-11eb-95b2-a8f32faff008.png)

[2021-05-16 17:45] #241 closed

[2021-05-16 17:46] #226 closed

[2021-05-16 17:49] garvitgupta13 opened #261 "footer does not changes on dark theme"
In features page the footer does not change on darktheme
![image](https://user-images.githubusercontent.com/70805691/118407157-05e5d080-b69d-11eb-989d-a3ca83bbd371.png)

Please assign me this issue under `gssoc21`

[2021-05-16 18:02] garvitgupta13 opened #262 "Sender's name is not visible"
In dark theme the senders name is not visible
![image](https://user-images.githubusercontent.com/70805691/118407555-dc2da900-b69e-11eb-8178-449f3e0e9530.png)
![image](https://user-images.githubusercontent.com/70805691/118407558-e3ed4d80-b69e-11eb-8eb9-73eb95721521.png)

Please assign me this issue under `gssoc21`

[2021-05-16 18:09] garvitgupta13 opened #263 "Change the design of message box in dark theme"
The message box looks the same on both light and dark theme.
We can change the look of message box under dark theme so it looks much better with the theme

Please assign me this issue under `gssoc21`

[2021-05-16 18:12] garvitgupta13 opened #264 "Enhance the design of input box"
We can enhance the design of input message field so that it looks better.

Please assign me this issue under `gssoc21`

[2021-05-16 23:38] subhangi2731 commented on #126
@abhijeet007rocks8 @DhairyaBahl Please assign this issue to me I want to work

[2021-05-17 03:26] abhijeet007rocks8 commented on #261
Refer Issue #209

[2021-05-17 03:27] abhijeet007rocks8 commented on #264
Do you have any suggestions in mind?? like exactly what you wish to improve and how

[2021-05-17 05:04] joelerego commented on #126
Hey, sure. Sorry got busy with work. You should assign it to @subhangi2731

[2021-05-17 05:20] abhijeet007rocks8 commented on #126
@subhangi2731 GO ahead

[2021-05-17 06:42] garvitgupta13 opened #266 "Landing page theme doesn't changes"
Landing page is always black in both light and dark theme
![image](https://user-images.githubusercontent.com/70805691/118443000-fac88a00-b708-11eb-82b3-0a04bb5604e9.png)
![image](https://user-images.githubusercontent.com/70805691/118443052-103db400-b709-11eb-90c3-7b2fa9e43804.png)
Please aasign me this issue under `gssoc21`

[2021-05-17 06:52] subhangi2731 commented on #126
thank you @abhijeet007rocks8 @joelerego I will work on this

[2021-05-17 07:32] garvitgupta13 commented on #264
![image](https://user-images.githubusercontent.com/70805691/118448776-08354280-b710-11eb-837b-e5f1d92183a8.png)

If you have a different idea than please let me know

[2021-05-17 07:44] garvitgupta13 commented on #261
In issue #242 the dark theme support for feature changes were merged, but still the footer does not change its color in features page.
I raised the issue specific to feature page.

[2021-05-17 08:34] Shivangi-ch commented on #266
@garvitgupta13 Already an issue for this #256, Also made a pull request for this #268

[2021-05-17 08:43] garvitgupta13 commented on #266
Sorry me bad, I didn't noticed it

[2021-05-17 08:43] #266 closed

[2021-05-17 11:42] #259 closed

[2021-05-17 11:43] #256 closed

[2021-05-17 11:48] #262 closed

[2021-05-17 11:51] #229 closed

[2021-05-17 12:44] garvitgupta13 opened #270 "Font size is very small"
I pulled the latest changes and observed that the text is too small to read.
We should increase the font size
![image](https://user-images.githubusercontent.com/70805691/118490470-983cb180-b73b-11eb-9ae6-d9e668cbac55.png)

Please assign me this issue under `gssoc21`

[2021-05-17 13:04] #182 closed

[2021-05-17 14:38] N-Shar-ma opened #271 "Bug: Welcome Dialogue Box does not submit when enter is pressed"
## Problem
On clicking the enter button, the name is submitted, but on pressing the enter key, nothing happens. This is bad UX and can frustrate a user

## Solution
On pressing the enter key from the keyboard, the form should be submitted (the name should be set, just like it is when clicking the Enter button)

Please assign this issue to me, I've already fixed this bug locally

[2021-05-17 17:04] abhijeet007rocks8 commented on #271
@N-Shar-ma  Go Ahead

[2021-05-17 17:07] abhijeet007rocks8 commented on #264
It looks good did you tried other combinations too because the  blackness in the starting can be reduced a little maybe using a lighter shade

[2021-05-17 17:08] abhijeet007rocks8 commented on #263
Any specific suggestions or ideas??

[2021-05-17 17:10] #240 closed

[2021-05-17 17:14] garvitgupta13 commented on #264
Sure, I will try with a lighter shade of black and will let you know

[2021-05-17 17:15] garvitgupta13 commented on #263
I will share it with you by tomorrow morning

[2021-05-17 17:27] #255 closed

[2021-05-17 17:38] #271 closed

[2021-05-17 17:42] #173 closed

[2021-05-17 18:22] garvitgupta13 commented on #264
![image](https://user-images.githubusercontent.com/70805691/118537689-e5844780-b76a-11eb-8099-34fc4da93ac1.png)
I tried it with a lighter shade of black, if it correct should I create a PR

[2021-05-17 19:02] abhijeet007rocks8 commented on #264
Looks good

[2021-05-17 22:18] N-Shar-ma opened #275 "Bug: Timestamp of latest message hidden under input bar in mobile view"
## Screenshot:
Currently it looks like this:
![image](https://user-images.githubusercontent.com/68962290/118563207-ff01a100-b722-11eb-96e4-8a3b4f0a1cb1.png)

I would like to add some more space after the last message so that there is no overlap, and everything is spaced properly. Like this:
![image](https://user-images.githubusercontent.com/68962290/118563704-e5ad2480-b723-11eb-8b38-e045dd7e6b33.p

[2021-05-17 23:02] N-Shar-ma opened #276 "Load only latest 50 messages instead of all"
## Problem
As this app is growing and is used more, the total number of messages is becoming very large and retrieving them all from firestore will get slow. Also, old messages are not usually relevant, so there's no reason for so much overhead

## Solution
Only fetching and showing the latest 50 messages will speed up load times and improve a user's experience, by showing only relevant content

[2021-05-18 05:49] hardikshah197 commented on #275
May I take up this issue? I can fix it soon @N-Shar-ma

[2021-05-18 18:33] abhijeet007rocks8 commented on #276
Nice idea but we can fetch the latest 50 messages
But we must also need to find a way to access the previous messages (beyond 50) if user wants
Do try to find a solution for this.

[2021-05-18 18:52] garvitgupta13 commented on #264
Hey @abhijeet007rocks8 Please add the gssoc21 level tags on that PR

[2021-05-18 19:52] N-Shar-ma commented on #276
Sure, I'll make a PR for loading latest 50 messages soon, and after that make another PR to add a button at the top of all messages that on being clicked loads older messages

[2021-05-18 20:23] N-Shar-ma opened #281 "Bug: Scroll To Bottom button not visible on narrow screen size"
## Problem
Mobile users do not have access to the scroll button which can be a frustrating experience, and is unfair to those not using the website on a PC.

## Screenshot / Solution:
The button can be positioned in the middle horizontally and just above the input bar so it does not interfere with the messages
![image](https://user-images.githubusercontent.com/68962290/118718395-09cc3c80-b7dc-11eb

[2021-05-19 12:12] N-Shar-ma opened #282 "Add a button to load older messages at user's request"
This is in continuation of issue #276

I want to add a button at the top of all the visible messages, which on clicking loads older messages in increments of 50. So, on loading the website 50 messages load, and on clicking this button once, latest 100 will load, on clicking again latest 150 will load, and so on. Hope this sounds good

I'll work on this once PR #280 is merged

[2021-05-19 13:48] akshay1027 opened #283 "Texts in about us are too small"
For some reason Texts in about us have become too small, maybe it has to do with the changes made by other developers! I would like to fix this!

[2021-05-19 13:49] akshay1027 commented on #283
![2021-05-19 (7)](https://user-images.githubusercontent.com/65683151/118824006-1b463f00-b8d7-11eb-9ef4-3cee1f6ac190.png)

[2021-05-19 13:50] akshay1027 opened #284 "Texts in Navbar are too small"
Texts in Navbar are too small. I would like to change them!

[2021-05-19 13:50] akshay1027 commented on #284
![2021-05-19 (7)](https://user-images.githubusercontent.com/65683151/118824205-4892ed00-b8d7-11eb-94e8-06c0c2fcea27.png)

[2021-05-19 13:51] akshay1027 commented on #283
@abhijeet007rocks8 @DhairyaBahl

[2021-05-19 13:52] akshay1027 opened #285 "Custom background is not there in about us page!"
Custom background is not there in about us page, right now we have the background from home page and it does not look clean!

![2021-05-19 (7)](https://user-images.githubusercontent.com/65683151/118824470-809a3000-b8d7-11eb-8893-d37a9b531f12.png)

[2021-05-19 13:52] akshay1027 commented on #285
i would like to improve both dark mode and light mode background! @abhijeet007rocks8 @DhairyaBahl

[2021-05-19 14:01] abhijeet007rocks8 commented on #282
Sounds Good

[2021-05-19 14:04] #220 closed

[2021-05-19 14:05] akshay1027 opened #286 "secondary colour in texts to make it aesthetic"
adding secondary colour in few words of the texts would be much better and more aesthetic.

![2021-05-19 (8)](https://user-images.githubusercontent.com/65683151/118826659-4c277380-b8d9-11eb-92ed-45c247b0c52e.png)

[2021-05-19 14:05] akshay1027 commented on #286
Would love to work on this @abhijeet007rocks8 @DhairyaBahl

[2021-05-19 14:07] #275 closed

[2021-05-19 14:08] akshay1027 opened #287 "No box shadow effects in dark mode"
No box shadow effects in dark mode

![2021-05-19 (9)](https://user-images.githubusercontent.com/65683151/118827075-a9bbc000-b8d9-11eb-9892-a22b30abb0c5.png)

[2021-05-19 14:08] akshay1027 commented on #287
i would like to improve this @abhijeet007rocks8

[2021-05-19 14:09] #276 closed

[2021-05-19 14:10] akshay1027 opened #288 "Bug in footer"
Bug in footer. the github icon is smaller when compared with other icons!!

![2021-05-19 (10)](https://user-images.githubusercontent.com/65683151/118827441-0028fe80-b8da-11eb-9ce6-e3c037f36549.png)

[2021-05-19 14:10] akshay1027 commented on #288
I would like to fix this bug, @abhijeet007rocks8

[2021-05-19 14:12] akshay1027 opened #289 "Adding illustrations in about us page"
Adding illustrations to the about us page would make it more modern!

check out this website which I made, this would give a practical idea of what am saying:

https://pec-forum-landingpage.netlify.app/

[2021-05-19 14:13] akshay1027 commented on #289
@abhijeet007rocks8 I would like to work on this!

[2021-05-19 14:32] garvitgupta13 commented on #263
Hey @abhijeet007rocks8 please let me know should I create a PR for this

[2021-05-19 14:36] akshay1027 opened #290 "Submit button is not responsive"
Submit button is not responsive in forms

![2021-05-19 (12)](https://user-images.githubusercontent.com/65683151/118831787-ae827300-b8dd-11eb-941c-a11281cc681f.png)

[2021-05-19 14:36] akshay1027 commented on #290
I would like to work on this @abhijeet007rocks8

[2021-05-19 14:40] abhijeet007rocks8 commented on #289
@akshay1027 Looks Great Go ahead. Just remember to use purple instead of green as that theme is followed throughout the app

[2021-05-20 04:38] #282 closed

[2021-05-20 06:58] #270 closed

[2021-05-20 07:15] #264 closed

[2021-05-20 07:46] garvitgupta13 opened #292 "Scroll to bottom button"
Scroll to bottom button remains the same in both light and dark theme.
Change the colour of the scroll to bottom button in the dark theme and increase its size, it's very small
![image](https://user-images.githubusercontent.com/70805691/118939602-7b87c000-b96d-11eb-8974-cae3a5633cfe.png)

[2021-05-20 07:49] garvitgupta13 opened #293 "Multiple buttons"
Currently, there are 2 scrolls to the bottom button one in the navbar while the other beside the input message box
I guess the one in the navbar should be removed
![image](https://user-images.githubusercontent.com/70805691/118939972-dfaa8400-b96d-11eb-9d76-7a7db2ae6643.png)

[2021-05-20 07:51] garvitgupta13 commented on #288
In issue #261 I raised the same issue before
So please assign this issue to me @abhijeet007rocks8

[2021-05-20 07:55] garvitgupta13 opened #294 "Use dynamic year in footer"
Currently, the year set in the footer is static
We can replace it with the dynamic year which will extract the year from the current date

Please assign me this issue under `gssoc21`

[2021-05-20 07:57] garvitgupta13 opened #295 "Login page footer"
Login page footer does not change on dark theme
![image](https://user-images.githubusercontent.com/70805691/118941157-10d78400-b96f-11eb-8b2b-6e70d450b2dc.png)
PLease assign me this issue under `gssoc21`

[2021-05-20 08:00] garvitgupta13 opened #296 "Landing page route"
Currently there is no link for landing page
On entering the website we should first go to the landing page than to chat section

I would like to fix it

[2021-05-20 08:03] garvitgupta13 opened #297 "Toggle icon in navbar"
Toggle icon in navbar is relatively small
I would like to increase its size
![image](https://user-images.githubusercontent.com/70805691/118941985-ecc87280-b96f-11eb-9966-73c8d723c4c2.png)

[2021-05-20 09:59] garvitgupta13 commented on #297
PLease assign me this issue under `gssoc21`

[2021-05-20 10:00] garvitgupta13 commented on #293
Please assign me this issue under `gssoc21`

[2021-05-20 10:00] garvitgupta13 commented on #292
Please assign me this issue under `gssoc21`

[2021-05-20 10:21] #295 closed

[2021-05-20 10:21] #261 closed

[2021-05-20 10:22] garvitgupta13 commented on #293
Please add `level` tag to that PR
It is merged without tags

[2021-05-20 11:44] akshay1027 opened #303 "The messages are taking too long to load!"
The messages are taking too long to load, we can try to catch it to local storage

[2021-05-20 11:44] akshay1027 commented on #303
I would like to improve the performance and implement this @abhijeet007rocks8

[2021-05-20 14:30] DhairyaBahl opened #305 "Improve Dependency section of Readme.md"
### Description

Improvement in the readme is Appreciated ! Feel free to make a PR .

[2021-05-20 14:31] QueshAnmak commented on #305
I want to work on this issue, kindly assign it to me.

[2021-05-20 14:32] DhairyaBahl commented on #305
You are first time contributor ! So I suggest you to add react router over there ! In the dependency section ! Feel free to explore more on your own

[2021-05-20 14:33] QueshAnmak commented on #305
Got it, Thanks!

[2021-05-20 15:09] akshay1027 opened #307 "Bug in app, messages are loaded in all the routes!"
Bug in app, messages are loaded in all the routes!

[2021-05-20 15:09] akshay1027 commented on #307
I would like to fix this @DhairyaBahl @abhijeet007rocks8

[2021-05-20 15:12] akshay1027 commented on #307
![2021-05-20](https://user-images.githubusercontent.com/65683151/119004013-d04a2b80-b9ab-11eb-8252-37c57e657e74.png)

[2021-05-20 15:37] akshay1027 opened #309 "Custom preloader"
Custom preloader when app is loading lazyly.
Check out this for reference!

https://pec-forum.herokuapp.com/

[2021-05-20 15:38] akshay1027 commented on #309
@abhijeet007rocks8 @DhairyaBahl I would like to work on this!

[2021-05-20 15:42] akshay1027 opened #310 "change navbar into component"
please check out here #308

[2021-05-20 15:42] akshay1027 commented on #310
I would like to work on this @DhairyaBahl @abhijeet007rocks8

[2021-05-20 16:49] srishtij2000 commented on #284
Can I work on this issue?

[2021-05-20 16:49] srishtij2000 commented on #283
Can I work on this issue?

[2021-05-20 16:49] srishtij2000 commented on #93
Can I work on this issue?

[2021-05-20 19:22] N-Shar-ma opened #313 "Bug: Wrong order of text on About Page"
## Problem:

"Motive of our website" is wrongly displayed as "Of our website motive"

![image](https://user-images.githubusercontent.com/68962290/119036731-ed5c0b80-b965-11eb-84d8-4837812a8d0c.png)

## Solution:
![image](https://user-images.githubusercontent.com/68962290/119036625-c7cf0200-b965-11eb-8c68-84c23f3aa5c6.png)

I'd like to fix this, please assign this issue to me

[2021-05-21 01:26] akshay1027 opened #315 "load more messages button style can be improved"
![2021-05-20 (3)](https://user-images.githubusercontent.com/65683151/119068356-a7ed1c00-ba01-11eb-8362-ff1c39d15155.png)

[2021-05-21 01:26] akshay1027 commented on #315
@abhijeet007rocks8 @DhairyaBahl I would like to work on this!

[2021-05-21 06:16] #313 closed

[2021-05-21 06:42] #292 closed

[2021-05-21 06:49] garvitgupta13 commented on #294
Please add `level` tag to that PR
It is merged without tags

[2021-05-21 06:49] garvitgupta13 commented on #297
Please add `level` tag to that PR
It is merged without tags

[2021-05-21 11:21] akshay1027 opened #316 "Optimize images in login page"
Optimize images in login page just like I did here: #176

[2021-05-21 11:23] akshay1027 opened #317 "Optimize images in features page"
Optimize images in features page , reference #176

[2021-05-21 11:23] akshay1027 commented on #317
@abhijeet007rocks8 @DhairyaBahl i would like to work on this

[2021-05-21 11:25] akshay1027 opened #318 "Optimize images in landing page"
Optimize images in landing page , reference #176

[2021-05-21 11:25] akshay1027 commented on #318
@abhijeet007rocks8 @DhairyaBahl i would like to work on this

[2021-05-21 11:26] akshay1027 commented on #316
@abhijeet007rocks8 @DhairyaBahl i would like to work on this

[2021-05-21 11:31] #176 closed

[2021-05-21 12:07] #248 closed

[2021-05-21 16:05] #297 closed

[2021-05-21 16:05] #294 closed

[2021-05-22 02:22] #281 closed

[2021-05-22 14:41] N-Shar-ma opened #319 "New Feature: Store the user details in the browser's local storage"
## Problem
Currently if a user reloads and revisits the website, the website does not "remember" the user and he/she has to re enter their name every time, and still their older messages don't show up as their own. Dark theme preferences too are not retained.

## Solution
I want to use a custom hook to store the username, user id, and dark theme preferences in local storage to improve the UX

I'll

[2021-05-22 14:53] Shivangi-ch commented on #283
@abhijeet007rocks8 @DhairyaBahl #283 and #284 can be merged into a single issue.

[2021-05-22 14:56] Shivangi-ch commented on #307
@abhijeet007rocks8 Other people are not able work on the app because of the issue, please ask **akshay** to make a PR for this. OR assign this to me I have fixed this and can make a PR.

[2021-05-22 15:02] Shivangi-ch opened #320 "In dark mode the message input field content is not in center."
![Screenshot from 2021-05-22 20-30-57](https://user-images.githubusercontent.com/57783826/119231129-d7ed0a00-bb3c-11eb-8e7a-706755612e15.png)

[2021-05-22 15:03] Shivangi-ch commented on #320
@abhijeet007rocks8 @DhairyaBahl Please assign.

[2021-05-22 15:16] Shivangi-ch opened #321 "New Feature:On-screen Keyboard for desktop site."
![Screenshot from 2021-05-22 20-38-46](https://user-images.githubusercontent.com/57783826/119231420-775ecc80-bb3e-11eb-92ac-3dd95e8f3139.png)
I would like to add a small icon for onscreen keyboard in the message input box.Olicking it will open an onscreen keyboard.
This would be only for desktop mode .

[2021-05-22 15:16] Shivangi-ch commented on #321
@abhijeet007rocks8 @DhairyaBahl Please assign.

[2021-05-22 15:22] Shivangi-ch opened #322 "New Feature:Notification of the new message when the user is on page other than homepage."
I would like to add  a feature  to notify for the new message when the user is on page other than homepage.

[2021-05-22 15:22] Shivangi-ch commented on #322
@abhijeet007rocks8 @DhairyaBahl Please assign.

[2021-05-22 15:29] akshay1027 commented on #307
@Shivangi-ch sorry for keeping you and others waiting! Am having undesirable situations so was not able to do anything! Made PR, Check it out @abhijeet007rocks8 @DhairyaBahl

[2021-05-22 17:40] Shivangi-ch opened #324 "Contents of Landing page are not aligned properly"
![Screenshot from 2021-05-22 23-08-11](https://user-images.githubusercontent.com/57783826/119236032-db8b8b80-bb52-11eb-84aa-0fbaf3863632.png)

[2021-05-22 17:40] Shivangi-ch commented on #324
@abhijeet007rocks8 Please assign

[2021-05-22 17:41] Shivangi-ch opened #325 "Text of footer not visible in light mode."
![Screenshot from 2021-05-22 23-08-18](https://user-images.githubusercontent.com/57783826/119236062-02e25880-bb53-11eb-97a2-2fdc5d09f7ad.png)

[2021-05-22 17:41] Shivangi-ch commented on #325
@abhijeet007rocks8 Please assign

[2021-05-22 18:43] garvitgupta13 opened #328 "Timestamp is not visible"
Timestamp is not properly visible in dark theme
![image](https://user-images.githubusercontent.com/70805691/119237660-9c156d00-bb5b-11eb-91a9-7ee942ffb030.png)

Please assign me this issue under `gssoc21`

[2021-05-22 18:47] garvitgupta13 opened #329 "Small font size in navbar"
In dark theme font size of the navbar is too small and barely visible
![image](https://user-images.githubusercontent.com/70805691/119237757-2362e080-bb5c-11eb-8350-b4e55e5b0891.png)

Please assign me this issue under `gssoc21`

[2021-05-22 18:50] Shivangi-ch commented on #329
@garvitgupta13 Already an issue #284

[2021-05-22 18:51] garvitgupta13 opened #330 "Theme switch button is too small"
The theme switch button is too small, we should increase its size
![image](https://user-images.githubusercontent.com/70805691/119237857-b6037f80-bb5c-11eb-9a22-af7751026f5c.png)

Please assign me this issue under `gssoc21`

[2021-05-22 18:53] garvitgupta13 opened #331 "Navbar elements are not visible"
In dark theme navbar elements are not visible in mobile view
![image](https://user-images.githubusercontent.com/70805691/119237920-1397cc00-bb5d-11eb-9ee0-d36294485ac8.png)

Please assign me this issue under `gssoc21`

[2021-05-22 18:58] garvitgupta13 opened #332 "Text in FAQ is barely readable"
In the faq section, the text is too small and inconvenient to read.
![image](https://user-images.githubusercontent.com/70805691/119238023-b5b7b400-bb5d-11eb-8b2a-633a2aace3ce.png)

Please assign me this issue under `gssoc21`

[2021-05-22 19:13] Shivangi-ch commented on #332
Already an issue

[2021-05-22 19:14] Shivangi-ch commented on #331
Already an issue #284

[2021-05-22 19:47] subhangi2731 commented on #200
@abhijeet007rocks8 can i work on this

[2021-05-22 19:48] subhangi2731 commented on #138
@abhijeet007rocks8 please assign me this issue

[2021-05-22 19:49] subhangi2731 commented on #120
@abhijeet007rocks8 please assign me this issue

[2021-05-22 19:50] subhangi2731 commented on #53
@abhijeet007rocks8 please assign me this issue

[2021-05-22 19:51] subhangi2731 commented on #14
@DhairyaBahl @abhijeet007rocks8 please assign me this issue

[2021-05-22 19:53] subhangi2731 commented on #45
@abhijeet007rocks8 please assign me this issue

[2021-05-22 19:53] subhangi2731 commented on #15
@DhairyaBahl @abhijeet007rocks8 please assign me this issue

[2021-05-22 21:54] akshay1027 opened #333 "Navbar buttons are smaller in dark mode when compared with light mode"
see navbar links: smaller in dark mode when compared with light mode

![2021-05-23 (4)](https://user-images.githubusercontent.com/65683151/119241739-5914c300-bb76-11eb-8f22-46136eff0249.png)

![2021-05-23 (3)](https://user-images.githubusercontent.com/65683151/119241737-574aff80-bb76-11eb-865e-5c5fa04f04cd.png)

[2021-05-22 21:55] akshay1027 commented on #333
I would like to fix this @abhijeet007rocks8 @DhairyaBahl

[2021-05-22 22:07] akshay1027 opened #334 "Navbar buttons are smaller in mobile screen"
![2021-05-23 (5)](https://user-images.githubusercontent.com/65683151/119242005-1bb13500-bb78-11eb-82e0-d6c34665e01b.png)

[2021-05-22 22:07] akshay1027 commented on #334
@abhijeet007rocks8 @DhairyaBahl i would like to work on this!

[2021-05-22 22:08] akshay1027 opened #335 "Navbar dropdown overflow in mobile screen"
as you can see, the dropdown exceeds the screen width!

![2021-05-23 (5)](https://user-images.githubusercontent.com/65683151/119242032-4bf8d380-bb78-11eb-8232-d5584fe696fb.png)

[2021-05-22 22:08] akshay1027 commented on #335
@abhijeet007rocks8 @DhairyaBahl i would like to work on this!

[2021-05-22 22:10] akshay1027 opened #336 "Input box not responsive in dark mode"
![2021-05-23](https://user-images.githubusercontent.com/65683151/119242062-92e6c900-bb78-11eb-9ebf-771d4c732c9f.png)

[2021-05-22 22:10] akshay1027 commented on #336
@abhijeet007rocks8 @DhairyaBahl i would like to work on this

[2021-05-22 22:59] akshay1027 opened #339 "signin page not responsive"
![2021-05-23 (10)](https://user-images.githubusercontent.com/65683151/119242893-63878a80-bb7f-11eb-8d32-2d308f0547fb.png)

[2021-05-22 22:59] akshay1027 commented on #339
i would like to fix this @abhijeet007rocks8 @DhairyaBahl

[2021-05-22 23:15] akshay1027 opened #341 "Custom background for faq section"
as faq is a separate component we have to give custom background dor this as well!
reference #285

![2021-05-23 (12)](https://user-images.githubusercontent.com/65683151/119243105-8024c200-bb81-11eb-89a2-408a7ea6889c.png)

[2021-05-22 23:16] akshay1027 commented on #341
i would like to work on this @abhijeet007rocks8 @DhairyaBahl

[2021-05-22 23:41] akshay1027 opened #343 "redesign motive section in about us page!"
planning to Add an illustration and redesign the heading!

[2021-05-22 23:41] akshay1027 commented on #343
refrence #289

[2021-05-22 23:42] akshay1027 commented on #343
@abhijeet007rocks8 @DhairyaBahl i would like to work on this!

[2021-05-23 02:34] An-prog-hub commented on #138
Done, surely give PR today. Had bad health from past days.

[2021-05-23 02:36] anjali1102 commented on #138
All done, Surely give PR by today. I had bad health from past days. Sorry for late😐

[2021-05-23 05:24] anjali1102 opened #345 "Why no limitations to number of assigned issues per person"
generally, it's 3 assigned task per person @abhijeet007rocks8  @DhairyaBahl

[2021-05-23 05:35] garvitgupta13 commented on #332
please let me know the issue number.
If it it already a opened issue, I will close this

[2021-05-23 05:38] garvitgupta13 commented on #263
please review this issue @DhairyaBahl  @abhijeet007rocks8

[2021-05-23 06:05] abhijeet007rocks8 commented on #200
@subhangi2731 I think the PR for this is already made

[2021-05-23 06:13] abhijeet007rocks8 commented on #345
@anjali1102 Can you specify the issue more precisely or provide some reference??

[2021-05-23 06:41] anjali1102 commented on #345
There are contributors who having assigned issues ( more than 3 ) in this repository. Is this not allowed in other projects of GSSOC

[2021-05-23 09:25] subhangi2731 commented on #161
@abhijeet007rocks8 please assign me this issue i want to work

[2021-05-23 09:28] subhangi2731 commented on #3
@abhijeet007rocks8 please assign me this issues

[2021-05-23 10:03] garvitgupta13 commented on #334
I already opened the issue #329
So I request @abhijeet007rocks8 to assign me this issue

[2021-05-23 10:07] garvitgupta13 commented on #333
Already a issue #329
I reuest @abhijeet007rocks8 to assign me this issue

[2021-05-23 10:57] subhangi2731 commented on #50
@abhijeet007rocks8 @DhairyaBahl please assign me this issue

[2021-05-23 12:26] Shivangi-ch commented on #332
@garvitgupta13 #283

[2021-05-23 13:16] #332 closed

[2021-05-23 13:23] garvitgupta13 commented on #329
The PR attached with issue is concerned over changing fontsize of navbar elements in light theme only
I have raised issue specific to dark theme

[2021-05-23 13:26] garvitgupta13 commented on #331
The PR attached with that issue is fixing navbar font size in light mode only
While I have raised issue specific to the mobile view of navbar.

[2021-05-23 14:05] #319 closed

[2021-05-23 14:07] #320 closed

[2021-05-23 14:07] #283 closed

[2021-05-23 14:08] #284 closed

[2021-05-23 14:09] #288 closed

[2021-05-23 14:12] #316 closed

[2021-05-23 14:12] #317 closed

[2021-05-23 14:13] #318 closed

[2021-05-23 14:23] #286 closed

[2021-05-23 14:26] abhijeet007rocks8 commented on #345
I didn't heard of such a rule
People want to contribute issue are assigned to them and they are pushing PR regularly so they are being assigned

[2021-05-23 15:07] Shivangi-ch opened #353 "Add Dark theme in Login form"
Add Dark theme in Login form.
![Screenshot from 2021-05-23 20-36-27](https://user-images.githubusercontent.com/57783826/119266012-acceed00-bc06-11eb-889b-b8249b755d7e.png)

[2021-05-23 15:08] Shivangi-ch commented on #353
@abhijeet007rocks8 Please assign!

[2021-05-23 16:11] subhangi2731 commented on #93
@abhijeet007rocks8 please assign the level tag

[2021-05-23 16:12] subhangi2731 commented on #93
I will send the pr by today

[2021-05-23 16:13] subhangi2731 commented on #85
@abhijeet007rocks8 please assign me this issue

[2021-05-23 16:15] subhangi2731 commented on #95
@abhijeet007rocks8 please assign me this issue

[2021-05-23 16:16] subhangi2731 commented on #78
@abhijeet007rocks8 please assign this issue to me

[2021-05-23 16:18] subhangi2731 commented on #100
@abhijeet007rocks8 please assign this issue to me

[2021-05-23 16:18] subhangi2731 commented on #116
@abhijeet007rocks8 please assign this issue to me

[2021-05-23 16:20] subhangi2731 commented on #74
@abhijeet007rocks8 please assign this issue to me

[2021-05-23 16:22] Ankita297 commented on #116
@subhangi2731 the issue is already resolved .

[2021-05-23 18:41] #285 closed

[2021-05-23 18:42] #333 closed

[2021-05-23 18:48] #287 closed

[2021-05-23 19:15] #321 closed

[2021-05-23 19:23] Shivangi-ch opened #357 "Onscreen keyboard in dark theme does not work"
I just noticed that in dark mode onscreen keyboard keys are not visible.
![Screenshot from 2021-05-24 00-50-12](https://user-images.githubusercontent.com/57783826/119273844-68eddf00-bc2a-11eb-9d42-73bba278674f.png)

[2021-05-23 19:23] Shivangi-ch commented on #357
@abhijeet007rocks8 Please assign.

[2021-05-23 19:25] Shivangi-ch opened #358 "Size of the message box too big."
Currently size of the message box is too big.It covers half of the screen.
![Screenshot from 2021-05-24 00-54-04](https://user-images.githubusercontent.com/57783826/119273898-a9e5f380-bc2a-11eb-9b56-ce25efd0e232.png)

[2021-05-23 19:25] Shivangi-ch commented on #358
@abhijeet007rocks8 Please assign.

[2021-05-23 19:29] Shivangi-ch opened #359 "Enhance styling of icon of onscreen keyboard."
![Screenshot from 2021-05-24 00-54-04](https://user-images.githubusercontent.com/57783826/119273987-3b556580-bc2b-11eb-8fa4-fa7c9ac53eba.png)

[2021-05-23 19:29] Shivangi-ch commented on #359
@abhijeet007rocks8 Please assign

[2021-05-23 20:10] Shivangi-ch opened #361 "Dark theme support infooter of landing page"
![Screenshot from 2021-05-24 01-33-37](https://user-images.githubusercontent.com/57783826/119275129-ee748d80-bc30-11eb-9548-c4c8da17aac8.png)

[2021-05-23 20:10] Shivangi-ch commented on #361
@abhijeet007rocks8 Please assign.

[2021-05-23 20:25] #324 closed

[2021-05-23 21:53] Shivangi-ch opened #364 "New Feature: Add a Sign up(Create an account) page."
I would like to add an frontend of the create an account .

[2021-05-23 21:53] Shivangi-ch commented on #364
@abhijeet007rocks8 Please assign

[2021-05-24 03:20] SanskritiKushik5 commented on #100
@abhijeet007rocks8 You can assign it to @subhangi2731 because my laptop isn't working properly for few days!

[2021-05-24 06:01] subhangi2731 commented on #100
@abhijeet007rocks8 please assign this to me

[2021-05-24 07:00] #328 closed

[2021-05-24 07:54] garvitgupta13 opened #367 "Github icon in footer"
Github icon is relatively smaller in mobile view as compared to other icons
![image](https://user-images.githubusercontent.com/70805691/119315085-185e9c00-bc93-11eb-99f5-89ccfb442db3.png)
![image](https://user-images.githubusercontent.com/70805691/119315110-21e80400-bc93-11eb-8efd-e04d465c5c21.png)

[2021-05-24 07:55] garvitgupta13 opened #368 "text in footer"
The text in the footer is too small and not readable in mobile view
![image](https://user-images.githubusercontent.com/70805691/119315427-6ffd0780-bc93-11eb-81ff-8f1d100566ea.png)

[2021-05-24 11:23] #353 closed

[2021-05-24 15:48] #325 closed

[2021-05-24 16:22] Shivangi-ch opened #371 "Emoji Picker not aligned properly in dark mode."
![Screenshot from 2021-05-24 21-51-22](https://user-images.githubusercontent.com/57783826/119377070-4f0bd500-bcda-11eb-8c40-88a0f4cca369.png)

[2021-05-24 16:22] Shivangi-ch commented on #371
@abhijeet007rocks8 Please assign.

[2021-05-24 17:52] #358 closed

[2021-05-24 17:53] #359 closed

[2021-05-24 18:00] #361 closed

[2021-05-25 03:23] #371 closed

[2021-05-25 03:28] #364 closed

[2021-05-25 05:36] subhangi2731 commented on #183
@abhijeet007rocks8 please assign me

[2021-05-25 05:37] abhijeet007rocks8 commented on #183
@Shivangi-ch is there any update on the issue??

[2021-05-25 05:44] subhangi2731 opened #377 "Adding push notification on chat messages"
Push messaging provides a simple and effective way to re-engage with the users and handle incoming push messages. It also helps to subscribe and unsubscribe a user for push messaging and display a notification and respond to notification clicks

[2021-05-25 05:44] subhangi2731 commented on #377
@abhijeet007rocks8 please assign this issue to me

[2021-05-25 13:26] akshay1027 opened #379 "texts not visible in about us mobile screen"
texts not visible in about us mobile screen

![2021-05-25 (4)](https://user-images.githubusercontent.com/65683151/119505705-da44a380-bd8a-11eb-8a16-38d7e2203c36.png)

[2021-05-25 13:26] akshay1027 commented on #379
@abhijeet007rocks8 i would like to solve this!

[2021-05-25 14:14] tanishq-arya opened #382 "FAQ text size"
Increase the FAQ text size.
![image](https://user-images.githubusercontent.com/77333275/119513230-a7ea7480-bd91-11eb-8587-082288b77ec5.png)

[2021-05-25 14:19] tanishq-arya opened #383 "Fix nav links in dark mode"
Navbar links are not clearly visible in dark mode, and they become smaller too.
![image](https://user-images.githubusercontent.com/77333275/119513952-4a0a5c80-bd92-11eb-8d21-9b17eb512a4e.png)

[2021-05-25 14:19] tanishq-arya commented on #383
@abhijeet007rocks8 Please assign me this issue.

[2021-05-25 14:37] #315 closed

[2021-05-25 14:37] #289 closed

[2021-05-25 14:38] #303 closed

[2021-05-25 14:39] #290 closed

[2021-05-25 14:40] akshay1027 opened #385 "custom background in signin page"
refrence #285 @abhijeet007rocks8 i would like to work on this

[2021-05-25 14:40] akshay1027 opened #386 "custom background in signup page"

[2021-05-25 14:44] akshay1027 opened #387 "Signup page , dark mode for footer not available"
![2021-05-25 (8)](https://user-images.githubusercontent.com/65683151/119518046-ca7e8c80-bd95-11eb-8e1a-3f43071d3ca9.png)

@abhijeet007rocks8 i would like to fix this

[2021-05-25 14:45] akshay1027 opened #388 "add illustration in login page"
reference #289

[2021-05-25 14:45] akshay1027 commented on #388
@abhijeet007rocks8 i want to implement this

[2021-05-25 14:46] akshay1027 opened #389 "add illustration in signup page"
reference #289

@abhijeet007rocks8 i would like to work on this

[2021-05-25 14:53] akshay1027 opened #390 "signup page not responsive"
reference  #339

![2021-05-25 (9)](https://user-images.githubusercontent.com/65683151/119519244-e3d40880-bd96-11eb-8eb2-caab9e2f4057.png)

@abhijeet007rocks8 i would like to fix this

[2021-05-25 15:28] tanishq-arya commented on #382
@abhijeet007rocks8 I made some changes to the accordion too. If you like them I will make a PR.
![image](https://user-images.githubusercontent.com/77333275/119524993-c2295000-bd9b-11eb-9235-fdd136e3f7a6.png)
![image](https://user-images.githubusercontent.com/77333275/119525047-ceada880-bd9b-11eb-8bd5-0c6e3d274228.png)
![image](https://user-images.githubusercontent.com/77333275/119525277-f997fc80-b

[2021-05-25 15:30] akshay1027 opened #393 "custom dark and light theme for the individual faq"
reference #392

[2021-05-25 15:30] akshay1027 commented on #393
@abhijeet007rocks8 I would like to fix this!

[2021-05-25 16:10] tanishq-arya commented on #390
Copy of #339

[2021-05-25 16:11] tanishq-arya opened #394 "Add setup commands in README."
Add steps to clone and run the project in readme.

[2021-05-25 16:28] Saatvik21 opened #396 "Forgot Password Page[Front-end]"
I would like to create the front end part of forgot password page
@DhairyaBahl @abhijeet007rocks8 Please assign me this issue.

[2021-05-25 16:31] tanishq-arya opened #397 "Add Shadow to Footer"
Like header I would like to add the shadow to footer.
![image](https://user-images.githubusercontent.com/77333275/119534527-a6767780-bda4-11eb-8ab6-51d67b07547c.png)

[2021-05-25 16:31] tanishq-arya commented on #397
@abhijeet007rocks8 Please assign me this issue.

[2021-05-25 16:32] tanishq-arya opened #398 "Hover effect to logo in Footer"
Like the icons, logo should also have a hover effect.
![image](https://user-images.githubusercontent.com/77333275/119534830-f9e8c580-bda4-11eb-9aa9-d23a5a5f4817.png)

[2021-05-25 16:32] tanishq-arya commented on #398
@abhijeet007rocks8 please assign me this issue.

[2021-05-25 16:36] tanishq-arya commented on #398
Like this.
![image](https://user-images.githubusercontent.com/77333275/119535352-82676600-bda5-11eb-9647-794827d2c3fd.png)

[2021-05-25 16:38] Saatvik21 opened #399 "Add route to pages"
Currently, there are no routes to "Create your account" and "Already have your account" in Login and Signup page respectively. I would like to fix this issue. Please assign me this issue @abhijeet007rocks8

[2021-05-25 17:40] tanishq-arya opened #403 "[Bug]: Icons not aligned"
![image](https://user-images.githubusercontent.com/77333275/119543598-72a04f80-bdae-11eb-8e82-22d8e1b44144.png)

[2021-05-25 17:41] tanishq-arya commented on #403
@abhijeet007rocks8 please assign me this issue.

[2021-05-25 17:41] tanishq-arya opened #404 "[Proposal] Improve button"
![image](https://user-images.githubusercontent.com/77333275/119543690-92d00e80-bdae-11eb-8b30-c42e0119beab.png)

[2021-05-25 17:42] tanishq-arya commented on #404
@abhijeet007rocks8 please assign me this issue.

[2021-05-25 17:47] tanishq-arya opened #405 "[Content] : About us,Features"
Improve the content on about us page & features page. Content is as important as the product itself.

![image](https://user-images.githubusercontent.com/77333275/119544398-4802c680-bdaf-11eb-86f9-5e9dda7f33be.png)
<hr>
Improve catch phrases on the features page.

![image](https://user-images.githubusercontent.com/77333275/119544115-0c67fc80-bdaf-11eb-8da6-279ffb5086e9.png)

## Example suggestion
#

[2021-05-25 17:47] tanishq-arya commented on #405
@abhijeet007rocks8 please assign me this issue.

[2021-05-25 17:51] abhijeet007rocks8 commented on #405
@tanishq-arya Edit the content in website after getting approval of the content

[2021-05-25 18:04] abhijeet007rocks8 commented on #393
Exactly what fix are aiming at ?? can you explain

[2021-05-25 18:10] #343 closed

[2021-05-25 18:11] #341 closed

[2021-05-25 18:12] #383 closed

[2021-05-25 18:13] #398 closed

[2021-05-25 18:14] #397 closed

[2021-05-25 18:34] Shivangi-ch opened #406 "Contents of Feature Page not aligned properly."
The text is too big and not aligned to the left .Also the image not aligned properly.
![Screenshot from 2021-05-26 00-02-30](https://user-images.githubusercontent.com/57783826/119550220-c82c2a80-bdb5-11eb-8fa8-773c9e32b186.png)

[2021-05-25 18:35] Shivangi-ch opened #407 "Add floating animation to the images in landing page."
I would like to add floating animation to the images in landing page.
![Screenshot from 2021-05-24 01-33-33](https://user-images.githubusercontent.com/57783826/119550495-1ccfa580-bdb6-11eb-98e8-1a0f49e12efb.png)

[2021-05-25 18:38] Shivangi-ch opened #408 "New Feature : Add copy to clipboard functionality in messages."
I would like to add copy to clipboard functionality in messages.
I will add a small icon in message card .Clicking it will copy the contents of message.

[2021-05-25 18:38] Shivangi-ch commented on #406
@abhijeet007rocks8 Please assign.

[2021-05-25 18:38] Shivangi-ch commented on #407
@abhijeet007rocks8 Please assign.

[2021-05-25 18:39] Shivangi-ch commented on #408
@abhijeet007rocks8 Please assign.

[2021-05-25 19:05] Shivangi-ch opened #409 "New Feature : Add Email-autocomplete functionality."
I would like to add email autocomplete in  signup form.

[2021-05-25 19:33] Shivangi-ch opened #410 "New Feature : Add Loading Bar (Progress bar) for load old messages."
I would like to add Loading Bar (Progress bar) for load old messages.

[2021-05-25 19:37] Shivangi-ch opened #411 "Add floating animation in the images of features page."
I would like to add floating animation in the images of features page.

[2021-05-25 19:37] Shivangi-ch commented on #411
@abhijeet007rocks8 Please assign.

[2021-05-25 19:40] Shivangi-ch commented on #183
@abhijeet007rocks8 I was working on it but recently a PR is made on this #354 .
So I looked for another issues.
You may close this issue.

[2021-05-26 06:45] tarunsingh7379 opened #413 "bug-fix: The Footer background is white in a dark theme on the sign-up page"
The Footer background is white in a dark theme on the sign-up page. I want to fix this issue. Please assign this issue to me under gssoc21.
![image](https://user-images.githubusercontent.com/72147696/119614552-08be8f00-be1c-11eb-91d7-94981e75267f.png)

[2021-05-26 06:47] tarunsingh7379 commented on #413
@abhijeet007rocks8 please assign me this issue.

[2021-05-26 07:51] #382 closed

[2021-05-26 08:23] #399 closed

[2021-05-26 09:04] #330 closed

[2021-05-26 09:04] #331 closed

[2021-05-26 09:11] abhijeet007rocks8 commented on #409
Email Auto complete like how will it work
How will it work because email service provider like Gmail, outlook will be there ??

[2021-05-26 09:18] abhijeet007rocks8 commented on #408
For all messages or specific ones like urls

[2021-05-26 09:56] akshay1027 commented on #393
i will show with manually changing it show that you can easily understand

[2021-05-26 09:58] akshay1027 commented on #393
custom background for faq on toogle of dark mode light mode button:

![2021-05-26 (1)](https://user-images.githubusercontent.com/65683151/119640992-d1111080-be36-11eb-8334-7655f8b58505.png)

without custom background:

![2021-05-26](https://user-images.githubusercontent.com/65683151/119641137-f7cf4700-be36-11eb-9867-7b37ae3a02c4.png)

[2021-05-26 09:58] akshay1027 commented on #393
like this for lightmode as well
 @abhijeet007rocks8 please let me know

[2021-05-26 12:06] Shivangi-ch commented on #408
@abhijeet007rocks8 For all messages . I woul be using a react component for this.

[2021-05-26 12:11] Shivangi-ch commented on #409
@abhijeet007rocks8 I woluld be using an autocomplete React component for email fields inspired by Auto-Email JQuery plugin.
Once the user start typing his email , it will autocomplete.
Demo:
![Screenshot from 2021-05-26 17-40-26](https://user-images.githubusercontent.com/57783826/119657483-94024980-be49-11eb-9c6d-f7fe5f24bf70.png)

[2021-05-26 16:05] Saatvik21 opened #416 "Reset Password Page [Frontend]"
I would like to create a reset password page which can be visited when someone uses the forgot password page to send a email to them for resetting the password. Currently, I don't have much knowledge of backend so I can only create the frontend part of this i.e only the reset password page.

Kindly assign me this issue. @abhijeet007rocks8

[2021-05-26 17:59] Shivangi-ch opened #417 "BUG: Compilation error."
Just pulled the latest changes.
![Screenshot from 2021-05-26 23-28-29](https://user-images.githubusercontent.com/57783826/119708891-3c300680-be7a-11eb-8a35-5384ca60c70b.png)

[2021-05-26 18:00] Shivangi-ch commented on #417
@abhijeet007rocks8 Please assign . this needs to be solved right away

[2021-05-26 18:35] Shivangi-ch commented on #417
@abhijeet007rocks8 I felt this is an urgent bug so I fixed it without being assigned.
Kindly review my PR.

[2021-05-26 18:42] #417 closed

[2021-05-26 18:43] #396 closed

[2021-05-26 19:16] Saatvik21 opened #419 "Login & Signup page not turning dark in dark mode"
![Screenshot_1](https://user-images.githubusercontent.com/61618767/119718149-d72dde00-be84-11eb-8d49-40f5cb28d379.png)
![Screenshot_2](https://user-images.githubusercontent.com/61618767/119718156-d8f7a180-be84-11eb-88a1-f3edbfe28721.png)

The background of both login and signup page is white in dark mode as you can see in the screenshots.
I would like to fix this issue.

[2021-05-26 19:16] Saatvik21 commented on #419
Kindly assign me @abhijeet007rocks8

[2021-05-27 06:25] subhangi2731 opened #423 "Documentation on the process of setting up eslint and making the code prettier"
I will write the steps in the documentation of setting up eslint and linting the code

[2021-05-27 06:26] subhangi2731 commented on #423
@abhijeet007rocks8 please assign this issue to me

[2021-05-27 07:07] #368 closed

[2021-05-27 07:07] #367 closed

[2021-05-27 07:12] tarunsingh7379 opened #424 "bug-fix: In light mode keyboard toggler button layout is not properly center."
I want to fix the keyboard toggler button layout. Please assign this issue to me under gssoc21.
![image](https://user-images.githubusercontent.com/72147696/119781640-e2b2f080-bee8-11eb-9a12-b9b5bfd7981c.png)

[2021-05-27 09:28] tarunsingh7379 commented on #424
@abhijeet007rocks8 please assign me this issue.

[2021-05-27 10:46] Shivangi-ch opened #428 "Fix the size of images in landing page."
The image is too narrow.
![Screenshot from 2021-05-27 16-13-56](https://user-images.githubusercontent.com/57783826/119813325-c2922a00-bf06-11eb-9c04-c33fe28a253c.png)

[2021-05-27 10:46] Shivangi-ch commented on #428
@abhijeet007rocks8 Please assign.

[2021-05-27 13:51] #416 closed

[2021-05-27 13:52] #419 closed

[2021-05-27 13:53] #406 closed

[2021-05-27 15:44] garvitgupta13 opened #430 "FAQ is hidden"
In mobile view, the faq is hidden by contact form
![image](https://user-images.githubusercontent.com/70805691/119856529-6a701d80-bf30-11eb-90ec-afd6cea4ab39.png)
Please assign me this issue under `gssoc21`

[2021-05-27 15:45] garvitgupta13 opened #431 "Make contact-us form responsive"
Make contact-us form responsive
![image](https://user-images.githubusercontent.com/70805691/119856814-a3a88d80-bf30-11eb-97cb-4ffbc89a3283.png)
Please assign me this issue under `gssoc21`

[2021-05-27 15:46] garvitgupta13 opened #432 "Make signup page responsive"
Make signup page responsive
![image](https://user-images.githubusercontent.com/70805691/119856996-cd61b480-bf30-11eb-93b2-2c4df0be5ff8.png)
Please assign me this under `gssoc21`

[2021-05-27 15:49] garvitgupta13 opened #433 "Login page buttons"
In login page the buttons and links are not visible in mobile view
![image](https://user-images.githubusercontent.com/70805691/119857447-33e6d280-bf31-11eb-902d-4bb4cfb1f1a0.png)
Please assign me this issue under `gssoc21`

[2021-05-27 15:52] garvitgupta13 opened #434 "Messages are too small"
In mobile view, the messages are very small and inconvenient to read
![image](https://user-images.githubusercontent.com/70805691/119857730-6db7d900-bf31-11eb-9fec-2cbd8432f506.png)

Please assign me this issue under `gssoc21`

[2021-05-27 16:06] Saatvik21 opened #435 "Submit button in all Pages is not visible"
The submit button in Login, Signup, Forgot Password, Reset password page is not visible in dark mode.

I would like to change the UI of it.

## Screenshot
### It's currently like this.
![Screenshot_1](https://user-images.githubusercontent.com/61618767/119859860-642f7080-bf33-11eb-9804-fbc33ea20c20.png)

### I want to change it to this in dark mode for all pages
![Screenshot_2](https://user-images.

[2021-05-27 17:50] #345 closed

[2021-05-27 18:19] tanishq-arya opened #440 "[Proposal] Add hover effect to github icon in Footer logo."
Match the github icon in footer with hover effect like other icons.
![image](https://user-images.githubusercontent.com/77333275/119876941-0f492580-bf46-11eb-887b-3c3a8fac67b6.png)

[2021-05-27 18:19] tanishq-arya commented on #440
@abhijeet007rocks8 please assign me this issue.

[2021-05-27 19:39] #411 closed

[2021-05-27 19:39] #428 closed

[2021-05-27 19:41] #403 closed

[2021-05-27 19:42] #409 closed

[2021-05-28 11:49] garvitgupta13 opened #450 "FAQ component in mobile"
FAQ in mobile are not visible due to too small font size, I think their font size should be changed in mobile view
![image](https://user-images.githubusercontent.com/70805691/119975890-056e0380-bfd4-11eb-891a-fe213058b855.png)

Please assign me this issue under `gssoc21`

[2021-05-28 14:26] Shivangi-ch opened #454 "Redesign the load more messages button."
I would like to Redesign the load more messages button.

[2021-05-28 14:26] Shivangi-ch commented on #454
@abhijeet007rocks8 Please assign.

[2021-05-28 14:30] Shivangi-ch opened #455 "Dark theme issue login up"
![Screenshot from 2021-05-28 19-27-10](https://user-images.githubusercontent.com/57783826/119999361-49bacd00-bfef-11eb-9359-fc7b178ae9c1.png)

[2021-05-28 14:31] subhangi2731 commented on #31
@abhijeet007rocks8 please assign this issue to me

[2021-05-28 14:31] Shivangi-ch commented on #455
@abhijeet007rocks8 Please assign.

[2021-05-28 14:33] subhangi2731 commented on #42
@abhijeet007rocks8 please assign this issue to me

[2021-05-28 15:03] Shivangi-ch opened #456 "Email field not turning dark"
![Screenshot from 2021-05-28 19-26-26](https://user-images.githubusercontent.com/57783826/120004046-f139fe80-bff3-11eb-8129-95ada89755b8.png)

[2021-05-28 15:03] Shivangi-ch commented on #456
@abhijeet007rocks8 Please assign.

[2021-05-28 15:50] subhangi2731 commented on #138
@abhijeet007rocks8 please assign this issue to me

[2021-05-28 16:01] abhijeet007rocks8 commented on #31
Please do if you have

[2021-05-28 16:17] #404 closed

[2021-05-28 16:20] Shivangi-ch opened #458 "Add Email autocomplete in contact us form."
I would like to add email-complelete in contact us form.
I woluld be using an autocomplete React component for email fields inspired by Auto-Email JQuery plugin.
Once the user start typing his email , it will autocomplete.

[2021-05-28 16:20] Shivangi-ch commented on #458
@abhijeet007rocks8 Please assign.

[2021-05-28 16:21] subhangi2731 opened #459 "Implementing the neuromorphic layout template on all pages"
Implementing the neuromorphic design to the pages

[2021-05-28 16:22] subhangi2731 commented on #459
@abhijeet007rocks8 please assign me this issue

[2021-05-28 16:25] #459 closed

[2021-05-28 16:31] subhangi2731 opened #460 "Implementing neuromorphic layout for messages page"

[2021-05-28 16:31] subhangi2731 commented on #460
@abhijeet007rocks8 please assign me the issue

[2021-05-28 16:32] subhangi2731 opened #461 "Implementing neuromorphic layout for signup page"

[2021-05-28 16:32] subhangi2731 commented on #461
@abhijeet007rocks8 please assign this issue to me

[2021-05-28 16:33] subhangi2731 opened #462 "Implementing neuromorphic layout for login page"

[2021-05-28 16:33] subhangi2731 commented on #462
@abhijeet007rocks8 please assign this issue to me

[2021-05-28 16:33] subhangi2731 opened #463 "Implementing neuromorphic layout for about us page"

[2021-05-28 16:34] subhangi2731 commented on #463
@abhijeet007rocks8 please assign this issue to me

[2021-05-28 16:59] Shivangi-ch opened #465 "Load more message button dark theme."
![Screenshot from 2021-05-28 22-23-06](https://user-images.githubusercontent.com/57783826/120017928-15054080-c004-11eb-8864-b8e5232c8dd8.png)

[2021-05-28 18:01] #435 closed

[2021-05-28 18:16] #434 closed

[2021-05-28 19:17] subhangi2731 commented on #78
@abhijeet007rocks8 please assign this to me

[2021-05-28 19:28] #394 closed

[2021-05-28 19:34] #407 closed

[2021-05-28 19:43] #431 closed

[2021-05-28 19:44] #430 closed

[2021-05-28 19:57] Shivangi-ch opened #469 "Compilation error"
Just pulled the latest changes and server shows error.
![Screenshot from 2021-05-29 01-16-21](https://user-images.githubusercontent.com/57783826/120035965-06775300-c01d-11eb-9061-4dd079891c12.png)

[2021-05-28 19:58] Shivangi-ch commented on #469
@abhijeet007rocks8 Please assign.

[2021-05-28 20:05] #469 closed

[2021-05-28 22:03] akshay1027 opened #474 "dark mode Background in contact us"
dark mode Background in contact us does not follow light mode background theme!

@abhijeet007rocks8 i would like to fix this

[2021-05-28 22:05] akshay1027 commented on #386
@abhijeet007rocks8 please let me know

[2021-05-29 03:28] #126 closed

[2021-05-29 04:40] #322 closed

[2021-05-29 04:41] #458 closed

[2021-05-29 04:45] #393 closed

[2021-05-29 06:17] tanishq-arya commented on #339
@abhijeet007rocks8 can I work on this ?

[2021-05-29 07:08] tanishq-arya commented on #336
@abhijeet007rocks8 can I work on this ?

[2021-05-29 07:15] Saatvik21 opened #477 "text not visible in dark mode in main app"
The text when we want to write a message is not visible due to white background in dark mode.

I would like to fix this issue.

![Screenshot_2](https://user-images.githubusercontent.com/61618767/120061605-a8c62380-c07b-11eb-99e6-3d61f1ff60be.png)

Kindly assign me this issue @abhijeet007rocks8

[2021-05-29 07:27] Saatvik21 opened #479 "FAQ and Contact Us Section Overlapping"
![Screenshot_3](https://user-images.githubusercontent.com/61618767/120061989-5b4ab600-c07d-11eb-823d-fb5f2545a799.png)

They are overlapping in about us section.

I would like to fix this issue @abhijeet007rocks8

[2021-05-29 09:51] tanishq-arya opened #480 "Change color scheme for messages"
![image](https://user-images.githubusercontent.com/77333275/120065935-85a66e80-c091-11eb-9a4e-eb849f299025.png)

[2021-05-29 09:51] tanishq-arya commented on #480
@abhijeet007rocks8 Please assign this to me.

[2021-05-29 09:52] tanishq-arya opened #481 "Enhance button on landing page"
![image](https://user-images.githubusercontent.com/77333275/120065962-b1c1ef80-c091-11eb-8a01-59394b486116.png)

[2021-05-29 09:52] tanishq-arya commented on #481
@abhijeet007rocks8 please assign this to me.

[2021-05-29 09:54] tanishq-arya opened #482 "[Bug]: Change text color for dark mode"
![image](https://user-images.githubusercontent.com/77333275/120065990-e5047e80-c091-11eb-898f-fa668e9c50b8.png)

[2021-05-29 09:54] tanishq-arya commented on #482
@abhijeet007rocks8 please assign this to me.

[2021-05-29 10:19] tanishq-arya opened #484 "[Bug]: Responsive layout"
Fix responsiveness for form.
![image](https://user-images.githubusercontent.com/77333275/120066674-1df22280-c095-11eb-9a27-ba88e4b71909.png)

[2021-05-29 10:19] tanishq-arya commented on #484
@abhijeet007rocks8 please assign me this issue.

[2021-05-29 10:20] tanishq-arya opened #485 "[Bug]: Text in footer"
Center text.
![image](https://user-images.githubusercontent.com/77333275/120066751-8fca6c00-c095-11eb-8868-8b0f8c99d501.png)

[2021-05-29 10:20] tanishq-arya commented on #485
@abhijeet007rocks8 please assign me this issue.

[2021-05-29 10:24] tanishq-arya commented on #405
![image](https://user-images.githubusercontent.com/77333275/120066806-d15b1700-c095-11eb-9410-ef0fbb9eb003.png)

FEATURES
![image](https://user-images.githubusercontent.com/77333275/120066815-dc15ac00-c095-11eb-8b06-2cdfb5ead15d.png)
![image](https://user-images.githubusercontent.com/77333275/120066819-e20b8d00-c095-11eb-9693-ada41cbfa59d.png)
![image](https://user-images.githubusercontent.com/773

[2021-05-29 10:58] tanishq-arya opened #488 "[Major Bug]: LEAKING CSS - Text size"
![image](https://user-images.githubusercontent.com/77333275/120067741-e6867480-c09a-11eb-852b-3dce73128317.png)

[2021-05-29 10:59] tanishq-arya commented on #488
Font size is fixed. @abhijeet007rocks8 please assign this to me.

[2021-05-29 11:41] garvitgupta13 opened #490 "Scroll to bottom button"
Currently the scroll to bottom button is same in both light and dark theme.
I would to change its design in dark theme
Please assign me this issue under `gssoc21`

[2021-05-29 11:55] abhijeet007rocks8 commented on #405
Looks good make the PR

[2021-05-29 11:56] garvitgupta13 opened #491 "About us page"
I pulled the latest changes and observed that in mobile view the FAQ is not visible.
I have already fixed this issue in PR #448, but due to PR #473 these changes were removed.
I would like to fix it again
![image](https://user-images.githubusercontent.com/70805691/120069249-8267ae80-c0a2-11eb-9d1d-a3b53f033bfd.png)

Please assign me this issue under `gssoc21`

[2021-05-29 11:57] garvitgupta13 opened #492 "About us page text"
The text in about us page is not visible in mobile view, we should increase its font size
![image](https://user-images.githubusercontent.com/70805691/120069330-09b52200-c0a3-11eb-961b-4c4441164523.png)

Please assign me this issue under `gssoc21`

[2021-05-29 11:59] garvitgupta13 opened #493 "Input field of home page"
![image](https://user-images.githubusercontent.com/70805691/120069383-61ec2400-c0a3-11eb-9760-182ab56da2b4.png)
The input field contains no space for a person to write text in mobile view.
Please assign me this issue under `gssoc21`

[2021-05-29 12:25] akshay1027 opened #498 "Implement code splitting"
as i have told here #496 , it has been deleted , hence I have to redo again to improve performance of this website!

[2021-05-29 12:25] akshay1027 commented on #498
@abhijeet007rocks8

[2021-05-29 13:18] akshay1027 opened #502 "mobile cant change dark/light mode button"
The go to latest message button is overlapping over the navbar dropdown

![2021-05-29 (10)](https://user-images.githubusercontent.com/65683151/120071819-7550bc80-c0ae-11eb-82da-8400e766cac3.png)

@abhijeet007rocks8 i would like to fix this

[2021-05-29 13:53] Shivangi-ch opened #506 "Compilation error"
Pulled the latest changes and server shows error.
![Screenshot from 2021-05-29 19-20-18](https://user-images.githubusercontent.com/57783826/120072842-543e9a80-c0b3-11eb-9798-af7154fc0275.png)

[2021-05-29 13:54] Shivangi-ch commented on #506
@abhijeet007rocks8 Please assign.

[2021-05-29 14:07] Shivangi-ch commented on #506
@abhijeet007rocks8 I felt this is an urgent bug so I fixed it without being assigned.
Kindly review my PR.

[2021-05-29 15:07] tanishq-arya opened #510 "[Bug]: Fix Landing Page Image on mobile"
Fix the image flex on landing page
![image](https://user-images.githubusercontent.com/77333275/120075111-9e2c7e00-c0bd-11eb-889a-1188490ca4be.png)

[2021-05-29 15:07] tanishq-arya commented on #510
@abhijeet007rocks8 please assign me this issue.

[2021-05-29 15:08] Shivangi-ch opened #511 "New Feature : Sign in with google functionality"
I would like to add a Google oAUth Sign-in .

[2021-05-29 15:08] Shivangi-ch commented on #511
@abhijeet007rocks8 Please assign

[2021-05-29 15:16] Shivangi-ch opened #512 "New Feature : Add feature to mention usernames using @"

[2021-05-29 15:16] Shivangi-ch commented on #512
@abhijeet007rocks8 Please assign.

[2021-05-29 15:34] tanishq-arya opened #514 "Remove images in mobile view for FEATURES"
![image](https://user-images.githubusercontent.com/77333275/120076055-6fb0a200-c0c1-11eb-845f-d114665d6a5d.png)

[2021-05-29 15:34] tanishq-arya commented on #514
@abhijeet007rocks8 please assign me this issue.

[2021-05-29 16:15] #388 closed

[2021-05-29 16:15] #339 closed

[2021-05-29 16:15] #379 closed

[2021-05-29 16:15] #334 closed

[2021-05-29 16:15] #335 closed

[2021-05-29 16:15] #336 closed

[2021-05-29 16:16] #389 closed

[2021-05-29 16:17] Saatvik21 commented on #491
I've fixed this in #518

[2021-05-29 16:18] akshay1027 opened #519 "no transitions for hover effects home page"
in home page ,no transitions for hover effects. Adding this will make the experience smooth! right it happens just very fast!

@abhijeet007rocks8 i would love to work on this!

[2021-05-29 16:19] akshay1027 opened #520 "no transitions for hover effects in Footer"
no transitions for hover effects in Footer, 5 elements are there, and no transitions for all of them!

@abhijeet007rocks8 i would like to fix this

[2021-05-29 16:21] Saatvik21 opened #521 "Add illustration for forgot password page"
Kindly assign me @abhijeet007rocks8

[2021-05-29 16:22] Saatvik21 opened #522 "Add illustration for reset password page"
Kindly assign me @abhijeet007rocks8

[2021-05-29 16:30] garvitgupta13 commented on #491
I have raised this issue specific to mobile view.
If you have fixed this for mobile view also then please send me a screenshot of that.

[2021-05-29 16:35] Saatvik21 commented on #491
![Screenshot_7](https://user-images.githubusercontent.com/61618767/120077842-ff5a4e80-c0c9-11eb-9862-dbeb4fd9fc6f.png)

[2021-05-29 16:36] Saatvik21 opened #527 "Scroll to bottom button overlapping with input field"
![Screenshot_5](https://user-images.githubusercontent.com/61618767/120077781-adb1c400-c0c9-11eb-8383-194dc88f38ca.png)

I would like to fix this issue

Kindly assign me @abhijeet007rocks8

[2021-05-29 16:41] tanishq-arya opened #530 "[Bug]: Logo size in mobile"
Fix the logo for smaller views.

[2021-05-29 16:41] tanishq-arya commented on #530
@abhijeet007rocks8 please assign me this issue.

[2021-05-29 16:56] garvitgupta13 commented on #491
LGTM

[2021-05-29 16:56] #491 closed

[2021-05-29 17:30] Shivangi-ch opened #531 "Add a copied status after the text is copied."
Currently there is no way to know whether the text is copied or not.
I would like to add a copied status after the text is copied.

[2021-05-29 17:30] Shivangi-ch commented on #531
@abhijeet007rocks8 Please assign.

[2021-05-29 18:16] Shivangi-ch opened #532 "Add Email -autocomplete in forgot password page."
I  would like to add Email -autocomplete in forgot password page.

[2021-05-29 18:16] Shivangi-ch commented on #532
@abhijeet007rocks8 Please assign.

[2021-05-29 18:26] anjali1102 opened #533 "Protected Routes and authentication with react and node.js"
![0_26DolC2JHA6HqXXb](https://user-images.githubusercontent.com/56559378/120081109-60d5e980-c0d9-11eb-993b-2ce1f6170896.gif)
@DhairyaBahl  can I go ahead ?

[2021-05-29 18:35] anjali1102 opened #534 "Feature of Animated Splash screen"
![1_WXZ81o-Nw6oOAY50V47omg](https://user-images.githubusercontent.com/56559378/120081205-00937780-c0da-11eb-9f9a-92f9608a33d5.gif)

Similar to this, I will enhance it more it as per the messenger

@DhairyaBahl Can I go ahead

[2021-05-29 18:46] anjali1102 opened #535 "Soothing Flipping card animation for messages sent"
Whenever you click on send icon, the messages box will perform soothing animation.

[2021-05-29 18:54] anjali1102 commented on #183
I think image feature can spam on major basis. Better to avoid it now.

[2021-05-29 18:59] anjali1102 opened #536 "Message container size expands on length of message"
Current :
![yo2](https://user-images.githubusercontent.com/56559378/120082008-19059100-c0de-11eb-9832-2cda5091ea32.PNG)

My changes :
![yo](https://user-images.githubusercontent.com/56559378/120081924-adbbbf00-c0dd-11eb-8d9e-0b964f45f4d7.PNG)

[2021-05-29 19:01] subhangi2731 commented on #8
@abhijeet007rocks8 please assign this issue to me

[2021-05-29 19:02] subhangi2731 commented on #63
@abhijeet007rocks8 please assign me this

[2021-05-29 19:12] subhangi2731 opened #537 "Support multiple markup patterns in app"
To support multiple markup patterns in the app

[2021-05-29 19:12] subhangi2731 commented on #537
@abhijeet007rocks8 please assign me this issue

[2021-05-29 19:19] Shivangi-ch opened #538 "Floating animation in svg of login page."
I would like to add Floating animation in svg of login page.

[2021-05-29 19:19] Shivangi-ch commented on #538
@abhijeet007rocks8 Please assign.

[2021-05-29 19:20] Shivangi-ch opened #539 "Floating animation in svg of sign up page."

[2021-05-29 19:20] Shivangi-ch commented on #539
@abhijeet007rocks8 Please assign.

[2021-05-29 19:21] Shivangi-ch opened #540 "Floating animation in Forgot password page."
@abhijeet007rocks8 Please assign

[2021-05-29 19:22] Shivangi-ch opened #541 "Floating animation in reset password page"
@abhijeet007rocks8 Please assign.

[2021-05-29 19:24] Shivangi-ch opened #542 "Bug:Size of message input field too big in dark theme."
![Screenshot from 2021-05-30 00-52-59](https://user-images.githubusercontent.com/57783826/120082612-7fd87980-c0e1-11eb-9c4e-65f582047e91.png)

[2021-05-29 19:24] Shivangi-ch commented on #542
@abhijeet007rocks8 Please assign.

[2021-05-29 19:49] #100 closed

[2021-05-29 20:25] #506 closed

[2021-05-29 20:27] #510 closed

[2021-05-29 20:32] #440 closed

[2021-05-29 20:33] #485 closed

[2021-05-29 20:33] #482 closed

[2021-05-29 20:35] #309 closed

[2021-05-29 20:38] #477 closed

[2021-05-29 20:38] #481 closed

[2021-05-29 20:39] #480 closed

[2021-05-29 20:43] #488 closed

[2021-05-29 20:44] #329 closed

[2021-05-29 20:44] #432 closed

[2021-05-29 20:44] #433 closed

[2021-05-29 20:45] #456 closed

[2021-05-29 20:45] #450 closed

[2021-05-30 00:33] akshay1027 opened #546 "Animation on scroll in hero section ( about us )"
check out https://www.gokion.tech/ , i have made this from scratch. As you can see animations, I want to do them here as well!

@abhijeet007rocks8

[2021-05-30 00:33] akshay1027 opened #547 "Animation on scroll in motive section ( about us )"
Animation on scroll

@abhijeet007rocks8

[2021-05-30 00:35] akshay1027 opened #548 "Animation on scroll in hero section 1 ( features )"
animation on scroll

@abhijeet007rocks8

[2021-05-30 00:35] akshay1027 opened #549 "Animation on scroll in hero 2 section ( features page )"
Animation on scroll

@abhijeet007rocks8

[2021-05-30 00:36] akshay1027 opened #550 "Animation on scroll in hero 3 section ( features page )"
Animation on scroll

@abhijeet007rocks8

[2021-05-30 00:36] akshay1027 opened #551 "Animation on scroll in hero 3 section ( features page )"
Animation on scroll in hero 2 section ( features page )

@abhijeet007rocks8

[2021-05-30 00:36] akshay1027 opened #552 "Animation on scroll in hero 4 section ( features page )"
Animation on scroll in hero 2 section ( features page )

@abhijeet007rocks8

[2021-05-30 00:37] akshay1027 opened #553 "Animation on scroll in login page"
Animation on scroll in login page

@abhijeet007rocks8

[2021-05-30 00:37] akshay1027 opened #554 "Animation on scroll in signup page"
Animation on scroll in signup page

@abhijeet007rocks8

[2021-05-30 00:38] akshay1027 opened #555 "Animation on scroll in landing page"
Animation on scroll in landing page

@abhijeet007rocks8

[2021-05-30 04:17] #387 closed

[2021-05-30 04:18] #385 closed

[2021-05-30 04:18] #502 closed

[2021-05-30 05:55] Shivangi-ch opened #558 "Compilation error"
![Screenshot from 2021-05-30 11-25-37](https://user-images.githubusercontent.com/57783826/120093738-c8238600-c139-11eb-8b5d-33520ae64d8b.png)

[2021-05-30 05:56] Shivangi-ch commented on #558
@abhijeet007rocks8 Please assign.

[2021-05-30 06:08] Shivangi-ch commented on #558
@abhijeet007rocks8  I felt this is an urgent bug so I fixed it without being assigned.
Kindly review my PR

[2021-05-30 06:28] subhangi2731 opened #561 "Add new styles header to the app"
adding new styling components for the app

[2021-05-30 06:28] subhangi2731 commented on #561
@abhijeet007rocks8 please assign this to me

[2021-05-30 06:30] #479 closed

[2021-05-30 06:30] #455 closed

[2021-05-30 06:32] #527 closed

[2021-05-30 06:43] #558 closed

[2021-05-30 06:51] Saatvik21 opened #564 "Responsiveness of Forgot Password Page"
reference #415

I made the forgot password page with full responsiveness but someone deleted the code for it. So I would like to make forgot password page responsive again.

![Screenshot_12](https://user-images.githubusercontent.com/61618767/120095053-56e7d100-c141-11eb-8ac3-2c93cf7990b6.png)
![Screenshot_13](https://user-images.githubusercontent.com/61618767/120095054-58b19480-c141-11eb-8716-84d5

[2021-05-30 06:53] Saatvik21 commented on #564
Kindly assign me @abhijeet007rocks8

[2021-05-30 06:56] subhangi2731 opened #565 "Adding private routes and giving requests to the API"
To add private routes in the react-chat app

[2021-05-30 06:56] subhangi2731 commented on #565
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 07:00] subhangi2731 opened #566 "Creating json web token in the app and setting up authentication feature"
Creating a jwt token as an authentication feature as payload

[2021-05-30 07:00] subhangi2731 commented on #566
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 07:16] tanishq-arya opened #568 "Leaking CSS - Features"
@abhijeet007rocks8 please assign this to me.

[2021-05-30 07:16] tanishq-arya opened #569 "Leaking CSS -About us"
@abhijeet007rocks8 please assign this to me.

[2021-05-30 07:26] tanishq-arya opened #570 "COMPILATION ERROR SIGNUP-SIGNIN"
![Screenshot (1825)](https://user-images.githubusercontent.com/77333275/120095951-674e7a80-c146-11eb-952b-cec67374479d.png)

[2021-05-30 07:26] tanishq-arya commented on #570
@abhijeet007rocks8 please assign me this issue.

[2021-05-30 07:26] tanishq-arya commented on #570
There are some missing components and duplicate ones too.

[2021-05-30 07:35] tanishq-arya opened #572 "Nav button for mobile"
Fix
![image](https://user-images.githubusercontent.com/77333275/120096193-a92bf080-c147-11eb-94a6-305604c5299f.png)

[2021-05-30 07:35] tanishq-arya commented on #572
@abhijeet007rocks8 please assign this to me.

[2021-05-30 09:21] tanishq-arya opened #576 "[Bug]: Navigation dropdown"
Fix this.
![Screenshot (1829)_LI](https://user-images.githubusercontent.com/77333275/120098977-92d96100-c156-11eb-9c3a-34fa61eb209f.jpg)

[2021-05-30 09:22] tanishq-arya commented on #576
@abhijeet007rocks8 please assign me this issue.

[2021-05-30 09:37] tanishq-arya opened #578 "[Bug]: Navigation Hover breaks Page"
Fix this.
![image](https://user-images.githubusercontent.com/77333275/120099372-b9989700-c158-11eb-883a-f518ef03c3a5.png)

[2021-05-30 09:38] tanishq-arya commented on #578
@abhijeet007rocks8 please assign me this issue.

[2021-05-30 14:12] JatinAgrawal94 commented on #566
Should we use Auth0 instead?

[2021-05-30 16:51] garvitgupta13 opened #596 "Make features page responsive"
![image](https://user-images.githubusercontent.com/70805691/120112859-56792580-c195-11eb-826b-3d87a4dda55a.png)
Please assign me this issue under `gssoc21`.

[2021-05-30 16:58] garvitgupta13 opened #597 "Add a logout feature"
currently, as a user enters the chat his name gets stored on the local storage page.
Add a new link where he can logout from that id and log in again.
Please assign me this issue under `gssoc21`

[2021-05-30 17:21] Shivangi-ch opened #599 "Text not visible in email input field."
![Screenshot from 2021-05-30 22-49-11](https://user-images.githubusercontent.com/57783826/120113741-81fe0f00-c199-11eb-817b-a8e1f9c47df5.png)

[2021-05-30 17:21] Shivangi-ch commented on #599
@abhijeet007rocks8 Please assign

[2021-05-30 17:27] subhangi2731 opened #600 "Adding modals and schema component"
I will add the modals and schema component

[2021-05-30 17:28] subhangi2731 commented on #600
@abhijeet007rocks8 please assign me this issue

[2021-05-30 17:31] #546 closed

[2021-05-30 17:31] subhangi2731 opened #601 "Enhancing the header and layout"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 17:32] #547 closed

[2021-05-30 18:18] #548 closed

[2021-05-30 18:19] #549 closed

[2021-05-30 18:21] #550 closed

[2021-05-30 18:22] #552 closed

[2021-05-30 18:22] #578 closed

[2021-05-30 18:27] #553 closed

[2021-05-30 18:56] #554 closed

[2021-05-30 19:23] #555 closed

[2021-05-30 19:24] #521 closed

[2021-05-30 19:28] #454 closed

[2021-05-30 19:29] #530 closed

[2021-05-30 19:30] #572 closed

[2021-05-30 19:31] #576 closed

[2021-05-30 19:33] #569 closed

[2021-05-30 19:33] #531 closed

[2021-05-30 19:37] #542 closed

[2021-05-30 19:53] Saatvik21 opened #606 "[Bug]: Contact us not Responsive"
![Screenshot_1](https://user-images.githubusercontent.com/61618767/120118149-bf20cc00-c1ae-11eb-942c-e42b7791aa28.png)

Kindly assign me @abhijeet007rocks8

[2021-05-30 20:30] Shivangi-ch opened #611 "Contents of login page are not aligned properly"
![Screenshot from 2021-05-31 01-29-50](https://user-images.githubusercontent.com/57783826/120119199-fe055080-c1b3-11eb-8311-de5a5ba3c2e4.png)

[2021-05-30 20:30] Shivangi-ch commented on #611
@abhijeet007rocks8 Please assign.

[2021-05-30 20:37] subhangi2731 opened #612 "Adding Styles and token to Sign-in form"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:38] subhangi2731 opened #613 "Adding Styles and token to the sign-up form"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:39] subhangi2731 opened #614 "Adding users to the Chat App"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:40] subhangi2731 opened #615 "Rendering users list used on both places chatbox Comp and Sign-in modal Component"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:41] subhangi2731 opened #616 "Adding errors and loading modal"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:42] subhangi2731 opened #617 "Creating a beautiful wallpaper for the users"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:43] subhangi2731 opened #618 "Fixing drop-down position"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:44] subhangi2731 opened #620 "Adding toggle component to the app"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 20:45] subhangi2731 opened #621 "Adding context Box icon to the app"
@abhijeet007rocks8 please assign this issue to me

[2021-05-30 21:00] Shivangi-ch opened #623 "Add Illustration to reset password page"
@abhijeet007rocks8 Please assign

[2021-05-30 21:12] Shivangi-ch opened #626 "Animation on scroll in forget password page"
@abhijeet007rocks8 Please assign

[2021-05-30 21:38] Shivangi-ch opened #632 "Animation on scroll in reset password page"
@abhijeet007rocks8 Please assign

[2021-05-30 21:47] Shivangi-ch opened #634 "Add feature for login with github"
@abhijeet007rocks8 Please assign

[2021-05-30 21:48] Shivangi-ch opened #635 "Text not visible in forgot password input field"

[2021-05-30 21:48] Shivangi-ch commented on #635
@abhijeet007rocks8 Please assign.

[2021-05-31 02:02] #532 closed

[2021-05-31 02:03] #511 closed

[2021-05-31 02:08] #465 closed

[2021-05-31 02:11] #522 closed

[2021-05-31 02:14] #564 closed

[2021-05-31 02:16] #539 closed

[2021-05-31 02:18] #541 closed

[2021-05-31 02:19] #540 closed

[2021-05-31 02:20] #599 closed

[2021-05-31 02:23] #566 closed

[2021-05-31 03:11] #538 closed

[2021-05-31 03:12] #613 closed

[2021-05-31 03:13] #614 closed

[2021-05-31 03:14] #612 closed

[2021-05-31 03:14] #601 closed

[2021-05-31 03:14] #600 closed

[2021-05-31 03:15] #561 closed

[2021-05-31 03:15] #537 closed

[2021-05-31 03:16] #565 closed

[2021-05-31 03:23] #490 closed

[2021-05-31 03:45] garvitgupta13 opened #639 "[BUG]: Fixing compilation error"
![image](https://user-images.githubusercontent.com/70805691/120136813-9de0cf80-c1f0-11eb-8cbc-a949e582fa39.png)

Please assign me this issue under `gssoc21`

[2021-05-31 04:03] tanishq-arya commented on #639
Already solved #570

[2021-05-31 04:07] garvitgupta13 opened #642 "Hide login and signup buttons for logged in users"
If a user is already logged in there is no need for him to display login and signup buttons. They should be visible only if user is not logged in.
Please assign me this issue under `gssoc21`

[2021-05-31 04:18] #570 closed

[2021-05-31 04:19] garvitgupta13 commented on #639
![image](https://user-images.githubusercontent.com/70805691/120139048-4b55e200-c1f5-11eb-8634-6056635ecf45.png)
Your PR doesn't fix anything, however, on pulling the latest commit I observed the compilation error hence fixed it

[2021-05-31 04:23] #492 closed

[2021-05-31 04:24] tanishq-arya commented on #639
I don't know  why it's 0 but the files are modified when I view the commits.
![image](https://user-images.githubusercontent.com/77333275/120139467-2746d080-c1f6-11eb-957b-96a1121862d0.png)

[2021-05-31 04:26] garvitgupta13 commented on #639
There is 0 changes because the files you changes were already fixed in pervious PR, but still there was a extra div in signup.jsx which I fixed

[2021-05-31 04:40] #597 closed

[2021-05-31 04:53] abhijeet007rocks8 commented on #623
Already open

[2021-05-31 05:00] #512 closed

[2021-05-31 05:21] abhijeet007rocks8 commented on #632
Open in #551

[2021-05-31 05:59] #632 closed

[2021-05-31 06:00] #623 closed

[2021-05-31 06:02] Saatvik21 opened #645 "Multiple Signup Buttons and Content Not Aligned"
There are multiple signup buttons in signup page and the contents are not properly aligned.

![Screenshot_6](https://user-images.githubusercontent.com/61618767/120147165-e05fd780-c203-11eb-8dff-24a8ffa90cf9.png)

Kindly assign me this issue @abhijeet007rocks8